// .column-right {
//   border: 5px dotted green;
// }

// .column-right-content {
//   border: 5px dotted pink;
// }

.sit-sys-dictionaries-content {
  border: 15px dotted green;
}
.content-jc-test {
  border: 10px dotted red;
}


.data-set-container {
  // border: 5px dotted blue;
  flex: 0 0 50%;
}


// #wrapper{
//   min-height: 100%;
//   height: 100%;
//   box-sizing: border-box;/*new*/
//   //background-color: rgba(255, 255, 255, 0.733);
// }

// #tab-group{
//   height: 100%;
// }
// #tab-group mat-tab-body {
//   flex-grow: 1;
// }


div.json{
  overflow: hidden;
  height: calc(100vh - 130px);
}

::ng-deep .ngx-json-viewer{
  overflow: auto !important;
}
