<sit-dict-container ident="sitSysDictionaries" #sitDictcontainer fxFill>
  <div fxLayout="row" fxFill  class="content" fxLayoutGap="5px">
    <div fxLayout="column" fxFlex=40>
      <sit-data-set-container ident="sitFilterSysDictionaries" >
        <sit-data-input #sitControl field="searchSysDictionaries" label="Filtruj" appearance="outline" style="width: 300px" showRefreshButton="true"></sit-data-input>
      </sit-data-set-container>
      <sit-data-set-container ident="sitSysDictionaries" fxFlex fxLayout="column">
        <div class="sit-proc-bar">
          <mat-toolbar color="accent">
            <mat-toolbar-row>
              <div class="sit-proc-buttons-row">
                <sit-proc-button #sitAction actionIdent="insert" componentParamsIdent="sitSysDictionariesEdit" openKind="EXPANDER" tooltip="Nowy" color="primary" icon="post_add" >              </sit-proc-button>
                <sit-proc-button #sitAction actionIdent="update" componentParamsIdent="sitSysDictionariesEdit" openKind="EXPANDER" tooltip="Edycja" color="primary" icon="edit">              </sit-proc-button>
                <sit-proc-button #sitAction actionIdent="delete" color="primary" icon="delete" delete="true" matType="mat-stroked-button"></sit-proc-button>
                <sit-proc-button #sitAction actionIdent="sitProcDictionaryImportFromInfo" color="primary" icon="get_app" tooltip="Importuj z pliku" matType="mat-stroked-button"></sit-proc-button>
              </div>
            </mat-toolbar-row>
          </mat-toolbar>
        </div>
        <div class="sit-grid-title">Dictionaries</div>
        <div class="data-table" fxFlex>
          <ag-grid-angular #sitSetDataSource
            #agGrid
            id="gridSysDictionaries"
            style="width: 100%; height: 100%;"
            class="ag-theme-balham"
            [columnDefs]="columnDefs"
            [defaultColDef]="defaultColDef"
            [rowSelection]="rowSelection"
            [rowMultiSelectWithClick]="true"
            [enableCellTextSelection]="true"
            [enableRangeSelection]="false"
            [popupParent]="popupParent"
            [frameworkComponents]="frameworkComponents"
            (rowClicked)="onRowClicked($event)"
            (gridReady)="onGridReady($event)"
            (firstDataRendered)="onFirstDataRendered($event)"
          >
          </ag-grid-angular>
        </div>
      </sit-data-set-container>
    </div>
    <div fxLayout="column" fxFlex=60>
      <mat-tab-group id="tab-group" animationDuration="0ms">
        <mat-tab label="Definicja">
        <div fxFill fxLayout="column">
          <div fxLayout="column" fxFlex=50>
            <sit-data-set-container ident="sitFilterSysDatasources" >
              <sit-data-input #sitControl field="searchSysDatasources" label="Filtruj" appearance="outline" style="width: 300px" showRefreshButton="true"></sit-data-input>
            </sit-data-set-container>
            <sit-data-set-container ident="sitSysDatasources" fxFlex fxLayout="column">
              <div class="sit-proc-bar">
                <mat-toolbar color="accent">
                  <mat-toolbar-row>
                    <div class="sit-proc-buttons-row">
                      <sit-proc-button #sitAction actionIdent="insert" componentParamsIdent="sitSysDatasourcesEdit" openKind="EXPANDER" tooltip="Nowy" color="primary" icon="post_add" >              </sit-proc-button>
                      <sit-proc-button #sitAction actionIdent="update" componentParamsIdent="sitSysDatasourcesEdit" openKind="EXPANDER" tooltip="Edycja" color="primary" icon="edit">              </sit-proc-button>
                      <sit-proc-button #sitAction actionIdent="delete" color="primary" icon="delete" delete="true" matType="mat-stroked-button"></sit-proc-button>
                    </div>
                  </mat-toolbar-row>
                </mat-toolbar>
              </div>
              <div class="sit-grid-title">Datasources</div>
              <div class="data-table" fxFlex>
                <ag-grid-angular #sitSetDataSource
                  #agGrid
                  id="gridSysDatasources"
                  style="width: 100%; height: 100%;"
                  class="ag-theme-balham"
                  [columnDefs]="columnDefsDatasources"
                  [defaultColDef]="defaultColDef"
                  [rowSelection]="rowSelection"
                  [rowMultiSelectWithClick]="true"
                  [enableCellTextSelection]="true"
                  [enableRangeSelection]="false"
                  [popupParent]="popupParent"
                  [frameworkComponents]="frameworkComponents"
                  (rowClicked)="onRowClickedDatasources($event)"
                  (gridReady)="onGridReadyDatasources($event)"
                  (firstDataRendered)="onFirstDataRendered($event)"
                >
                </ag-grid-angular>
              </div>
            </sit-data-set-container>
            </div>
            <div fxLayout="column" fxFlex=50>
              <sit-data-set-container ident="sitFilterSysActions" >
                <sit-data-input #sitControl field="searchSysActions" label="Filtruj" appearance="outline" style="width: 300px" showRefreshButton="true"></sit-data-input>
              </sit-data-set-container>
              <sit-data-set-container ident="sitSysActions" fxFlex fxLayout="column">
                <div class="sit-proc-bar">
                  <mat-toolbar color="accent">
                    <mat-toolbar-row>
                      <div class="sit-proc-buttons-row">
                        <sit-proc-button #sitAction actionIdent="insert" componentParamsIdent="sitSysActionsEdit" openKind="EXPANDER" tooltip="Nowy" color="primary" icon="post_add" >              </sit-proc-button>
                        <sit-proc-button #sitAction actionIdent="update" componentParamsIdent="sitSysActionsEdit" openKind="EXPANDER" tooltip="Edycja" color="primary" icon="edit">              </sit-proc-button>
                        <sit-proc-button #sitAction actionIdent="delete" color="primary" icon="delete" delete="true" matType="mat-stroked-button"></sit-proc-button>
                      </div>
                    </mat-toolbar-row>
                  </mat-toolbar>
                </div>
                <div class="sit-grid-title">Actions</div>
                <div class="data-table" fxFlex>
                  <ag-grid-angular #sitSetDataSource
                    #agGrid
                    id="gridSysActions"
                    style="width: 100%; height: 100%;"
                    class="ag-theme-balham"
                    [columnDefs]="columnDefsActions"
                    [defaultColDef]="defaultColDef"
                    [rowSelection]="rowSelection"
                    [rowMultiSelectWithClick]="true"
                    [enableCellTextSelection]="true"
                    [enableRangeSelection]="false"
                    [popupParent]="popupParent"
                    [frameworkComponents]="frameworkComponents"
                    (rowClicked)="onRowClickedActions($event)"
                    (gridReady)="onGridReadyActions($event)"
                    (firstDataRendered)="onFirstDataRendered($event)"
                  >
                  </ag-grid-angular>
                </div>
              </sit-data-set-container>

            </div>
          </div>
        </mat-tab>
        <mat-tab label="Info">
          <sit-data-set-container ident="sitSysDictionaries" fxLayout="column" fxFill>
            <div fxLayout="row" fxFill>
              <sit-data-textarea type="textarea" #sitControl field="DictionaryInfo" label="" appearance="outline" [readonly]=true fxFill></sit-data-textarea>
            </div>
          </sit-data-set-container>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</sit-dict-container>
