.sit-pulpit-component-container {


    .sit-pulpit-bottom-bar {
        background-color: var(--app-menu-background-color);
        color: var(--app-menu-color);
        text-align: right;
        padding-right: 5px;
    }

    .sit-dashboard-messages {
        // border: 3px solid green;
        flex: 0 0 min-content;
        // margin-bottom: .5em;
        padding-bottom: .5em;

        .tasks-count {
            display: flex;
            flex: auto;
            align-items: center;
            justify-content: center;

            span{
                font-size: 1.2em;
                font-weight: 600;
            }
        }

        .sit-refresh-button-component {
            align-items: flex-end;
            .mat-flat-button {
                min-height: 2.1em;
                min-width: 7em;
            }
        }

        .ag-root-wrapper-body.ag-layout-normal {
            // border: 8px solid #ccc;
            flex: 0 1 min-content;
            min-height: 5.5em;

            .ag-overlay {
                // border: 5px solid red;
                top: 2.7em;
                height: auto;
                padding: .8em;
            }
        }

        // ag-grid-angular {
        //     // border: 3px solid red;

        //     .ag-root-wrapper.ag-layout-normal {
        //         // border: 3px solid blue;

        //         .ag-root-wrapper-body.ag-layout-normal {
        //             // border: 3px solid #ccc;
        //             flex: 0 1 min-content;
        //         }

        //     }
        // }
        //.ag-root-wrapper-body.ag-layout-normal
    }



}


