<sit-dict-container ident="sitWmsProducts" #sitDictcontainer fxFlexFill>
  <div fxLayout="column" fxFill class="content">
    <div class="sit-filter-bar">
      <sit-data-set-container ident="sitFilterProducts" fxLayout="row">
        <sit-data-input #sitControl field="Search" label="Filtruj produkty" placeholder="" appearance="outline" style="width: 300px;" showRefreshButton="true"></sit-data-input>
      </sit-data-set-container>
    </div>
    <div fxLayout="column" fxFlex>
      <as-split direction="horizontal">
        <as-split-area [size]="70">
          <sit-data-set-container  ident="sitProducts" showActionsToolbar="true" (activeRowChanged)="activeRowProductsChanged($event)" fxFill fxLayout="column">
              <div class="data-table" fxFlex>
              <ag-grid-angular
                  #sitSetDataSource
                  #sitProductsGrid
                  style="width: 100%; height: 100%;"
                  class="ag-theme-balham"
              >
              </ag-grid-angular>
              </div>
          </sit-data-set-container>
        </as-split-area>
        <as-split-area [size]="30">
          <mat-tab-group id="tab-group" animationDuration="0ms">
            <mat-tab label="Zdjęcie">
              <div class="content" fxFill fxLayout="column" fxLayoutAlign=" center" >
                <div fxLayout="row" fxLayoutAlign="start start"><a href="{{link}}" target="_blank"><img src="{{link}}" height="500"></a></div>
                <br>
                <ngx-barcode [bc-value]="ean" [bc-display-value]="true" [bc-height]="30"  [bc-font-size]="15" [bc-background]="contentColor"></ngx-barcode>
              </div>
            </mat-tab>
            <mat-tab label="Składowe kompletu">
              <as-split direction ="vertical" fxLayout="column">
                <as-split-area [size]="30">
                  <sit-data-set-container  ident="sitProductSetHeaders" showActionsToolbar="true" fxFill fxLayout="column">
                    <div class="data-table" fxFlex>
                      <ag-grid-angular
                        #sitSetDataSource
                        #sitProductsGrid
                        style="width: 100%; height: 100%;"
                        class="ag-theme-balham"
                      >
                      </ag-grid-angular>
                    </div>
                  </sit-data-set-container>
                </as-split-area>
                <as-split-area [size]="70">
                  <sit-data-set-container  ident="sitProductSetPositions" showActionsToolbar="true" fxFill fxLayout="column">
                    <div class="data-table" fxFlex>
                      <ag-grid-angular
                        #sitSetDataSource
                        #sitProductsGrid
                        style="width: 100%; height: 100%;"
                        class="ag-theme-balham"
                      >
                      </ag-grid-angular>
                    </div>
                  </sit-data-set-container>
                </as-split-area>
              </as-split>
            </mat-tab>
          </mat-tab-group>
        </as-split-area>
      </as-split>
    </div>
  </div>
</sit-dict-container>
  