<sit-proc-params
  [(actionExecuteData)]="actionExecuteData"
  >
  <sit-data-set-container ident="sitProductWarehousesConfigEdit">
    <div class="sit-proc-params-content" fxLayout="column">
      <div fxLayout="column">
        <sit-data-input type="text" #sitControl field="WarehouseIdent" label="Magazyn" appearance="outline"
          [lookupDisplayFields] = "['WarehouseIdent', 'WarehouseName']"
        ></sit-data-input>
        <sit-data-input type="number" #sitControl field="MinimumLevel" label="Stan min." appearance="outline" style="width: 100px"></sit-data-input>
      </div>
    </div>
  </sit-data-set-container>
</sit-proc-params>
