<div class="content">
  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>CompanyId</mat-label>
    <input matInput value="{{ activeRowRailConfigurations?.sitCompaniesId }}" >
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>OperationIdent</mat-label>
    <input matInput value="{{ activeRowRailConfigurations?.OperationIdent }}" >
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>ClientGuid</mat-label>
    <input matInput value="{{ activeRowRailConfigurations?.ClientGuid }}" >
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>UserLogin</mat-label>
    <input matInput value="{{ activeRowRailConfigurations?.UserLogin }}" >
  </mat-form-field>
  <p>
  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Data</mat-label>
    <textarea matInput rows="20" value="{{ activeRowRailConfigurations?.Data }}" style="resize:none;"></textarea>
  </mat-form-field>
  </p>
</div>
