<sit-proc-params
   [(actionExecuteData)]="actionExecuteData"
  >
  <sit-data-set-container ident="sitMenuEdit">
      <div class="sit-proc-params-content">
        <!-- <div class="sit-proc-expander-title" *ngIf="actionIdent === 'insert'">Nowe menu</div>
        <div class="sit-proc-expander-title" *ngIf="actionIdent === 'update'">Edycja menu</div>
 -->
        <div fxLayout="column">
          <sit-data-input type="text" id="Symbol" #sitControl field="Symbol" label="Symbol" [showRefresh]=false appearance="outline" style="width: 400px"></sit-data-input>
          <sit-data-input type="text" id="Caption" #sitControl field="Caption" label="Opis" [showRefresh]=false appearance="outline"></sit-data-input>
        </div>
      </div>

  </sit-data-set-container>
</sit-proc-params>
