<sit-dict-container ident="sitCashFlow" #sitDictcontainer ngClass="flex-container-column">
  
  <sit-data-set-container ident="sitFilter" ngClass="flex-container-row sit-filter-bar">

    <sit-data-input #sitControl field="year" label="Rok" appearance="outline" type="number" digitsInfo="1.0-0" style="width: 80px;"></sit-data-input>
    <sit-data-input #sitControl field="month" label="Miesiąc" appearance="outline" type="number" digitsInfo="1.0-0" showRefreshButton="true" style="width: 130px;"></sit-data-input>

  </sit-data-set-container>

  <sit-data-set-container  ident="sitCashFlowIncome" showActionsToolbar="true" ngClass="flex-container-column">
    <ag-grid-angular #sitSetDataSource class="ag-theme-balham"></ag-grid-angular>
  </sit-data-set-container>

</sit-dict-container>
