<sit-proc-params
  [(actionExecuteData)]="actionExecuteData"
  >
  <sit-data-set-container ident="sitEmployeesSettlementsEdit">
    <div class="sit-proc-params-content" fxLayout="column">
      <div fxLayout="column">
        <sit-data-input type="text" #sitControl field="CustomerCostCenterIdent" label="MPK" appearance="outline" fxFlex></sit-data-input>
        <sit-data-input type="number" #sitControl field="AdditionCust01" label="Oświadczenia i zezwolenia na pracę" appearance="outline" fxFlex></sit-data-input>
        <sit-data-input type="number" #sitControl field="AdditionCust02" label="Odzież robocza" appearance="outline" fxFlex></sit-data-input>
        <sit-data-input type="number" #sitControl field="AdditionCust03" label="Badania lekarskie" appearance="outline" fxFlex></sit-data-input>
        <sit-data-input type="number" #sitControl field="AdditionCust04" label="Szkolenia BHP i inne" appearance="outline" fxFlex></sit-data-input>
        <sit-data-input type="number" #sitControl field="AdditionCust05" label="Transport" appearance="outline" fxFlex></sit-data-input>
        <sit-data-input type="number" #sitControl field="AdditionCust06" label="Posiłki regeneracyjne i karty lunch" appearance="outline" fxFlex></sit-data-input>
        <sit-data-input type="number" #sitControl field="AdditionCust07" label="Zakwaterowanie" appearance="outline" fxFlex></sit-data-input>
        <sit-data-input type="number" #sitControl field="AdditionCustOther" label="Inne dod. koszty" appearance="outline" fxFlex></sit-data-input>
        <sit-data-input type="number" #sitControl field="Discount" label="Rabat" appearance="outline" fxFlex></sit-data-input>
      </div>
    </div>
  </sit-data-set-container>
</sit-proc-params>
