.sit-office-doc-positions-edit-component{
  .sit-office-doc-positions-edit-container {
    flex: auto;

    .sit-actions-form-container-component {
      max-width: 31em;

      > * {


        &[field="OrdNumber"],
        &[field="CurrencyIdent"] {
          margin-bottom: .5em;
        }

      }


      [field="Quantity"] {
        flex: 0 0 6em;
      }
  
      // [field="Price"] {
      //   flex: 0 0 7em;
      // }

      [field="UnitIdent"] {
        flex: 0 0 6em;
      }

      [field="VATRatesIdent"] {
        flex: 0 0 6em;
      }
  
    }
      
  }
}
