<sit-proc-params
  [(actionExecuteData)]="actionExecuteData"
  ngClass="proc-params-sodh-edit flex-container-column"
  >
  <sit-data-set-container ident="sitOfficeDocPositionsEdit" ngClass="sit-office-doc-positions-edit-container flex-container-row">
    
    <div ngClass="form-container flex-container-column">

      <div ngClass="flex-container-row mb-05">
        <sit-data-label #sitControl field="OrdNumber" label="Pozycja" style="flex: 0 0 0"></sit-data-label>
      </div>
      <div ngClass="flex-container-row mb-05">
        <sit-data-label #sitControl field="CurrencyIdent" label="Waluta" style="flex: 0 0 0"></sit-data-label>
      </div>
      <div ngClass="flex-container-row">
        <sit-data-input #sitControl field="PositionDescription" label="Opis pozycji" required appearance="outline" ></sit-data-input>
      </div>
      <div ngClass="flex-container-row">
        <sit-data-input #sitControl field="Quantity" label="Ilość" required type="number" digitsInfo="1.2-2"  appearance="outline"></sit-data-input>
        <sit-data-input #sitControl field="Price" label="Cena" required type="number" digitsInfo="1.2-2"  appearance="outline"></sit-data-input>
        <sit-data-input #sitControl field="UnitIdent" label="JM" required appearance="outline" ></sit-data-input>
        <sit-data-input #sitControl field="VATRatesIdent" label="St.VAT" required appearance="outline" ></sit-data-input>
      </div>
      <div ngClass="flex-container-row">
        <sit-data-input #sitControl field="NetCurrency" label="Netto" required type="number" digitsInfo="1.2-2" appearance="outline"></sit-data-input>
        <sit-data-input #sitControl field="VATCurrency" label="VAT" required type="number" digitsInfo="1.2-2" appearance="outline"></sit-data-input>
        <sit-data-input #sitControl field="GrossCurrency" label="Brutto" required digitsInfo="1.2-2" appearance="outline" ></sit-data-input>
      </div>
      <div ngClass="flex-container-row">
        <sit-data-input #sitControl field="Net" label="Netto PLN" required type="number" digitsInfo="1.2-2" appearance="outline"></sit-data-input>
        <sit-data-input #sitControl field="VAT" label="VAT PLN" required type="number" digitsInfo="1.2-2"appearance="outline"></sit-data-input>
        <sit-data-input #sitControl field="Gross" label="Brutto PLN" required digitsInfo="1.2-2" appearance="outline" ></sit-data-input>
      </div>

      
    </div>


  </sit-data-set-container>
</sit-proc-params>