<div class="content">
  <!-- <p-tabView>
    <p-tabPanel header="Header 1"> -->
      <div class="data-table">
        <p-table [columns]="cols" [value]="dataSource" sortMode="multiple" [paginator]="true" [rows]="10" [resizableColumns]="true">
          <ng-template pTemplate="caption">Nazwa tabeli
          </ng-template>
          <ng-template pTemplate="header" >
            <tr>
              <th *ngFor="let col of cols" [pSortableColumn]="col.field">{{col.header}}<p-sortIcon [field]="col.field"></p-sortIcon></th>
            </tr>
            <tr>
              <th *ngFor="let col of cols" [ngSwitch]="col.field">
                  <input *ngSwitchCase="'vin'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                  <!-- <div *ngSwitchCase="'year'">
                      {{yearFilter}}
                      <i class="pi pi-times" (click)="yearFilter=null;tt.filter(null, col.field, col.filterMatchMode)"></i>
                      <p-slider [style]="{'width':'100%','margin-top':'8px'}" [(ngModel)]="yearFilter" [min]="1970" [max]="2010" (onChange)="onYearChange($event, dt)"></p-slider>
                  </div>
                  <p-dropdown *ngSwitchCase="'brand'" [options]="brands" [style]="{'width':'100%'}" (onChange)="tt.filter($event.value, col.field, 'equals')"></p-dropdown>
                  <p-multiSelect *ngSwitchCase="'color'" [options]="colors" defaultLabel="All Colors" (onChange)="tt.filter($event.value, col.field, 'in')"></p-multiSelect> -->
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-car>
            <tr>
              <td *ngFor="let col of cols" class="ui-resizable-column">{{car[col.field]}}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="footer">
            <tr>
              <th *ngFor="let col of cols">{{col.header}}</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            There are {{cars?.length}} cars
        </ng-template>
        </p-table>
      </div>
    <!-- </p-tabPanel>
  </p-tabView> -->
</div>
