<sit-dict-container ident="sitB2cConfig" #sitDictcontainer ngClass="flex-container-column">
    <as-split direction="vertical">
      <as-split-area [size]="30">
        <div ngClass="flex-container-column content">
          <sit-data-set-container ident="sitB2CConfigFilter" ngClass="flex-container-row sit-filter-bar">
            <sit-data-input #sitControl field="searchConfig" label="Filtruj" placeholder="" appearance="outline" style="width: 300px;" [showRefreshButton]="true"></sit-data-input>
          </sit-data-set-container>
          <sit-data-set-container ident="sitB2CConfig" [showActionsToolbar]="true" ngClass="flex-container-column">
            <ag-grid-angular #sitSetDataSource class="ag-theme-balham"></ag-grid-angular>
          </sit-data-set-container>
        </div>
      </as-split-area>
      <as-split-area [size]="70">
        <div fxLayout="column" fxFill>
          <mat-tab-group id="tab-group" animationDuration="0ms">
            <mat-tab label="Produkty">
              <as-split #sitSpliter direction="horizontal">
                <as-split-area [size]="65">
                  <div fxFill fxLayout="column">
                    <sit-data-set-container ident="sitB2CProductsFilter" >
                      <div class="sit-filter-bar" fxLayout="row">
                        <sit-data-input #sitControl field="searchProducts" label="Filtruj" placeholder="" appearance="outline" style="width: 300px;" [showRefreshButton]="true"></sit-data-input>
                      </div>
                    </sit-data-set-container> 
                    <sit-data-set-container ident="sitB2CProducts" [showActionsToolbar]="true" fxFlex fxLayout="column">
                      <div class="data-table" fxFlex>
                          <ag-grid-angular
                            #sitSetDataSource
                            style="width: 100%; height: 100%;"
                            class="ag-theme-balham"
                          >
                          </ag-grid-angular>
                        </div>
                    </sit-data-set-container>
                  </div>
                </as-split-area>
                <as-split-area [size]="35" ngClass="flex-container-column">
                  <sit-data-set-container ident="sitB2CProductsHistory" [showActionsToolbar]="false" fxFlex fxLayout="column">
                    <div class="data-table" fxFlex>
                        <ag-grid-angular
                          #sitSetDataSource
                          style="width: 100%; height: 100%;"
                          class="ag-theme-balham"
                        >
                        </ag-grid-angular>
                      </div>
                  </sit-data-set-container>
                </as-split-area>
              </as-split>
            </mat-tab>
            <mat-tab label="Grupy wiekowe">
              <div fxFill fxLayout="column">
                <sit-data-set-container ident="sitB2CPublicationAudienceFilter" >
                  <div class="sit-filter-bar" fxLayout="row">
                    <sit-data-input #sitControl field="searchAudience" label="Filtruj" placeholder="" appearance="outline" style="width: 300px;" [showRefreshButton]="true"></sit-data-input>
                  </div>
                </sit-data-set-container> 
                <sit-data-set-container ident="sitB2CPublicationAudience" [showActionsToolbar]="true" fxFlex fxLayout="column">
                  <div class="data-table" fxFlex>
                      <ag-grid-angular
                        #sitSetDataSource
                        style="width: 100%; height: 100%;"
                        class="ag-theme-balham"
                      >
                      </ag-grid-angular>
                    </div>
                </sit-data-set-container>
              </div>
            </mat-tab>
            <mat-tab label="Formy wydania">
              <div fxFill fxLayout="column">
                <sit-data-set-container ident="sitB2CPublicationsFormsOfReleaseFilter" >
                  <div class="sit-filter-bar" fxLayout="row">
                    <sit-data-input #sitControl field="searchFormsOfRelease" label="Filtruj" placeholder="" appearance="outline" style="width: 300px;" [showRefreshButton]="true"></sit-data-input>
                  </div>
                </sit-data-set-container> 
                <sit-data-set-container ident="sitB2CPublicationsFormsOfRelease" [showActionsToolbar]="true" fxFlex fxLayout="column">
                  <div class="data-table" fxFlex>
                      <ag-grid-angular
                        #sitSetDataSource
                        style="width: 100%; height: 100%;"
                        class="ag-theme-balham"
                      >
                      </ag-grid-angular>
                    </div>
                </sit-data-set-container>
              </div>
            </mat-tab>
            <mat-tab label="Imprinty">
              <div fxFill fxLayout="column">
                <sit-data-set-container ident="sitB2CImprintsFilter" >
                  <div class="sit-filter-bar" fxLayout="row">
                    <sit-data-input #sitControl field="searchImprint" label="Filtruj" placeholder="" appearance="outline" style="width: 300px;" [showRefreshButton]="true"></sit-data-input>
                  </div>
                </sit-data-set-container> 
                <sit-data-set-container ident="sitB2CImprints" [showActionsToolbar]="true" fxFlex fxLayout="column">
                  <div class="data-table" fxFlex>
                      <ag-grid-angular
                        #sitSetDataSource
                        style="width: 100%; height: 100%;"
                        class="ag-theme-balham"
                      >
                      </ag-grid-angular>
                    </div>
                </sit-data-set-container>
              </div>
            </mat-tab>
            <mat-tab label="Tematyka">
              <div fxFill fxLayout="column">
                <sit-data-set-container ident="sitB2CPublicationSubjectsFilter" >
                  <div class="sit-filter-bar" fxLayout="row">
                    <sit-data-input #sitControl field="searchPublicationSubject" label="Filtruj" placeholder="" appearance="outline" style="width: 300px;" [showRefreshButton]="true"></sit-data-input>
                  </div>
                </sit-data-set-container> 
                <sit-data-set-container ident="sitB2CPublicationSubjects" [showActionsToolbar]="true" fxFlex fxLayout="column">
                  <div class="data-table" fxFlex>
                      <ag-grid-angular
                        #sitSetDataSource
                        style="width: 100%; height: 100%;"
                        class="ag-theme-balham"
                      >
                      </ag-grid-angular>
                    </div>
                </sit-data-set-container>
              </div>
            </mat-tab>
            <mat-tab label="Twórcy">
              <div fxFill fxLayout="column">
                <sit-data-set-container ident="sitB2CContributorsFilter" >
                  <div class="sit-filter-bar" fxLayout="row">
                    <sit-data-input #sitControl field="searchContributor" label="Filtruj" placeholder="" appearance="outline" style="width: 300px;" [showRefreshButton]="true"></sit-data-input>
                  </div>
                </sit-data-set-container> 
                <sit-data-set-container ident="sitB2CContributors" [showActionsToolbar]="true" fxFlex fxLayout="column">
                  <div class="data-table" fxFlex>
                      <ag-grid-angular
                        #sitSetDataSource
                        style="width: 100%; height: 100%;"
                        class="ag-theme-balham"
                      >
                      </ag-grid-angular>
                    </div>
                </sit-data-set-container>
              </div>
            </mat-tab>
            <mat-tab label="Log wysyłek">
              <div fxFill fxLayout="column">
                <sit-data-set-container ident="sitB2CLogFilter" >
                  <div class="sit-filter-bar" fxLayout="row">
                    <sit-data-input #sitControl field="searchMessageType" type="text" label="Typ komunikat" appearance="outline" style="width: 200px;" [refreshOnChange]="false"></sit-data-input>
                    <sit-data-input #sitControl field="searchDateFrom" type="datetime-local" label="Data od" appearance="outline" style="width: 170px;" [refreshOnChange]="false"></sit-data-input>
                    <sit-data-input #sitControl field="searchDateTo" type="datetime-local" label="Data do" appearance="outline" style="width: 230px;"
                      [refreshOnChange]="false" showRefreshButton="true"></sit-data-input>
                  </div>
                </sit-data-set-container> 
                <sit-data-set-container ident="sitB2CLog" [showActionsToolbar]="true" fxFlex fxLayout="column">
                  <div class="data-table" fxFlex>
                      <ag-grid-angular
                        #sitSetDataSource
                        style="width: 100%; height: 100%;"
                        class="ag-theme-balham"
                      >
                      </ag-grid-angular>
                    </div>
                </sit-data-set-container>
              </div>
            </mat-tab>    
          </mat-tab-group>
        </div>
      </as-split-area>
    </as-split>
  </sit-dict-container>
  