<sit-proc-params
   [(actionExecuteData)]="actionExecuteData"
  >
  <sit-data-set-container ident="sitWmsPackingContainerProductsEdit">
    <div class="sit-proc-params-content" fxLayout="column">
      <div fxLayout="row">
        <sit-data-input type="text" #sitControl field="EAN" label="Produkt" appearance="outline"
          [lookupDisplayFields] = "['EAN', 'Quantity']"></sit-data-input>
        <sit-data-label #sitControl type="text" field="ProductIdent" label="" labelWidth="10"></sit-data-label>
      </div>
      <sit-data-label #sitControl type="text" field="ProductName" label=" " labelWidth="0"></sit-data-label>
      <sit-data-input type="number" #sitControl field="Quantity" label="Ilość" digitsInfo="1.0-4" appearance="outline" style="width: 100px"></sit-data-input>
    </div>
  </sit-data-set-container>
</sit-proc-params>
