<sit-proc-params
   [(actionExecuteData)]="actionExecuteData"
  >
  <sit-data-set-container ident="sitEmployeesEdit">
    <div class="sit-proc-params-content" fxLayout="column">
      <sit-data-label type="number" #sitControl field="EmployeeName" label="Pracownik:"></sit-data-label>
      <sit-data-input #sitControl type="text" field="HRCompanyHierarchyIdent" label="Stanowisko" appearance="outline"
        [lookupDisplayFields] = "['HRCompanyHierarchyIdentLvl', 'HRCompanyHierarchyParentIdent']"
      ></sit-data-input>
      <sit-data-input #sitControl type="text" field="VacationRequestAcceptEmployeeName" label="Osoba akceptująca urlop" appearance="outline"
        [lookupDisplayFields] = "['EmployeeName']"
      ></sit-data-input> 
    </div>
  </sit-data-set-container>
</sit-proc-params>
