<sit-proc-params
  [(actionExecuteData)]="actionExecuteData"
  >
  <sit-data-set-container ident="sitAcceptancePathsDefEdit">
    <div class="sit-proc-params-content" fxLayout="column" style="width: 500px;height: 250px;">
      <div fxLayout="row">
        <sit-data-input type="text" #sitControl field="AcceptancePathIdent" label="Identyfikator akceptacji" appearance="outline" style="width: 150px"></sit-data-input>
				<sit-data-input type="text" #sitControl field="AcceptancePathName" label="Nazwa akceptacji" appearance="outline" fxFlex></sit-data-input>
      </div>
      <div fxLayout="row">
        <sit-data-input type="text" #sitControl field="AcceptancePathDesc" label="Opis" appearance="outline" fxFlex></sit-data-input>
      </div>			  
      <div fxLayout="row">
        <sit-data-input type="text" #sitControl field="MailTemplateName" label="Szablon maila" appearance="outline" style="width: 300px"
          [lookupDisplayFields] = "['MailTemplateIdent', 'MailTemplateName']"></sit-data-input>
      </div>
      <div fxLayout="row">
				<sit-data-input type="text" #sitControl field="MailBodyContentDataFunction" label="Funkcja dla parametrów treści maila" appearance="outline" fxFlex></sit-data-input>
      </div>
    </div>
  </sit-data-set-container>
</sit-proc-params>
