<sit-proc-params
  [(actionExecuteData)]="actionExecuteData"
  >
  <sit-data-set-container ident="sitRailConfigurationsEdit">
    <div class="sit-proc-params-content" fxLayout="column">
      <sit-data-checkbox #sitControl field="IsActive" label="Aktywny"></sit-data-checkbox>
      <div fxLayout="row">
        <sit-data-input type="number" #sitControl field="sitCompaniesId" label="ID firmy" [showRefresh]=false appearance="outline" style="width: 100px"></sit-data-input>
        <sit-data-input type="text" #sitControl field="CompanyIdent" label="Firma" [showRefresh]=false appearance="outline"></sit-data-input>
        <sit-data-input type="number" #sitControl field="sitWSUsersId" label="User Id" [showRefresh]=false appearance="outline" style="width: 100px"></sit-data-input>
        <sit-data-input type="text" #sitControl field="UserLogin" label="Użytkownik" [showRefresh]=false appearance="outline"></sit-data-input>
        <sit-data-input type="number" #sitControl field="Timeout" label="Timeout" [showRefresh]=false appearance="outline" ></sit-data-input>
        <sit-data-input type="text" #sitControl field="Source" label="Źródło" [showRefresh]=false appearance="outline"></sit-data-input>
      </div>

      <div fxLayout="row">
        <sit-data-input type="text" #sitControl field="ClientGuid" label="GUID Rail'a" [showRefresh]=false appearance="outline" style="width: 350px;"></sit-data-input>
        <sit-data-input type="text" #sitControl field="OperationIdent" label="Identyfikator operacji" [showRefresh]=false appearance="outline" style="width: 100%;"></sit-data-input>
      </div>

      <div fxLayout="row">
        <sit-data-input type="text" #sitControl field="TransformProcedure" label="Procedura transformująca" [showRefresh]=false appearance="outline" style="width: 100%;"></sit-data-input>
        <sit-data-input type="text" #sitControl field="ConvertFunctionForParams" label="Funkcja konwertująca parametry" [showRefresh]=false appearance="outline" style="width: 100%;"></sit-data-input>
      </div>

      <div fxLayout="row">
        <sit-data-textarea type="textarea" #sitControl field="Data" label="Dane" appearance="outline" rows="20" cols="150" ></sit-data-textarea>
      </div>
    </div>
  </sit-data-set-container>
</sit-proc-params>
