<sit-proc-params fxFlexFill
  dictIdent="sitRailConfigurations"
  dataSourceIdent="sitRailConfigurationsEdit"
  actionIdent='ins'
  [(senderObject)]="senderObject"
  [(activeRow)]="activeRow"
  >
  <sit-data-set-container ident="sitRailConfigurationsEdit">
    <div fxLayout="row" fxFlexFill>
      <div fxLayout="column" fxFlex="50%">

        <div fxLayout="row">
          <sit-data-input type="number" id="sitCompaniesId" #sitControl field="sitCompaniesId" label="ID firmy" [showRefresh]=false appearance="fill" style="width: 100px"></sit-data-input>
          <sit-data-input type="text" id="CompanyIdent" #sitControl field="CompanyIdent" label="Firma" [showRefresh]=false appearance="fill"></sit-data-input>
          <mat-checkbox id="IsActive" [(ngModel)]="isChecked" [checked]="activeRowRailConfigurations?.IsActive == 1" (change)="onChange($event.source.id, isChecked?1:0)">Aktywny</mat-checkbox>
        </div>

        <div fxLayout="row">
          <sit-data-input type="text" id="ClientGuid" #sitControl field="ClientGuid" label="GUID Rail'a" [showRefresh]=false appearance="fill" style="width: 100%;"></sit-data-input>
        </div>

        <div fxLayout="row">
          <sit-data-input type="text" id="OperationIdent" #sitControl field="OperationIdent" label="Identyfikator operacji" [showRefresh]=false appearance="fill" style="width: 100%;"></sit-data-input>
        </div>

        <div fxLayout="row">
          <sit-data-input type="number" id="sitWSUsersId" #sitControl field="sitWSUsersId" label="User Id" [showRefresh]=false appearance="fill" style="width: 100px"></sit-data-input>
          <sit-data-input type="text" id="UserLogin" #sitControl field="UserLogin" label="Użytkownik" [showRefresh]=false appearance="fill"></sit-data-input>
          <sit-data-input type="number" id="Timeout" #sitControl field="Timeout" label="Timeout" [showRefresh]=false appearance="fill" ></sit-data-input>
          <sit-data-input type="text" id="Source" #sitControl field="Source" label="Źródło" [showRefresh]=false appearance="fill"></sit-data-input>
        </div>

        <div fxLayout="row">
          <sit-data-input type="text" id="TransformProcedure" #sitControl field="TransformProcedure" label="Procedura transformująca" [showRefresh]=false appearance="fill" style="width: 100%;"></sit-data-input>
        </div>

        <div fxLayout="row">
          <sit-data-input type="text" id="ConvertFunctionForParams" #sitControl field="ConvertFunctionForParams" label="Funkcja konwertująca parametry" [showRefresh]=false appearance="fill" style="width: 100%;"></sit-data-input>
        </div>
      </div>
      <div fxFlex>
        <mat-form-field class="sit-edit-input"  appearance="fill" style="width: 100%;">
          <mat-label>Data</mat-label>
          <textarea matInput id="Data" rows="48" value="{{ activeRowRailConfigurations?.Data }}" style="resize:none;" (change)="onChange($event.srcElement.id,$event.srcElement.value)"></textarea>
        </mat-form-field>
      </div>
    </div>
  </sit-data-set-container>
</sit-proc-params>
