<sit-proc-params
  [(actionExecuteData)]="actionExecuteData"
  >
  <sit-data-set-container ident="sitPayrollsCalcAccountingEdit">
    <div class="sit-proc-params-content" fxLayout="column" style="width: 500px;">
      <div fxLayout="row">
        <sit-data-input #sitControl type="text" field="Account" label="Konto" appearance="outline" style="width: 100%;"
          [lookupDisplayFields] = "['Account', 'AccountDesc']"
        ></sit-data-input>
      </div>
      <sit-data-label #sitControl type="text" field="AccountDesc" label="" style="width: 95%; font-size: 13px; margin: 0px 0px 10px 5px;"></sit-data-label>

      <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;">
        <sit-data-input #sitControl type="number" field="CAmount" label="Kwota Wn" digitsInfo="1.2-2" appearance="outline" style="width: 50%;"></sit-data-input>
        <sit-data-input #sitControl type="number" field="DAmount" label="Kwota Ma" digitsInfo="1.2-2" appearance="outline" style="width: 50%;"></sit-data-input>
      </div>
      <sit-data-input #sitControl type="text" field="PosDesc" label="Opis" appearance="outline"></sit-data-input>
    </div>
  </sit-data-set-container>
</sit-proc-params>
