<div mat-dialog-content>
  <div>Wykonywanie akcji <br><b>{{data.caption}}</b> dla <b>{{data.rowsCount}}</b> rekordów.</div>
  <div>Rekord <b>{{data.currentRowIndex}}</b> / <b>{{data.rowsCount}}</b></div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" [mat-dialog-close]="true">Anuluj</button>
</div>



<!-- fxFlexFill fxLayout="column" fxLayoutAlign="center center" -->
<!-- <div class="sit-dialog flex-container-column">
  <div mat-dialog-content>Wykonywanie akcji <br><b>{{data.caption}}</b> dla <b>{{data.rowsCount}}</b> rekordów.</div>
    <div mat-dialog-content>Rekord <br><b>{{data.currentRowIndex}}</b> / <b>{{data.rowsCount}}</b></div>
    <p></p>
    <div mat-dialog-actions>
      <button mat-raised-button color="primary" [mat-dialog-close]="true">Anuluj</button>
  </div>
</div> -->
