<sit-proc-params [(actionExecuteData)]="actionExecuteData" ngClass="flex-container-column">
  <sit-data-set-container ident="sitOfficeDocDimensionsEdit" ngClass="flex-container-row sit-proc-params-content" style="width: 600px; height: 550px;">
    <div fxLayout="column" fxFill>
      <sit-data-label #sitControl field="PosId" label="Pozycja" style="flex: 0 0 0" ngClass="mb-05"></sit-data-label>
      <div fxLayout="row">
        <div fxFlex="50">
          <sit-data-input #sitControl type="number" field="NetCurrency" label="Netto w walucie" appearance="outline"></sit-data-input>
          <sit-data-input #sitControl type="number" field="Net" label="Netto w PLN" appearance="outline" ></sit-data-input>
          <sit-data-input #sitControl field="TransactionTypeDesc4Lookup" label="Typ transakcji" appearance="outline"></sit-data-input>
          <sit-data-input #sitControl [class.hidden]="!(this.activeRow?.UseCompanyDepartments == 1)" field="CompanyDepartmentDesc4Lookup" label="Dział" appearance="outline"></sit-data-input>
          <sit-data-input #sitControl [class.hidden]="!(this.activeRow?.UseProjects == 1)" field="ProjectName4Lookup" label="Projekt" appearance="outline"></sit-data-input>
          <sit-data-input #sitControl [class.hidden]="!(this.activeRow?.UseDistributionChannels == 1)" field="DistributionChannelDesc4Lookup" label="Kanał dystrybucji" appearance="outline"></sit-data-input>
          <sit-data-input #sitControl [class.hidden]="!(this.activeRow?.UseProductsTypes == 1)" field="ProductsTypeDesc4Lookup" label="Typ produktu" appearance="outline"></sit-data-input>
          <sit-data-input #sitControl [class.hidden]="!(this.activeRow?.UseCostTypes == 1)" field="CostTypeDesc4Lookup" label="Rodzaj kosztu" appearance="outline"></sit-data-input>
          <sit-data-input #sitControl [class.hidden]="!(this.activeRow?.UseVehicles == 1)" field="VehicleDesc4Lookup" label="Pojazd" appearance="outline"></sit-data-input>
        </div>
        <div fxFlex>
          <sit-data-input #sitControl field="VATRatesIdent" label="Stawka VAT" appearance="outline" [lookupDisplayFields] = "['VATRatesIdent', 'VATRatesDescription']"></sit-data-input>
          <sit-data-radio #sitControl field="VATdeduction" type="row" 
            [buttons]="[{'caption':'Odliczane','value': '1', 'checked':true},{'caption':'Nieodliczane','value':'0'},{'caption':'Struktura','value':'2'}]"
          ></sit-data-radio>    
          <sit-data-input #sitControl field="VATClassificationIdent" label="Klasyfikacja VAT" appearance="outline"></sit-data-input>
          <sit-data-input #sitControl field="VATCostTypeIdent" label="Rodzaj" appearance="outline"></sit-data-input>
          <sit-data-input #sitControl field="VATSpecialTypesIdent" label="Szególny VAT" appearance="outline"></sit-data-input>
          <sit-data-input #sitControl field="TaxSpecialTypesIdent" label="Szególny podatek" appearance="outline"></sit-data-input>
        </div>
      </div>
      <sit-data-input #sitControl field="PosDesc" label="Opis" appearance="outline"></sit-data-input>
    </div>
  </sit-data-set-container>
</sit-proc-params>