.sit-office-doc-dimensions-edit-component {
    .proc-params-sodd-edit {
        .sit-office-edit-container {
            // flex: auto;

            .sit-actions-form-container-component {
                max-width: none;

                sit-data-label {
                    flex: initial;
                 }
    
                .container-1 {
                    > div {
                        display: flex;
                        flex-direction: column;
                        flex: 0 0 calc(50% - 0.25em);

                        &.col-divider {
                            max-width: .5em;
                            min-width: .5em;
                        }

                        > * {
                            display: flex;
                            flex: 1 1 0;
                            align-items: center;
                            min-height: 2.75em;
                            max-height: 2.75em;
                        }

                    }


                }

            }

        }
    }
}