<sit-proc-params
  [(actionExecuteData)]="actionExecuteData"
  >
  <sit-data-set-container ident="sitHRAdditions4InvoicingEdit">
    <div class="sit-proc-params-content" fxLayout="column">
      <sit-data-input type="date" #sitControl field="DateFrom" label="Od dnia" appearance="outline" fxFlex></sit-data-input>
      <sit-data-input type="text" #sitControl field="AdditionIdent" label="Identyfikator" placeholder="Identyfikator dodatku" appearance="outline" fxFlex></sit-data-input>
      <sit-data-input type="number" #sitControl field="Value" label="Wartość" digitsInfo="1.0-2" appearance="outline"  fxFlex></sit-data-input>
      <sit-data-input type="text" #sitControl field="AdditionDesc" label="Opis" placeholder="Opis dodatku" appearance="outline" fxFlex></sit-data-input>

    </div>
  </sit-data-set-container>
</sit-proc-params>
