<sit-dict-container ident="sitAgreementsTypes" #sitDictcontainer fxFill >
  <div fxLayout="column" fxFill class="content">
    <sit-data-set-container ident="sitFilterAgreementsTypes" >
      <div class="sit-filter-bar">
        <sit-data-input #sitControl field="searchAgreementsTypes" label="Filtruj" placeholder="" appearance="outline" style="width: 300px;" showRefreshButton="true"></sit-data-input>
    </div>
    </sit-data-set-container>
    <sit-data-set-container ident="sitAgreementsTypes" fxFlex fxLayout="column">
      <div class="sit-proc-bar">
        <mat-toolbar color="accent">
          <mat-toolbar-row>
            <div class="sit-proc-buttons-row">
              <sit-proc-button #sitAction actionIdent="insert" componentParamsIdent="sitAgreementsTypesEdit" openKind="EXPANDER" tooltip="Nowy" color="primary" icon="post_add"></sit-proc-button>
              <sit-proc-button #sitAction actionIdent="update" componentParamsIdent="sitAgreementsTypesEdit" openKind="EXPANDER" tooltip="Edycja" color="primary" icon="edit"></sit-proc-button>
              <sit-proc-button #sitAction actionIdent="delete" tooltip="Usuń"  color="primary" icon="delete" delete="true" matType="mat-stroked-button"></sit-proc-button>
            </div>
          </mat-toolbar-row>
        </mat-toolbar>
      </div>
      <div class="data-table" fxFlex>
        <ag-grid-angular #sitSetDataSource
          #agGrid
          id="gridAgreementsTypes"
          style="width: 100%; height: 100%;"
          class="ag-theme-balham"
          [columnDefs]="columnDefs"
          [defaultColDef]="defaultColDef"
          [rowSelection]="rowSelection"
          [rowMultiSelectWithClick]="true"
          [enableCellTextSelection]="true"
          [enableRangeSelection]="false"
          [popupParent]="popupParent"
          [frameworkComponents]="frameworkComponents"
          (rowClicked)="onRowClicked($event)"
          (gridReady)="onGridReady($event)"
          (firstDataRendered)="onFirstDataRendered($event)"

        >
        </ag-grid-angular>
      </div>

    </sit-data-set-container>
</div>
</sit-dict-container>
