<sit-dict-container ident="sitRozrachunkiInsertGT"  #sitDictcontainer class="container-cols">
  <div class="content">
      <div style="flex: 0 1 auto;">
        <sit-data-source-container  ident="sitFilter" >
          <span>
            <sit-data-input #sitControl field="searchRozrachunki" label="Filtruj"></sit-data-input>
          </span>
        </sit-data-source-container>
      </div>
      <!-- <button mat-raised-button color="primary" (click)="ExportTOExcel()">Export as Excel</button> -->
      <div style="flex: 1 1 auto;">
        <div class="data-table">
          <sit-data-source-container ident="sitRozrachunkiInsertGT">
            <ngx-datatable #sitRozrachunkiInsertGT #sitSetDataSource
            class="material striped"
            [columnMode]="ColumnMode.force"
            [limit]=20
            [selected]="sitRozrachunkiInsertGTselected"
            [selectionType]="SelectionType.single"
            [selectAllRowsOnPage]="false"
            (select)="onSelectRozrachunki($event)"
            [summaryRow]="true"
            summaryPosition="bottom"
            [summaryHeight]="40"

            [footerHeight]="50"
            style="height: 100% !important;"

            >
              <ngx-datatable-column prop="adr_Nazwa" name="Kontrahent"></ngx-datatable-column>
              <ngx-datatable-column prop="nzf_NumerPelny" name="Rozrachunek"></ngx-datatable-column>
              <ngx-datatable-column prop="nzf_Data" name="Data">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value | date: 'yyyy-MM-dd'}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="nzf_TerminPlatnosci" name="Termin płatności">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value | date: 'yyyy-MM-dd'}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="DniSpoznienia" name="Dni">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <div style="text-align: right;">{{value | number : "1.0-0"}}</div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="naleznosc" name="Należność w PLN">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <div style="text-align: right;">{{value | number : "1.2-2"}}</div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="zobowiazanie" name="Zobowiązanie w PLN">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <div style="text-align: right;">{{value | number : "1.2-2"}}</div>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </sit-data-source-container>
        </div>
    </div>
</div>
</sit-dict-container>



