<sit-dict-container ident="sitRozrachunkiInsertGT"  #sitDictcontainer class="container-cols">
  <div class="content" fxFill>
    <div class="data-table" fxFill>
      <sit-data-set-container ident="sitRozrachunkiInsertGT">
        <ag-grid-angular #sitSetDataSource
        #agGrid
        id="gridRozrachunkiInsertGT"
        style="width: 100%; height: 100%;"
        class="ag-theme-balham"
        [modules]="modules"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [rowSelection]="rowSelection"
        [rowMultiSelectWithClick]="true"
        [enableCellTextSelection]="true"
        [enableRangeSelection]="false"
        [popupParent]="popupParent"
        [frameworkComponents]="frameworkComponents"
        (rowClicked)="onRowClicked($event)"
        (gridReady)="onGridReady($event)"
        (firstDataRendered)="onFirstDataRendered($event)"
      >
      </ag-grid-angular>

      </sit-data-set-container>
    </div>
</div>
</sit-dict-container>



