.sit-accounting-edit-component {

    .sit-actions-form-container-component {

        [field="AccountDesc"] {
            margin-top: .2em;
            margin-bottom: .5em;
            padding: 0 .6em;
        }
    }

}