<sit-proc-params [(actionExecuteData)]="actionExecuteData" ngClass="flex-container-column">
  <sit-data-set-container ident="sitAccountingEdit" ngClass="flex-container-column">
    
    <sit-actions-form-container ngClass="flex-container-column">

      <!-- <div ngClass="flex-container-row"> -->
        <sit-data-input #sitControl type="text" field="Account" label="Konto" appearance="outline"
          [lookupDisplayFields] = "['Account', 'AccountDesc']"
        ></sit-data-input>
      <!-- </div> -->

      <sit-data-label #sitControl type="text" field="AccountDesc" label="" ></sit-data-label>
      
      <div ngClass="flex-container-row">
        <sit-data-input #sitControl type="number" field="CAmountCurrency" label="Kwota Wn w walucie" digitsInfo="1.2-2" appearance="outline" ></sit-data-input>
        <sit-data-input #sitControl type="number" field="DAmountCurrency" label="Kwota Ma w walucie" digitsInfo="1.2-2" appearance="outline" ></sit-data-input>
      </div>

      <div ngClass="flex-container-row">
        <sit-data-input #sitControl field="CurrencyIdent" label="Waluuta" appearance="outline"></sit-data-input>
        <sit-data-input #sitControl type="number" field="ExRate" label="Kurs" digitsInfo="1.0-4" appearance="outline"></sit-data-input>
      </div>
 
      <div ngClass="flex-container-row">
        <sit-data-input #sitControl type="number" field="CAmount" label="Kwota Wn" digitsInfo="1.2-2" appearance="outline"></sit-data-input>
        <sit-data-input #sitControl type="number" field="DAmount" label="Kwota Ma" digitsInfo="1.2-2" appearance="outline"></sit-data-input>
      </div>
      <sit-data-input #sitControl type="text" field="DocumentNumber" label="Numer dokumentu" appearance="outline"></sit-data-input>
      <sit-data-input #sitControl type="text" field="PosDesc" label="Opis" appearance="outline"></sit-data-input>

    </sit-actions-form-container>

  </sit-data-set-container>
</sit-proc-params>
