<sit-dict-container ident="sitMenu"  #sitDictcontainer fxFill>
  <div fxLayout="row" fxFlexFill fxLayoutGap="5px">
    <div fxFlex="50%" fxLayout="column" fxLayoutGap="5px">
      <div fxFlex="400px" class="content" fxLayout="column">

        <!-- Filtry sitMenu -->
        <sit-data-set-container ident="sitFilterMenu" >
          <span>
            <sit-data-input #sitControl field="searchMenu" label="Filtruj menu" appearance="outline" style="width: 300px"></sit-data-input>
          </span>
        </sit-data-set-container>

        <!-- Procedury sitMenu -->
        <sit-data-set-container  ident="sitMenu">
          <div class="sit-proc-bar">
            <mat-toolbar color="accent">
              <mat-toolbar-row>
                <div class="sit-proc-buttons-row">
                  <sit-proc-button #sitAction actionIdent="insert" componentParamsIdent="sitMenuEdit" openKind="EXPANDER" tooltip="Nowy" color="primary" icon="post_add" >              </sit-proc-button>
                  <sit-proc-button #sitAction actionIdent="update" componentParamsIdent="sitMenuEdit" openKind="EXPANDER" tooltip="Edycja" color="primary" icon="edit">              </sit-proc-button>
                  <sit-proc-button #sitAction actionIdent="delete" color="primary" icon="delete" delete="true" matType="mat-stroked-button"></sit-proc-button>
                </div>
              </mat-toolbar-row>
            </mat-toolbar>
          </div>
        </sit-data-set-container>

        <!-- Grid sitMenu -->
        <sit-data-set-container  ident="sitMenu" fxFlex>
          <div class="data-table" fxFill>
            <ag-grid-angular #sitSetDataSource
              #agGrid
              id="gridRailConfigurations"
              style="width: 100%; height: 100%;"
              class="ag-theme-balham"
              [columnDefs]="columnDefs"
              [defaultColDef]="defaultColDef"
              [rowSelection]="rowSelection"
              [rowMultiSelectWithClick]="true"
              [enableCellTextSelection]="true"
              [enableRangeSelection]="false"
              [popupParent]="popupParent"
              [frameworkComponents]="frameworkComponents"
              (rowClicked)="onRowClicked($event)"
              (gridReady)="onGridReady($event)"
              (firstDataRendered)="onFirstDataRendered($event)"
            >
            </ag-grid-angular>
          </div>
        </sit-data-set-container>
      </div>
      <div fxFlex class="content" fxLayout="column">

        <!-- Filtr sitAppUsers -->
        <sit-data-set-container  ident="sitFilterAppUsers" >
          <span>
            <sit-data-input #sitControl field="searchAppUsers" label="Filtruj użytkowników" appearance="outline" style="width: 300px"></sit-data-input>
          </span>
        </sit-data-set-container>

        <!-- Procedury sitAppUsers -->
        <sit-data-set-container  ident="sitAppUsers">
          <div class="sit-proc-bar">
            <mat-toolbar color="accent">
              <mat-toolbar-row>
                <div class="sit-proc-buttons-row">
                  <sit-proc-button #sitAction actionIdent="insert" componentParamsIdent="sitMenuEdit" openKind="EXPANDER" tooltip="Nowy" color="primary" icon="post_add" >              </sit-proc-button>
                  <sit-proc-button #sitAction actionIdent="delete" color="primary" icon="delete" delete="true" matType="mat-stroked-button"></sit-proc-button>
                </div>
              </mat-toolbar-row>
            </mat-toolbar>
          </div>
        </sit-data-set-container>

        <!-- Grid sitAppUsers-->
        <sit-data-set-container ident="sitAppUsers" fxFlex>
          <div class="data-table" fxFill>
            <ag-grid-angular #sitSetDataSource
              #agGrid
              id="gridRailConfigurations"
              style="width: 100%; height: 100%;"
              class="ag-theme-balham"
              [columnDefs]="columnDefsAppUsers"
              [defaultColDef]="defaultColDef"
              [rowSelection]="rowSelection"
              [rowMultiSelectWithClick]="true"
              [enableCellTextSelection]="true"
              [enableRangeSelection]="false"
              [popupParent]="popupParent"
              [frameworkComponents]="frameworkComponents"
              (rowClicked)="onRowClickedAppUsers($event)"
              (gridReady)="onGridReadyAppUsers($event)"
              (firstDataRendered)="onFirstDataRendered($event)"
            >
            </ag-grid-angular>
          </div>
        </sit-data-set-container>

      </div>
    </div>
    <div fxFlex="50%" fxLayout="column" class="content">

      <!-- Filtr sitMenuItems -->
      <sit-data-set-container  ident="sitFilterMenuItems" >
        <span>
          <sit-data-input #sitControl field="searchMenuItems" label="Filtruj pozycje" appearance="outline" style="width: 300px"></sit-data-input>
        </span>
      </sit-data-set-container>

      <!-- Procedury sitMenuItems -->
      <sit-data-set-container  ident="sitMenuItems">
        <div class="sit-proc-bar">
          <mat-toolbar color="accent">
            <mat-toolbar-row>
              <div class="sit-proc-buttons-row">
                <sit-proc-button #sitAction actionIdent="insert" componentParamsIdent="sitMenuItemsEdit" openKind="EXPANDER" tooltip="Nowy" color="primary" icon="post_add"></sit-proc-button>
                <sit-proc-button #sitAction actionIdent="update" componentParamsIdent="sitMenuItemsEdit" openKind="EXPANDER" tooltip="Edycja" color="primary" icon="edit"></sit-proc-button>
                <sit-proc-button #sitAction actionIdent="delete" tooltip="Usuń"  color="primary" icon="delete" delete="true" matType="mat-stroked-button"></sit-proc-button>
                <sit-proc-button #sitAction actionIdent="up" tooltip="Przesuń w górę"  color="primary" icon="arrow_drop_up" delete="true" matType="mat-stroked-button"></sit-proc-button>
                <sit-proc-button #sitAction actionIdent="down" tooltip="Przesuń w dół"  color="primary" icon="arrow_drop_down" delete="true" matType="mat-stroked-button"></sit-proc-button>
              </div>
            </mat-toolbar-row>
          </mat-toolbar>
        </div>
      </sit-data-set-container>

      <!-- Grid sitMenuItems -->
      <sit-data-set-container ident="sitMenuItems" fxFlex>
        <div class="data-table" fxFill>
          <ag-grid-angular #sitSetDataSource
            #agGrid
            id="gridMenuItems"
            style="width: 100%; height: 100%;"
            class="ag-theme-balham"
            [columnDefs]="columnDefsMenuItems"
            [defaultColDef]="defaultColDef"
            [rowSelection]="rowSelection"
            [rowMultiSelectWithClick]="true"
            [enableCellTextSelection]="true"
            [enableRangeSelection]="false"
            [popupParent]="popupParent"
            [frameworkComponents]="frameworkComponents"
            (rowClicked)="onRowClickedMenuItems($event)"
            (gridReady)="onGridReadyMenuItems($event)"
            (firstDataRendered)="onFirstDataRendered($event)"
          >
          </ag-grid-angular>
    </div>
      </sit-data-set-container>
    </div>
  </div>
</sit-dict-container>
