<div class="content">
  <sit-dict-container ident="sitMenu"  #sitDictcontainer class="container-cols">
    <div style="display:flex; flex-direction: row; padding: 0 0 10 0; height: 60%;">
      <div class="container-left-cols">
        <sit-data-source-container  ident="sitFilter" >
          <mat-form-field class="example-full-width">
            <mat-label>Filtruj</mat-label>
            <input matInput (keyup)="onFilterKeyEnter($event)" type="text" name="searchMenu" field="searchMenu"/>
          </mat-form-field>
          <span class="example-full-width">
            <sit-data-input #sitControl field="searchMenu" label="Filtruj"></sit-data-input>
          </span>
        </sit-data-source-container>
        <div class="data-table">
          <sit-data-source-container  ident="sitMenu" >
            <ngx-datatable #sitMenu #sitSetDataSource
            class="material striped"
            [columnMode]="ColumnMode.force"
            [limit]=20
            [selected]="sitMenuSelected"
            [selectionType]="SelectionType.single"
            [selectAllRowsOnPage]="false"
            [displayCheck]="displayCheck"
            (activate)="onActivateMenu($event)"
            (select)="onSelectMenu($event)"
            >
              <ngx-datatable-column prop="MenuId" name="Id"></ngx-datatable-column>
              <ngx-datatable-column prop="Symbol" name="Symbol"></ngx-datatable-column>
              <ngx-datatable-column prop="Caption" name="Nazwa"></ngx-datatable-column>
            </ngx-datatable>
          </sit-data-source-container>
        </div>
      </div>

      <div class="container-cols">
        <sit-data-source-container  ident="sitFilter" >
          <mat-form-field class="example-full-width">
            <mat-label>Filtruj</mat-label>
            <input matInput (keyup)="onFilterKeyEnter($event)" type="text" name="searchMenuItems" #sitDSControl field="searchMenuItems">
          </mat-form-field>
        </sit-data-source-container>

        <div class="data-table">
          <sit-data-source-container ident="sitMenuItems">
            <ngx-datatable #sitMenuItems #sitSetDataSource
            class="material striped"
            [columnMode]="ColumnMode.force"
            [limit]=20
            [selected]="sitMenuItemsSelected"
            [selectionType]="SelectionType.single"
            [selectAllRowsOnPage]="false"
            [displayCheck]="displayCheck"
            (select)="onSelectMenuItems($event)"
            (activate)="onActivate($event)"
          >
              <ngx-datatable-column prop="MenuItemId" name="Id"></ngx-datatable-column>
              <ngx-datatable-column prop="MenuId" name="MenuId"></ngx-datatable-column>
              <ngx-datatable-column prop="Caption" name="Nazwa"></ngx-datatable-column>
              <ngx-datatable-column prop="Kind" name="Rodzaj"></ngx-datatable-column>
              <ngx-datatable-column prop="Link" name="Link"></ngx-datatable-column>
            </ngx-datatable>
          </sit-data-source-container>
        </div>
      </div>
    </div>
    <div style="display:flex; flex-direction: row; height: 40%;">
      <div class="data-table">
        <sit-data-source-container ident="sitAppUsers">
        <ngx-datatable #sitAppUsers #sitSetDataSource
        class="material striped"
        [columnMode]="ColumnMode.force"
        [limit]=20
        [selected]="sitAppUsersSelected"
        [selectionType]="SelectionType.single"
        [selectAllRowsOnPage]="false"
        [displayCheck]="displayCheck"
        (activate)="onActivate($event)"
        (select)="onSelectAppUsers($event)"
        >
          <ngx-datatable-column prop="AppUserId" name="Id"></ngx-datatable-column>
          <ngx-datatable-column prop="UserLogin" name="Login"></ngx-datatable-column>
          <ngx-datatable-column prop="UserPassword" name="Hasło"></ngx-datatable-column>
          <ngx-datatable-column prop="Name" name="Imię"></ngx-datatable-column>
          <ngx-datatable-column prop="SurName" name="Nazwisko"></ngx-datatable-column>
          <ngx-datatable-column prop="IsActive" name="Aktywny"></ngx-datatable-column>
          <ngx-datatable-column prop="MenuId" name="MenuId"></ngx-datatable-column>
        </ngx-datatable>
        </sit-data-source-container>
      </div>
    </div>
  </sit-dict-container>
</div>





<!-- <ngx-datatable-column
      [width]="30"
      [sortable]="false"
      [canAutoResize]="false"
      [draggable]="false"
      [resizeable]="false"
      [headerCheckboxable]="true"
      [checkboxable]="true"
    >
    </ngx-datatable-column>
    <ngx-datatable-column name="Name"></ngx-datatable-column>
    <ngx-datatable-column name="Gender"></ngx-datatable-column>
    <ngx-datatable-column name="Company"></ngx-datatable-column>
    <ngx-datatable-column name="Salary"></ngx-datatable-column> -->

<!-- [selected]="selected"
[selectionType]="SelectionType.checkbox"
[selectAllRowsOnPage]="false"
[displayCheck]="displayCheck"
(activate)="onActivate($event)"
(select)="onSelect($event)"
[summaryRow]="true"
summaryPosition="bottom"
[summaryHeight]="40" -->
