<mat-tab-group
class="main-tab-group mt-2"
[(selectedIndex)]="selectedTab"
(selectedTabChange)="tabChanged($event)">
<mat-tab *ngFor="let tab of tabs; let tabIndex = index">
  <ng-template mat-tab-label>
    <div fxLayout="row" fxLayoutAlign="space-between center"  style="width:100%;">
      <div fxFlex style="height: 25px; text-align: center;">{{ tab.title }}</div>
      <div><i class="material-icons" (click)="removeTab(tabIndex)" *ngIf="tab.title != 'Pulpit'">close</i></div>
    </div>
  </ng-template>
  <div>
    <div style="height: 2px; width: 100%; "></div>
    <app-tab-content [tab]="tab"></app-tab-content>
  </div>
</mat-tab>
</mat-tab-group>
