<mat-tab-group
  animationDuration="0"
  ngClass="main-tab-group home-tab-content-container flex-container-column"
  [(selectedIndex)]="selectedTabIndex"
  (selectedTabChange)="tabChanged($event)"
>
<!-- 
fxFlex="auto"
fxLayout="column" 
-->
<!-- fxFlex -->

  <mat-tab *ngFor="let tab of tabs; let tabIndex = index">

    <ng-template mat-tab-label>
      <!-- <div fxLayout="row" fxLayoutAlign="space-between center" style="width:100%;" ngClass="home-tab-label-content-template"> -->
      <div fxLayout="row" fxLayoutAlign="space-between center" ngClass="home-tab-label-content-template">

        <div *ngIf="tab.title != 'Pulpit'" fxFlex class="sit-tab-title">{{ tab.title }}</div>
        <div *ngIf="tab.title == 'Pulpit'" fxFlex fxLayoutAlign="center center" matTooltip="Home">
          <i class="material-icons">home</i>
        </div>

        <div 
          *ngIf="tab.title != 'Pulpit'"
          ngClass="close-tab-button-container"
        >
          <!-- <div ngClass="close-tab-button"> -->

            <!-- <mat-icon class="close-tab-icon" (click)="removeTab(tabIndex)">close</mat-icon> -->
            <span class="close-tab-icon-entity" (click)="removeTab(tabIndex)">&times;</span>
          <!-- </div> -->
        </div>

        <!-- <div *ngIf="showClose(tabIndex)" class="sit-close-tab">
          <mat-icon class="close-tab-icon" (click)="removeTab(tabIndex)" >close</mat-icon> -->
          <!-- <button type="button" class="close" aria-label="Close" (click)="removeTab(tabIndex)">
            <span aria-hidden="true">×</span>
          </button>
        </div> -->

      </div>
    </ng-template>

    
    <!-- tu się zaczyna mat-tab-body-wrapper -->

    <!-- <span>vvvvvvvvvvvvvvvvvvvvvvv</span> -->

    <!-- <div class="sit-tab-content">
      <app-tab-content [tab]="tab" fxFill></app-tab-content>
      <app-tab-content [tab]="tab"></app-tab-content>
    </div> -->

    <app-tab-content [tab]="tab" ngClass="loaded-by-home-component"></app-tab-content>

  </mat-tab>

</mat-tab-group>
