<mat-tab-group animationDuration="0ms" style="height: 100%"
class="main-tab-group mt-1"
[(selectedIndex)]="selectedTab"
(selectedTabChange)="tabChanged($event)">
<mat-tab *ngFor="let tab of tabs; let tabIndex = index">
  <ng-template mat-tab-label>
    <div fxLayout="row" fxLayoutAlign="space-between center" (mouseover)="showClose=true" (mouseout)="showClose=false" style="width:100%;">
      <div *ngIf="tab.title != 'Pulpit'" fxFlex class="sit-tab-title">{{ tab.title }}</div>
      <div *ngIf="tab.title == 'Pulpit'" fxFlex fxLayoutAlign="center center"><i class="material-icons">home</i></div>
      <div *ngIf="tab.title != 'Pulpit'" class="close-tab"><mat-icon class="close-tab-icon" (click)="removeTab(tabIndex)" >close</mat-icon></div>
    </div>
  </ng-template>
  <div class="sit-tab-content">
    <!-- <app-tab-content [tab]="tab"></app-tab-content> -->
  </div>
</mat-tab>
</mat-tab-group>
