<sit-dict-container ident="sitParams" #sitDictcontainer fxFill>
  <div fxLayout="row" fxFill fxLayoutGap="5px">
    <div fxLayout="column" fxFlex="40" class="content">
      <!-- Filtry sitParams -->
      <div class="sit-filter-bar">
        <sit-data-set-container ident="sitFilterParams" >
            <sit-data-input #sitControl id="searchParams" field="searchParams" label="Filtruj" placeholder="Parametr, wartość" appearance="outline" showRefreshButton="true" style="width: 300px;"></sit-data-input>
        </sit-data-set-container>
      </div>
      <sit-data-set-container  ident="sitParams" showActionsToolbar="true" fxFlex fxLayout="column">
        <div class="data-table" fxFlex>
          <ag-grid-angular #sitSetDataSource
            #agGrid
            id="gridRailConfigurations"
            style="width: 100%; height: 100%;"
            class="ag-theme-balham"
            [columnDefs]="columnDefs"
            [defaultColDef]="defaultColDef"
            [rowSelection]="rowSelection"
            [rowMultiSelectWithClick]="true"
            [enableCellTextSelection]="true"
            [enableRangeSelection]="false"
            [popupParent]="popupParent"
            [frameworkComponents]="frameworkComponents"
            (rowClicked)="onRowClicked($event)"
            (gridReady)="onGridReady($event)"
            (firstDataRendered)="onFirstDataRendered($event)"
          >
          </ag-grid-angular>
        </div>
      </sit-data-set-container>
    </div>
    <div fxLayout="column" fxFlex="60" class="content">
      <sit-data-set-container ident="sitParams" fxFill fxLayout="column">
        <div fxLayout="row">
          <sit-data-input type="text" id="ParamIdent" #sitControl field="ParamIdent" label="Identyfikator" [showRefresh]=false appearance="outline" fxFlex [readonly]=true></sit-data-input>
        </div>
        <div fxLayout="row" fxFlex>
          <sit-data-textarea type="textarea" id="ParamValue" #sitControl field="ParamValue" label="Wartosć" appearance="outline" rows="30" cols="150" [readonly]=true fxFill></sit-data-textarea>
        </div>
      </sit-data-set-container>
    </div>
  </div>
</sit-dict-container>
