<sit-dict-container ident="sitParams" #sitDictcontainer fxFill>
  <div fxLayout="row" fxFill fxLayoutGap="5px">
    <div fxLayout="column" fxFlex="40" class="content">
      <!-- Filtry sitParams -->
      <div class="sit-filter-bar">
        <sit-data-set-container ident="sitFilterParams" >
            <sit-data-input #sitControl id="searchParams" field="searchParams" label="Filtruj" placeholder="Parametr, wartość" appearance="outline" showRefreshButton="true" style="width: 300px;"></sit-data-input>
        </sit-data-set-container>
      </div>
      <sit-data-set-container  ident="sitParams" showActionsToolbar="true" fxFlex fxLayout="column">
        <div class="data-table" fxFlex>
          <ag-grid-angular
            #sitSetDataSource
            #sitParamsGrid
            class="ag-theme-balham"
          >
          </ag-grid-angular>
        </div>
      </sit-data-set-container>
    </div>
    <div fxLayout="column" fxFlex="60" class="content">
      <sit-data-set-container ident="sitParams" fxFill fxLayout="column">
        <div fxLayout="row">
          <sit-data-input type="text" id="ParamIdent" #sitControl field="ParamIdent" label="Identyfikator" [showRefresh]=false appearance="outline" 
            fxFlex [readonly]=true style="width: 150px" ></sit-data-input>
          <sit-data-checkbox id="IsTechnical" #sitControl field="IsTechnical" label="Techniczny" readonly="true"></sit-data-checkbox>
        </div>
        <div fxLayout="row" fxFlex>
          <sit-data-textarea type="textarea" id="ParamValue" #sitControl field="ParamValue" label="Wartosć" appearance="outline" cols="150" 
            [readonly]=true fxFill></sit-data-textarea>
        </div>
        <div fxLayout="row" fxFlex>
          <sit-data-textarea type="textarea" id="ParamName" #sitControl field="ParamName" label="Opis" appearance="outline" cols="150" 
            [readonly]=true fxFill></sit-data-textarea>
        </div>
      </sit-data-set-container>
    </div>
  </div>
</sit-dict-container>
