<sit-proc-params
   [(actionExecuteData)]="actionExecuteData"
  >
  <sit-data-set-container ident="sitHRWorkingHoursEdit">
    <div class="sit-proc-params-content" fxLayout="column">
      <sit-data-input #sitControl type="number" field="Year" label="Rok" digitsInfo="1.0-0" appearance="outline"></sit-data-input>
      <sit-data-input #sitControl type="number" field="Month" label="Miesiąc" digitsInfo="1.0-0" appearance="outline"></sit-data-input>
      <sit-data-input #sitControl type="number" field="WorkingHours" label="Godziny pracujące" digitsInfo="1.0-0" appearance="outline"></sit-data-input>
      <sit-data-input #sitControl type="number" field="WorkingDays" label="Dni pracujące" digitsInfo="1.0-0" appearance="outline"></sit-data-input>
      <sit-data-input #sitControl type="number" field="NonWorkingDays" label="Dni wolne" digitsInfo="1.0-0" appearance="outline"></sit-data-input>
      <sit-data-input #sitControl type="number" field="AverageSalary" label="Przeciętne wynagrodzenie" digitsInfo="1.2-2" appearance="outline"></sit-data-input>
    </div>
  </sit-data-set-container>
</sit-proc-params>
