<sit-proc-params
  [(actionExecuteData)]="actionExecuteData"
  >
  <sit-data-set-container ident="sitFlatsRentMetersEdit">
    <div class="sit-proc-params-content" fxLayout="column" style="width: 500px;height: 250px;">
      <div fxLayout="row">
        <sit-data-input type="text" #sitControl field="MeterNumber" label="Numer licznika" appearance="outline" fxFlex="30"></sit-data-input>
        <sit-data-input type="text" #sitControl field="MeterDescription" label="Opis" appearance="outline" fxFlex></sit-data-input>
        <sit-data-input type="text" #sitControl field="Unit" label="Jednostka" appearance="outline" fxFlex="20"></sit-data-input>        
      </div>
      <div fxLayout="row">
				<sit-data-input type="date" #sitControl field="DateFrom" label="Data od" appearance="outline" style="width: 130px"></sit-data-input>
				<sit-data-input type="date" #sitControl field="DateTo" label="Data do" appearance="outline" style="width: 130px"></sit-data-input>
      </div>
    </div>
  </sit-data-set-container>
</sit-proc-params>
