<sit-proc-params
  [(actionExecuteData)]="actionExecuteData"
  >
  <sit-data-set-container ident="sitCustomerB2bProductsConfigEdit">
    <div class="sit-proc-params-content" fxLayout="column">
      <div fxLayout="row">
        <sit-data-checkbox #sitControl field="IsActive" label="Aktywne" fxFlex="30"></sit-data-checkbox>
      </div>
      <sit-data-input type="text" #sitControl field="ProductCatalogFormatFunction" label="Funkcja generująca katalog" appearance="outline" fxFlex></sit-data-input>
      <sit-data-input type="text" #sitControl field="InventoryReportFormatFunction" label="Funkcja generująca stany" appearance="outline" fxFlex></sit-data-input>      
    </div>
  </sit-data-set-container>
</sit-proc-params>