<sit-proc-params
   [(actionExecuteData)]="actionExecuteData"
  >
  <sit-data-set-container ident="sitPublicationsFormsOfReleaseGroupsEdit">
    <div class="sit-proc-params-content" fxLayout="column">
      <sit-data-input #sitControl type="text" field="FormsOfReleaseGroupIdent" label="Grupa form wydania" appearance="outline"></sit-data-input>
      <sit-data-input #sitControl type="text" field="FormsOfReleaseGroupDesc" label="Opis" appearance="outline" ></sit-data-input>
    </div>
  </sit-data-set-container>
</sit-proc-params>
