<sit-proc-params
  [(actionExecuteData)]="actionExecuteData"
  >
  <sit-data-set-container ident="sitHRParams4InvoicingEdit">
    <div class="sit-proc-params-content" fxLayout="column">
      <sit-data-input type="date" #sitControl field="DateFrom" label="Od dnia" appearance="outline" fxFlex></sit-data-input>
      <div fxLayout="row">
        <sit-data-radio #sitControl field="PayrollComponent" type="column" label="Składnik" fxFlex=50
          [buttons]="[{'caption':'Podstawa','value': '0', 'checked':true},{'caption':'Premia','value': '1'},{'caption':'PPK','value': '2'}]"
        ></sit-data-radio>
        <!-- <sit-data-input type="number" #sitControl field="PayrollComponent" label="Składnik" placeholder="0 - podst., 1 - prem., 2 - PPK" appearance="outline" fxFlex></sit-data-input> -->
        <sit-data-radio #sitControl field="MarkupKind" type="column" label="Rodzaj narzutu" fxFlex
          [buttons]="[{'caption':'Narzut %','value': '0', 'checked':true},{'caption':'Narzut kwotowy','value': '1'},{'caption':'Sztywna stawka','value': '2'}]"
        ></sit-data-radio>
        <!-- <sit-data-input type="number" #sitControl field="MarkupKind" label="Rodzaj narzutu" placeholder="0 - %, 1 - Kwota, 2 - Stawka za godz." appearance="outline" fxFlex></sit-data-input> -->
      </div>
      <div fxLayout="row">
        <sit-data-input type="number" #sitControl field="Threshold" label="Próg" digitsInfo="1.0-0" appearance="outline" fxFlex></sit-data-input>
        <sit-data-input type="number" #sitControl field="Value" label="Wartość" digitsInfo="1.0-2" appearance="outline" fxFlex></sit-data-input>
      </div>
      <div fxLayout="row">
        <sit-data-input #sitControl field="WorkDesc" label="Opis prac" appearance="outline" fxFlex></sit-data-input>
      </div>
      <div fxLayout="row" fxLayoutGap="5px">
        <div fxLayout="column" fxFlex="50">
          <sit-data-checkbox #sitControl field="Foreigner" label="Dla cudzoziemców"></sit-data-checkbox>
          <sit-data-checkbox #sitControl field="ZUS" label="Dla pracowników bez ZUS"></sit-data-checkbox>
          <sit-data-checkbox #sitControl field="CustRecr" label="Rekrutacja klienta"></sit-data-checkbox>
          <sit-data-checkbox #sitControl field="AlwaysCalcZUS" label="Zawsze licz ZUS"></sit-data-checkbox>
          <sit-data-checkbox #sitControl field="CalcZUS4Pens" label="Licz ZUS dla emerytów"></sit-data-checkbox>
          <sit-data-checkbox #sitControl field="AlwaysCalcPPK" label="Zawsze licz PPK"></sit-data-checkbox>
          <sit-data-checkbox #sitControl field="NoBonusInCustNet" label="Nie doliczaj premii do netto"></sit-data-checkbox>
          <sit-data-checkbox #sitControl field="NoPPKInCustNet" label="Nie doliczaj PPK do netto"></sit-data-checkbox>
          <sit-data-checkbox #sitControl field="InKindInCustNet" label="Doliczaj w naturze do netto"></sit-data-checkbox>
        </div>
        <div fxLayout="column" fxFlex="50">
          <sit-data-input type="number" #sitControl field="AdditionCust01" label="Oświadczenia i zezwolenia" digitsInfo="1.0-2" appearance="outline" fxFlex></sit-data-input>
          <sit-data-input type="number" #sitControl field="AdditionCust02" label="Odzież robocza" digitsInfo="1.0-2" appearance="outline" fxFlex></sit-data-input>
          <sit-data-input type="number" #sitControl field="AdditionCust03" label="Badania lekarskie" digitsInfo="1.0-2" appearance="outline" fxFlex></sit-data-input>
          <sit-data-input type="number" #sitControl field="AdditionCust04" label="Szkolenie BHP" digitsInfo="1.0-2" appearance="outline" fxFlex></sit-data-input>
          <sit-data-input type="number" #sitControl field="AdditionCust05" label="Transport" digitsInfo="1.0-2" appearance="outline" fxFlex></sit-data-input>
          <sit-data-input type="number" #sitControl field="AdditionCust06" label="Posiłki" digitsInfo="1.0-2" appearance="outline" fxFlex></sit-data-input>
          <sit-data-input type="number" #sitControl field="AdditionCust07" label="Zakwaterowanie" digitsInfo="1.0-2" appearance="outline" fxFlex></sit-data-input>
          <sit-data-input type="number" #sitControl field="AdditionCustOther" label="Inne" digitsInfo="1.0-2" appearance="outline" fxFlex></sit-data-input>
        </div>
      </div>
    </div>
  </sit-data-set-container>
</sit-proc-params>
