.sit-actions-form-container-component {
    // border: 10px dotted gray;
    min-width: 30em;
    max-width: 34em;
    padding: .5em .5em;
    min-height: 65vh;
    max-height: 70vh;
    overflow-y: auto;
}