<sit-dict-container ident="sitAppUserAccount"  #sitDictcontainer class="container-cols">
  <sit-data-source-container  ident="sitAppUserAccount" fxFlexFill fxLayoutAlign="center center" fxLayout="column">
    <div class="sit-form" style="width: 500px; height: 500px;">
    <div class="sit-form-header" style="height: 50px;">
      Konto użytkownika
    </div>
      <div class="sit-form-body" style="height: 450px;">
        <div style="height: 400px;">
          <mat-form-field appearance="legacy" style="width: 100%;">
             <mat-label>Login</mat-label>
            <input matInput value="{{ activeRowUserAccount?.UserLogin }}" readonly="true">
            <!-- <sit-data-input #sitControl field="UserLogin" label="Login" readonly="true"></sit-data-input> -->
          </mat-form-field>
          <br>
          <mat-form-field appearance="legacy" style="width: 200px; margin-right: 10px;">
            <mat-label>Imię</mat-label>
            <input matInput value="{{ activeRowUserAccount?.Name }}" readonly="true">
          </mat-form-field>

          <mat-form-field appearance="legacy" style="width: 273px;">
            <mat-label>Nazwisko</mat-label>
            <input matInput value="{{ activeRowUserAccount?.SureName }}" readonly="true">
          </mat-form-field>
          <br>
          <mat-form-field appearance="legacy" style="width: 100%;">
            <mat-label>e-mail</mat-label>
            <input matInput value="{{ activeRowUserAccount?.email }}" readonly="true">
          </mat-form-field>
          <br>
          <mat-form-field appearance="legacy" style="width: 100%;">
            <mat-label>Stare hasło</mat-label>
            <input matInput (keyup)="onKey($event)" id="OldPassword" type="password" value="{{ activeRowUserAccount?.OldPassword }}" >
          </mat-form-field>
          <br>
          <mat-form-field appearance="legacy" style="width: 100%;">
            <mat-label>Nowe hasło</mat-label>
            <input matInput (keyup)="onKey($event)" id="NewPassword" type="password" value="{{ activeRowUserAccount?.NewPassword }}" >
          </mat-form-field>
          <mat-form-field appearance="legacy" style="width: 100%;">
            <mat-label>Powtórz nowe hasło</mat-label>
            <input matInput (keyup)="onKey($event)" id="RepeatNewPassword" type="password" value="{{ activeRowUserAccount?.RepeatNewPassword }}" >
          </mat-form-field>
        </div>
        <div>
          <sit-proc-button #sitControl actionIdent="changePassword" color="primary" caption="Zmień hasło"></sit-proc-button>
        </div>
      </div>
  </div>
  </sit-data-source-container>
</sit-dict-container>
