<sit-proc-params
  [(actionExecuteData)]="actionExecuteData"
  >
  <sit-data-set-container ident="sitCustomersEdit">
    <div class="sit-proc-params-content" fxLayout="column" style="height: 700px;">
      <div fxLayout="row">
        <sit-data-checkbox id="IsRecipient" #sitControl field="IsRecipient" label="Odbiorca"></sit-data-checkbox>
        <sit-data-checkbox id="IsSupplier" #sitControl field="IsSupplier" label="Dostawca"></sit-data-checkbox>
      </div>
      <div fxLayout="row">
        <sit-data-input type="text" id="CustIdent" #sitControl field="CustIdent" label="Identyfikator" [showRefresh]=false appearance="outline" style="width: 450px"></sit-data-input>
        <sit-data-input type="text" id="VATId" #sitControl field="VATId" label="NIP" [showRefresh]=false appearance="outline" style="width: 150px"></sit-data-input>
        <sit-data-input type="text" id="REGON" #sitControl field="REGON" label="REGON" [showRefresh]=false appearance="outline" style="width: 150"></sit-data-input>
        <sit-data-input type="text" id="KRS" #sitControl field="KRS" label="KRS" [showRefresh]=false appearance="outline" style="width: 150"></sit-data-input>
      </div>
      <div>
        <sit-data-input type="text" id="CustName" #sitControl field="CustName" label="Nazwa" [showRefresh]=false appearance="outline" fxFlex></sit-data-input>
      </div>
      <div fxLayout="row">
      </div>
      <div fxLayout="row">
        <sit-data-input type="text" id="CountrySymbol" #sitControl field="CountrySymbol" label="Kraj" [showRefresh]=false appearance="outline"  style="width: 100px"></sit-data-input>
        <sit-data-input type="text" id="PostCode" #sitControl field="PostCode" label="Kod pocztowy" [showRefresh]=false appearance="outline" style="width: 100px"></sit-data-input>
        <sit-data-input type="text" id="City" #sitControl field="City" label="Miasto" [showRefresh]=false appearance="outline" fxFlex></sit-data-input>
      </div>
      <div fxLayout="row">
        <sit-data-input type="text" id="Street" #sitControl field="Street" label="Ulica" [showRefresh]=false appearance="outline" fxFlex></sit-data-input>
        <sit-data-input type="text" id="HouseNum" #sitControl field="HouseNum" label="Numer" [showRefresh]=false appearance="outline" style="width: 100px"></sit-data-input>
      </div>
      <div fxLayout="row">
        <sit-data-input type="text" id="ExtIdent" #sitControl field="ExtIdent" label="Identyfikator zewnętrzny" [showRefresh]=false appearance="outline" fxFlex="50"></sit-data-input>
        <sit-data-input type="text" id="ExtIdent02" #sitControl field="ExtIdent02" label="Identyfikator zewnętrzny 2" [showRefresh]=false appearance="outline" fxFlex></sit-data-input>
      </div>
      <div fxLayout="row">
        <sit-data-input type="text" id="PhoneNumber" #sitControl field="PhoneNumber" label="Nr telefonu" [showRefresh]=false appearance="outline" fxFlex="50"></sit-data-input>
      </div>
    </div>
  </sit-data-set-container>
</sit-proc-params>
