<sit-proc-params
  [(actionExecuteData)]="actionExecuteData"
  >
  <sit-data-set-container ident="sitCustomersEdit">
    <div class="sit-proc-params-content" fxLayout="row" style="height: 700px;">
      <div fxFlex="50" fxLayout="column">
        <div fxLayout="row">
          <sit-data-checkbox #sitControl field="IsRecipient" label="Odbiorca"></sit-data-checkbox>
          <sit-data-checkbox #sitControl field="IsSupplier" label="Dostawca"></sit-data-checkbox>
        </div>
        <div fxLayout="row">
          <sit-data-input type="text" #sitControl field="CustIdent" label="Identyfikator" [showRefresh]=false appearance="outline" fxFlex></sit-data-input>
          <sit-data-input type="text" #sitControl field="VATId" label="NIP" [showRefresh]=false appearance="outline" style="width: 150px"></sit-data-input>
          <sit-data-input type="text" #sitControl field="REGON" label="REGON" [showRefresh]=false appearance="outline" style="width: 150"></sit-data-input>
          <sit-data-input type="text" #sitControl field="KRS" label="KRS" [showRefresh]=false appearance="outline" style="width: 150"></sit-data-input>
        </div>
        <div>
          <sit-data-input type="text" #sitControl field="CustName" label="Nazwa" [showRefresh]=false appearance="outline" fxFlex></sit-data-input>
        </div>
        <div fxLayout="row">
        </div>
        <div fxLayout="row">
          <sit-data-input type="text" #sitControl field="CountrySymbol" label="Kraj" [showRefresh]=false appearance="outline"  style="width: 100px"
           [lookupDisplayFields] = "['CountrySymbol', 'CountryName']"
          ></sit-data-input>
          <sit-data-input type="text" #sitControl field="PostCode" label="Kod pocztowy" [showRefresh]=false appearance="outline" style="width: 100px"></sit-data-input>
          <sit-data-input type="text" #sitControl field="City" label="Miasto" [showRefresh]=false appearance="outline" fxFlex></sit-data-input>
        </div>
        <div fxLayout="row">
          <sit-data-input type="text" #sitControl field="Street" label="Ulica" [showRefresh]=false appearance="outline" fxFlex></sit-data-input>
          <sit-data-input type="text" #sitControl field="HouseNum" label="Numer" [showRefresh]=false appearance="outline" style="width: 100px"></sit-data-input>
        </div>
        <div fxLayout="row">
          <sit-data-input type="text" #sitControl field="PhoneNumber" label="Nr telefonu" [showRefresh]=false appearance="outline" fxFlex="50"></sit-data-input>
        </div>
        <div fxLayout="row">
          <sit-data-input type="text" #sitControl field="ExtIdent" label="Identyfikator zewnętrzny" [showRefresh]=false appearance="outline" fxFlex="50"></sit-data-input>
          <sit-data-input type="text" #sitControl field="ExtIdent02" label="Identyfikator zewnętrzny 2" [showRefresh]=false appearance="outline" fxFlex></sit-data-input>
        </div>
      </div>
      <div fxFlex="50"></div>
    </div>
  </sit-data-set-container>
</sit-proc-params>
