<sit-proc-params
  [(actionExecuteData)]="actionExecuteData"
  >
  <sit-data-set-container ident="sitHRParams4InvoicingContrEdit">
    <div class="sit-proc-params-content" fxLayout="column" style="width: 600px">
      <div class="sit-form-section-title">Narzuty %</div>
      <div fxLayout="row">
        <sit-data-input type="date" #sitControl field="DateFrom" label="Od dnia" appearance="outline" style="width: 130px;"></sit-data-input>
        <sit-data-checkbox #sitControl field="CustRecr" label="Rekrutacja klienta"></sit-data-checkbox>
      </div>
      <div fxLayout="row">
        <sit-data-checkbox #sitControl field="CalcVacRes" label="Licz rezerwę urlopową"></sit-data-checkbox>
        <sit-data-checkbox #sitControl field="CalcPFRON" label="Licz PFRON"></sit-data-checkbox>
        <sit-data-checkbox #sitControl field="CalcSickRisk" label="Licz ryzyko chorobowe"></sit-data-checkbox>
        <sit-data-input type="number" #sitControl field="SickRiskFactor" label="Wsp." appearance="outline" style="width: 80px;"></sit-data-input>
      </div>
      <div fxLayout="row">
        <sit-data-checkbox #sitControl field="CalcSeparate" label="Licz osobno ZUS i narzut"
          matTooltip="Po zaznaczeniu system osobno wyliczy ZUS i narzut i doda je do kosztu pracownika (normalnie liczy narzut od kosztu + ZUS)." 
          matTooltipPosition="right"
          matTooltipHideDelay="100">
        </sit-data-checkbox>
        <sit-data-checkbox #sitControl field="CalcZUS4Pens" label="Licz ZUS dla emerytów"
          matTooltip="Po zaznaczeniu system policzy emerytom stawki ZUS dla emerytów. Standardowo liczy stawkę podstawową." 
          matTooltipPosition="right"
          matTooltipHideDelay="100">
        </sit-data-checkbox>
        <sit-data-input type="text" #sitControl field="ProfessionCode" label="Kod zawodu" appearance="outline"></sit-data-input>
      </div>
      <div fxLayout="row" fxLayoutGap="5px">
        <div fxLayout="column" fxFlex="30">
          <sit-data-input type="number" #sitControl field="BaseRate" label="Zasadnicze" digitsInfo="1.0-2" appearance="outline"></sit-data-input>
          <sit-data-input type="number" #sitControl field="NightRate" label="Nocne" digitsInfo="1.0-2" appearance="outline"></sit-data-input>
          <sit-data-input type="number" #sitControl field="OvertimeRate" label="Nadgodziny" digitsInfo="1.0-2" appearance="outline"></sit-data-input>
          <sit-data-input type="number" #sitControl field="BonusRate" label="Premie" digitsInfo="1.0-2" appearance="outline"></sit-data-input>
          <sit-data-input type="number" #sitControl field="Bonus1Rate" label="Premie1" digitsInfo="1.0-2" appearance="outline"></sit-data-input>
          <sit-data-input type="number" #sitControl field="VacRate" label="Urlop" digitsInfo="1.0-2" appearance="outline"></sit-data-input>
          <sit-data-input type="number" #sitControl field="VacAddRate" label="Dodatkowy urlop" digitsInfo="1.0-2" appearance="outline"></sit-data-input>
          <sit-data-checkbox #sitControl field="MealsNoVAT" label="Posiłki bez VAT"></sit-data-checkbox>
        </div>
        <div fxLayout="column" fxFlex="30">
          <sit-data-input type="number" #sitControl field="VacResRate" label="Rezerwa urlopowa" digitsInfo="1.0-2" appearance="outline"></sit-data-input>
          <sit-data-input type="number" #sitControl field="SickRate" label="Chorobowe" digitsInfo="1.0-2" appearance="outline"></sit-data-input>
          <sit-data-input type="number" #sitControl field="VouchersRate" label="Nagr. i bony" digitsInfo="1.0-2" appearance="outline"></sit-data-input>
          <sit-data-input type="number" #sitControl field="LumpSumRate" label="Ryczałty" digitsInfo="1.0-2" appearance="outline"></sit-data-input>
          <sit-data-input type="number" #sitControl field="Addition01Rate" label="Dof.do zakwaterowania" digitsInfo="1.0-2" appearance="outline"></sit-data-input>
          <sit-data-input type="number" #sitControl field="Addition05Rate" label="Dof.do ubezpieczenia" digitsInfo="1.0-2" appearance="outline"></sit-data-input>
          <sit-data-input type="number" #sitControl field="StandbyRate" label="Dyżur" digitsInfo="1.0-2" appearance="outline"></sit-data-input>
          <sit-data-input type="number" #sitControl field="MealsVATRate" label="% VAT - posiłki" digitsInfo="1.0-2" appearance="outline"></sit-data-input>
        </div>
        <div fxFlex="30">
          <sit-data-input type="number" #sitControl field="Addition06Rate" label="Dof. do op. medycznej" digitsInfo="1.0-2" appearance="outline"></sit-data-input>
          <sit-data-input type="number" #sitControl field="Addition02Rate" label="Dof.do posiłków" digitsInfo="1.0-2" appearance="outline"></sit-data-input>
          <sit-data-input type="number" #sitControl field="AdditionsRate" label="Inne dodatki" digitsInfo="1.0-2" appearance="outline"></sit-data-input>
          <sit-data-input type="number" #sitControl field="ZUSAddRate" label="Dodatkowy ZUS" digitsInfo="1.0-2" appearance="outline"></sit-data-input>
          <sit-data-input type="number" #sitControl field="PFRONRate" label="PFRON" digitsInfo="1.0-2" appearance="outline"></sit-data-input>
          <sit-data-input type="number" #sitControl field="PPKRate" label="PPK" digitsInfo="1.0-2" appearance="outline"></sit-data-input>
        </div>
      </div>
      <div fxLayout="column">
        <div><b>brak wartości</b> - koszt nie przechodzi na klienta</div>
        <div><b>0</b> - koszt przechodzi bez narzutu</div>
        <div><b>>0</b> - narzut</div>
      </div>
  </div>
  </sit-data-set-container>
</sit-proc-params>
