<button #button mat-stroked-button *ngIf="!isShouldBeHidden && !isSvgIcon()"
    [ngClass]="{'small': true, 'forSelectedRows': forSelectedRows}"
    color="{{color}}"
    (click)="onClick($event)" [disabled]="isDisabled"
    matTooltip="{{tooltip}}"
>
    <span *ngIf="executing" class="spinner-border spinner-border-sm mr-1 sit-proc-button-spinner"></span>
    <span *ngIf="icon && !executing" class="sit-proc-button-icon">
        <mat-icon aria-hidden="false" aria-label="Firma">{{icon}}</mat-icon>
    </span>
    <span class="sit-proc-button-caption">{{caption}}</span>
</button>
<button #button mat-stroked-button *ngIf="!isShouldBeHidden && isSvgIcon()"
    [ngClass]="{'small': true, 'forSelectedRows': forSelectedRows, 'align-items': 'center'}"
    color="{{color}}"
    (click)="onClick($event)" [disabled]="isDisabled"
    matTooltip="{{tooltip}}"
>
    <span *ngIf="executing" class="spinner-border spinner-border-sm mr-1 sit-proc-button-spinner"></span>
    <span *ngIf="icon && !executing" class="sit-proc-button-icon">
        <mat-icon  aria-hidden="false" aria-label="Firma" svgIcon="{{icon}}" style="width: 40px"></mat-icon>
    </span>
    <span class="sit-proc-button-caption">{{caption}}</span>
</button>