
<!-- [ngClass]="{'small': true, 'forSelectedRows': forSelectedRows, buttonTypeClass}" -->

<button 
    mat-button
    #button 
    *ngIf="!isShouldBeHidden"
    [ngClass] = 'buttonClasses'
    color="{{color}}"
    (click)="onClick($event)" 
    [disabled]="isDisabled"
    matTooltip="{{tooltip}}"
>

    <span *ngIf="executing" class="sit-proc-button-icon">
        <span class="spinner-border sit-proc-button-spinner"></span>
    </span>

    <!-- <span *ngIf="executing" class="spinner-border spinner-border-sm sit-proc-button-spinner"></span> -->

    <span *ngIf="icon && !executing" class="sit-proc-button-icon">
        <mat-icon aria-hidden="false" aria-label="Icon">{{icon}}</mat-icon>
    </span>
    <span *ngIf="caption && (icon || executing)" ngClass="separator">&nbsp;</span>
    <span class="sit-proc-button-caption">{{caption}}</span>

</button>
