<sit-proc-params
   [(actionExecuteData)]="actionExecuteData"
  >
  <sit-data-set-container ident="sitParams4EmployeesSettlementsEdit">
    <div class="sit-proc-params-content" fxLayout="column" style="width: 300px;height: 300px;" >
      <div fxLayout="column">
        <sit-data-input type="date" #sitControl field="DateFrom" label="Od dnia" appearance="outline" style="width: 300px;"></sit-data-input>
        <sit-data-input type="number" #sitControl field="ZUS" label="ZUS" digitsInfo="1.2-2" appearance="outline" fxFlex></sit-data-input>
        <sit-data-input type="number" #sitControl field="ZUSEmer" label="ZUS - emeryt" digitsInfo="1.2-2" appearance="outline" fxFlex></sit-data-input>
        <sit-data-input type="number" #sitControl field="PPK" label="PPK" digitsInfo="1.2-2" appearance="outline" fxFlex></sit-data-input>
       </div>
    </div>
  </sit-data-set-container>
</sit-proc-params>
