<sit-dict-container ngClass="sitHRParamsDef" ident="sitHRParamsDef" #sitDictcontainer fxFill>
  <mat-tab-group id="tab-group" animationDuration="0ms">
    <mat-tab label="Powody nieobecności">
      <div fxLayout="column" fxFill class="content">
        <sit-data-set-container ident="sitAbsenceReasonsFilter" >
          <div class="sit-filter-bar" fxLayout="row">
            <sit-data-input #sitControl field="searchAbsenceReasons" label="Filtruj" appearance="outline" [showRefreshButton]="true" style="width: 300px;"></sit-data-input>
          </div>
        </sit-data-set-container>
        <sit-data-set-container ident="sitAbsenceReasons" [showActionsToolbar]="true" fxFlex fxLayout="column">
          <div class="data-table" fxFlex>
            <ag-grid-angular
              #sitSetDataSource
              class="ag-theme-balham"
            >
            </ag-grid-angular>
          </div>
        </sit-data-set-container>
      </div>
    </mat-tab>
    <mat-tab label="Wymiar czasu pracy">
      <div fxLayout="column" fxFill class="content">
        <sit-data-set-container ident="sitHRWorkingHoursFilter" >
          <div class="sit-filter-bar" fxLayout="row">
            <sit-data-input #sitControl field="year" label="Rok" appearance="outline" [showRefreshButton]="true" style="width: 200px;"></sit-data-input>
          </div>
        </sit-data-set-container>
        <sit-data-set-container ident="sitHRWorkingHours" [showActionsToolbar]="false" fxFlex fxLayout="column">
          <div class="data-table" fxFlex>
            <ag-grid-angular
              #sitSetDataSource
              class="ag-theme-balham"
            >
            </ag-grid-angular>
          </div>
        </sit-data-set-container>
      </div>
    </mat-tab>

    <mat-tab label="Wymiary etatu">
      <div fxLayout="column" fxFill class="content">
        <sit-data-set-container ident="sitJobTimesFilter" >
          <div class="sit-filter-bar" fxLayout="row">
            <sit-data-input #sitControl field="searchJobTimes" label="Filtruj" appearance="outline" [showRefreshButton]="true" style="width: 300px;"></sit-data-input>
          </div>
        </sit-data-set-container>
        <sit-data-set-container ident="sitJobTimes" [showActionsToolbar]="false" fxFlex fxLayout="column">
          <div class="data-table" fxFlex>
            <ag-grid-angular
              #sitSetDataSource
              class="ag-theme-balham"
            >
            </ag-grid-angular>
          </div>
        </sit-data-set-container>
      </div>
    </mat-tab>

    <mat-tab label="Działy HR">
      <div fxLayout="column" fxFill class="content">
        <div class="sit-filter-bar">
          <sit-data-set-container ident="sitHRDepartmentsFilter" >
              <sit-data-input #sitControl field="search" label="Filtruj" placeholder="" appearance="outline" showRefreshButton="true" style="width: 300px;"></sit-data-input>
          </sit-data-set-container>
        </div>
        <sit-data-set-container  ident="sitHRDepartments" fxFlex fxLayout="column">
          <div class="data-table" fxFlex>
            <ag-grid-angular
              #sitSetDataSource
              #sitHRDepartmentsGrid
              class="ag-theme-balham"
            >
            </ag-grid-angular>
          </div>
        </sit-data-set-container>
      </div>
    </mat-tab>


    <mat-tab label="Struktura firmy">
      <div fxLayout="column" fxFill class="content">
        <sit-data-set-container ident="sitHRDepartmentsFilter" fxLayout="row">
          <div class="sit-filter-bar">
            <sit-data-input
              #sitControl
              field="search"
              label="Filtruj"
              placeholder=""
              appearance="outline"
              showRefreshButton="true"
              style="width: 300px;"
            >
            </sit-data-input>
          </div>
        </sit-data-set-container>
        <sit-data-set-container  ident="sitHRCompanyHierarchy" fxFlex fxLayout="column">
          <div class="data-table" fxFlex>
            <ag-grid-angular
              #sitSetDataSource
              #sitCompanyDepartmentsGrid
              class="ag-theme-balham"
              [treeData]="true"
              [getDataPath]="sitHRCompanyHierarchyGetDataPath"
              [autoGroupColumnDef]="sitHRCompanyHierarchyAutoGroupColumnDef"
              [groupDefaultExpanded]="sitHRCompanyHierarchyGroupDefaultExpanded"
            >
            </ag-grid-angular>
          </div>
        </sit-data-set-container>
      </div>
    </mat-tab>

    <mat-tab label="Struktura firmy 2 Test">
      <app-sit-hr-company-hierarchy></app-sit-hr-company-hierarchy>
    </mat-tab>

    <mat-tab label="Działy HR 2 Test">
      <sit-hr-departments></sit-hr-departments>
    </mat-tab>




  </mat-tab-group>
</sit-dict-container>
