<sit-dict-container ident="sitPublications" #sitDictcontainer ngClass="flex-container-column">
  <as-split #sitSpliter direction="vertical">
    <as-split-area [size]="40">
      <as-split #sitSpliter direction="horizontal">
        <as-split-area [size]="60" fxLayout="column">
          
          <div ngClass="flex-container-column content">
 
            <sit-data-set-container ident="sitPublicationsFilter" ngClass="flex-container-row sit-filter-bar">
              <sit-data-input #sitControl field="searchPublications" label="Filtruj publikacje" appearance="outline" style="width: 200px;" 
                placeholder="Publikacja, tytuł, tytuł oryginalny"></sit-data-input>
              <sit-data-input #sitControl field="searchAuthor" label="Filtruj autora" appearance="outline" style="width: 150px;" 
                placeholder="Imię, nazwisko"></sit-data-input>
              <sit-data-input #sitControl field="searchPublicationsProducts" label="Filtruj produkty" appearance="outline" style="width: 200px;" 
                placeholder="Identyfikator, nazwa, EAN" ></sit-data-input>
              <sit-data-input #sitControl field="searchManager" label="Filtruj menedżera" appearance="outline" style="width: 150px;" 
                placeholder="Imię, nazwisko" ></sit-data-input>
              <sit-data-checkboxlist #sitControl field="groupImprint" label="Imprint" [refreshOnChange]="false" [colors]="false" layout="1"></sit-data-checkboxlist>
              <sit-data-checkboxlist #sitControl field="groupStatusMain" label="Status" [refreshOnChange]="false" [colors]="true" layout="1"></sit-data-checkboxlist>
              <sit-refresh-button tooltip="Odśwież"></sit-refresh-button>
            </sit-data-set-container>
 
            <sit-data-set-container ident="sitPublications" [showActionsToolbar]="true" ngClass="flex-container-column">
              <ag-grid-angular #sitSetDataSource class="ag-theme-balham"></ag-grid-angular>
            </sit-data-set-container>
      
          </div>
        
        </as-split-area>
        <as-split-area [size]="40" ngClass="content">
          <!-- <div class="sit-grid-title">PUBLIKACJA</div> -->
          <sit-data-set-container  ident="sitPublications" ngClass="flex-container-column">

            <sit-simple-container ngClass="flex-container-column mb-05" title="PUBLIKACJA">
              <sit-data-label #sitControl field="PublicationIdent" type="header"></sit-data-label>
              <sit-data-label #sitControl field="Author" label="Autor"></sit-data-label>
              <sit-data-label #sitControl field="Title" label="Tytuł polski"></sit-data-label>
              <sit-data-label #sitControl field="OriginalTitle" label="Tytuł oryginalny"></sit-data-label>
            </sit-simple-container>
            
            <sit-simple-container ngClass="flex-container-column mb-05" >
              <sit-data-label #sitControl field="PublicationSubjectName" label="Tematyka"></sit-data-label>
              <div ngClass="flex-container-row">
                <sit-data-label #sitControl field="AudienceName" label="Grupa wiekowa" fxFlex="60"></sit-data-label>
                <sit-data-label #sitControl field="LanguageName_Original" label="Język oryginału" fxFlex="40"></sit-data-label>
              </div>
            </sit-simple-container>
          
            <sit-data-label #sitControl field="ManagerName" label="Menedżer"></sit-data-label>
          </sit-data-set-container>
        </as-split-area>
      </as-split>  
    </as-split-area>
    <as-split-area [size]="60">
      <mat-tab-group id="tab-group" animationDuration="0ms">
        <mat-tab label="Produkty">
          <as-split #sitSpliter direction="horizontal">

            <as-split-area [size]="40">
              <sit-data-set-container ident="sitPublicationsProducts" [showActionsToolbar]="true" ngClass="flex-container-column">
                <ag-grid-angular 
                  id="sitPublicationsProducts"
                  #sitSetDataSource 
                  class="ag-theme-balham"
                  [rowHeight]="publicationsProductsGridRowHeight"
                ></ag-grid-angular>
              </sit-data-set-container>
            </as-split-area>
            
            <as-split-area [size]="60">
              <mat-tab-group id="tab-group" animationDuration="0ms">
                <mat-tab label="Informacje" ngClass="flex-container-column">
                  <!-- <div class="sit-grid-title">PRODUKT</div> -->
                  <sit-data-set-container  ident="sitProducts4Pub" [showActionsToolbar]="true" ngClass="flex-container-column" (activeRowChanged)="activeRowProductsChanged($event)">
                    <!-- główny kontener z polami i zdjęciem -->
                    <div ngClass="flex-container-row content">
                      <!-- konntener po lewej z danymi  -->
                      <!-- sit-data-labels-standard-container -->
                      <div ngClass="flex-container-column mr-05 " >

                        <sit-simple-container ngClass="flex-container-column mb-05" title="PRODUKT">
                          <sit-data-label #sitControl field="ProductName" type="header"></sit-data-label>
                          <div ngClass="flex-container-row"> 
                            <div ngClass="flex-container-column mr-05" fxFlex="40">
                              <sit-data-label #sitControl field="Author" label="Autor" [valueStyle]="{'font-weight': '600'}"></sit-data-label>
                              <sit-data-label #sitControl field="Illustrator" label="Ilustrator" [valueStyle]="{'font-weight': '600'}"></sit-data-label>
                            </div>
                            <div ngClass="flex-container-column sit-data-labels-standard-container" fxFlex>
                              <sit-data-label #sitControl field="Translator" label="Tłumacz" [valueStyle]="{'font-weight': '600'}"></sit-data-label>
                              <sit-data-label #sitControl field="CollectionName" label="Kolekcja" [valueStyle]="{'font-weight': '600', 'font-style': 'italic'}"></sit-data-label>
                            </div>
                          </div>
                        </sit-simple-container>

                        <!-- kontener z dwoma dolnymi panelami -->
                        <div ngClass="flex-container-row">

                          <sit-simple-container ngClass="flex-container-column mr-05" fxFlex="40">
                            <sit-data-label #sitControl field="PremiereDate" label="Data premiery" ></sit-data-label>
                            <sit-data-label #sitControl field="RegisterDate" label="Data wydania" ></sit-data-label>
                            <sit-data-label #sitControl field="FormOfReleaseDesc" label="Forma wydania" ></sit-data-label>
                            <sit-data-label #sitControl field="EAN" label="EAN"></sit-data-label>
                            <sit-data-label #sitControl field="ISBN" label="ISBN"></sit-data-label>
                            <sit-data-label #sitControl field="CoverPrice" label="Cena okładkowa" type="number" [valueStyle]="{'text-align': 'left'}"></sit-data-label>
                            <sit-data-label #sitControl field="MasterProductIdent" label="Produkt bazowy"></sit-data-label>
                          </sit-simple-container>

                          <div ngClass="flex-container-row">
                            <sit-simple-container ngClass="flex-container-column mr-05" title="Format" fxFlex="50">
                              <sit-data-label #sitControl field="FormatBase" label="Podstawa" labelWidth="8em" ></sit-data-label>
                              <sit-data-label #sitControl field="FormatHeight" label="Wysokość" labelWidth="8em" ></sit-data-label>
                              <sit-data-label #sitControl field="NumberOfPages" label="Ilość stron" labelWidth="8em" ></sit-data-label>
                              <sit-data-label #sitControl field="BindingSpineThickness" label="Grubość grzbietu" labelWidth="8em" ></sit-data-label>
                              <!-- <sit-data-label #sitControl field="BindingType" label="Typ oprawy" labelWidth="8em" ></sit-data-label> -->
                            </sit-simple-container>
                            <sit-simple-container ngClass="flex-container-column" title="Wnętrze" fxFlex="50">
                              <sit-data-label #sitControl field="InsideFormatBase" label="Podstawa" labelWidth="8em" ></sit-data-label>
                              <sit-data-label #sitControl field="InsideFormatHeight" label="Wysokość" labelWidth="8em" ></sit-data-label>
                            </sit-simple-container>
                          </div>                        
                        </div>

                      </div>
                      <div fxLayout="column" fxLayoutAlign="start center" >
                        <!-- <div fxLayout="row" fxLayoutAlign="start start"><a href="{{link}}" target="_blank"><img class="img-prod-link" src="{{link}}" height="500"></a></div> -->
                        <div fxLayout="row" fxLayoutAlign="start start"><a href="{{link}}" target="_blank"><img class="img-prod-link" src="{{link}}"></a></div>
                      </div>                      
                    </div>
                  </sit-data-set-container>
                </mat-tab>
                <mat-tab label="Projekty">
                  <div fxFill fxLayout="column">
                    <sit-data-set-container ident="sitPublicationProductProjects" [showActionsToolbar]="false" fxLayout="column" fxFlex>
                      <div class="data-table" fxFlex>
                        <ag-grid-angular
                          #sitSetDataSource
                          style="width: 100%; height: 100%;"
                          class="ag-theme-balham"
                        >
                        </ag-grid-angular>
                      </div>
                    </sit-data-set-container>    
                  </div>
                </mat-tab>
                <mat-tab label="Twórcy produktu">
                  <div fxFill fxLayout="column">
                    <sit-data-set-container ident="sitProducts4PubContributors" [showActionsToolbar]="true" fxLayout="column" fxFlex>
                      <div class="data-table" fxFlex>
                        <ag-grid-angular
                          #sitSetDataSource
                          style="width: 100%; height: 100%;"
                          class="ag-theme-balham"
                        >
                        </ag-grid-angular>
                      </div>
                    </sit-data-set-container>    
                  </div>
                </mat-tab>
              </mat-tab-group>
            </as-split-area>
          </as-split>  
        </mat-tab>
        <mat-tab label="Tantiemy">
          <div fxFill fxLayout="column">
            <sit-data-set-container ident="sitRoyaltiesPeriodsForPublication" [showActionsToolbar]="true" fxLayout="column" fxFlex>
              <div class="data-table" fxFlex>
                <ag-grid-angular
                  #sitSetDataSource
                  style="width: 100%; height: 100%;"
                  class="ag-theme-balham"
                >
                </ag-grid-angular>
              </div>
            </sit-data-set-container>
          </div>
        </mat-tab>        
        <mat-tab label="Twórcy publikacji">
          <div fxFill fxLayout="column">
            <sit-data-set-container ident="sitPublicationContributors" [showActionsToolbar]="true" fxLayout="column" fxFlex>
              <div class="data-table" fxFlex>
                <ag-grid-angular
                  #sitSetDataSource
                  style="width: 100%; height: 100%;"
                  class="ag-theme-balham"
                >
                </ag-grid-angular>
              </div>
            </sit-data-set-container>
          </div>
        </mat-tab>        
        <mat-tab label="Klasyfikacja Thema">
          <div fxFill fxLayout="column">
            <sit-data-set-container ident="sitPublicationThemaCodesFilter" >
              <div class="sit-filter-bar" fxLayout="row">
                <sit-data-checkbox #sitControl field="searchAllCodes" label="Wszystkie pozycje" labelPosition="after" checked="false" [refreshOnChange]="true" ></sit-data-checkbox>
              </div>
            </sit-data-set-container>                
            <sit-data-set-container ident="sitPublicationThemaCodes" [showActionsToolbar]="true" fxLayout="column" fxFlex>
              <div class="data-table" fxFlex>
                <ag-grid-angular
                  #sitSetDataSource
                  style="width: 100%; height: 100%;"
                  class="ag-theme-balham"
                  [treeData]="true"
                  [getDataPath]="getDataPath"
                  [autoGroupColumnDef]="autoGroupColumnDef"
                  [groupDefaultExpanded]="groupDefaultExpanded"
                >
                </ag-grid-angular>
              </div>
            </sit-data-set-container>
          </div>
        </mat-tab>
      </mat-tab-group>        
    </as-split-area>
  </as-split>
</sit-dict-container>