<sit-proc-params
  [(actionExecuteData)]="actionExecuteData"
  >
  <sit-data-set-container ident="sitHRPFRONDataImport">
    <div class="sit-proc-params-content" fxLayout="row">
      <sit-data-input type="number" #sitControl field="CostYear" label="Rok" digitsInfo="1.0-0" appearance="outline" style="width: 100px;"></sit-data-input>
      <sit-data-input type="number" #sitControl field="CostMonth" label="Miesiąc" digitsInfo="1.0-0" appearance="outline" style="width: 100px;"></sit-data-input>
   </div>
  </sit-data-set-container>
</sit-proc-params>
