<sit-proc-params
   [(actionExecuteData)]="actionExecuteData"
  >
  <sit-data-set-container ident="sitPublicationsAgreementsEdit">

    <div class="sit-proc-params-content" fxLayout="row" fxLayoutGap="5px" style="width: 1000px; height: 450px;">
      <div fxLayout="column" fxFlex=50>
        <div class="sit-form-section-title">Licencja</div>
        <div fxLayout="row" fxLayoutAlign="start center" >
          <sit-data-input #sitControl type="text" field="AgreementsScopeIdent" label="Zakres umowy" appearance="outline"  [lookupDisplayFields] = "['AgreementsScopeIdent', 'AgreementsScopeDesc']"  fxFlex=30></sit-data-input>
          <sit-data-label #sitControl type="text" field="AgreementsScopeDesc" label=""></sit-data-label>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <sit-data-input #sitControl type="number" field="RightsPeriodInYears" label="Czas trwania licencji - lata" appearance="outline" fxFlex=50
            matTooltip="Podajemy czas trwania licencji w latach np. 5, 10 lat." matTooltipPosition="right" matTooltipHideDelay="100"></sit-data-input>
          <sit-data-checkbox #sitControl field="IsAdvance" label="Czy wypłacana jest zaliczka?"
            matTooltip="Czy jest zaliczka?" matTooltipPosition="right" matTooltipHideDelay="100"></sit-data-checkbox>
        </div>
        <div fxLayout="row">
          <sit-data-radio #sitControl field="SellAfterRightsKind" type="row" label="Prawo do sprzedaży po wygaśnięciu lic." fxFlex=60
            [buttons]="[{'caption':'brak','value': '0', 'checked':true},{'caption':'okres','value':'1'},{'caption':'do wyczerpania zapasu','value':'2'}]"
            matTooltip="Czy mamy prawo do sprzedaży po wygaśnięciu licencji" matTooltipPosition="right" matTooltipHideDelay="100"></sit-data-radio>
          <sit-data-input *ngIf="this.activeRow?.SellAfterRightsKind == 1" #sitControl type="number" field="SellAfterRightsPeriodInMonths" label="Okres - mies." appearance="outline" fxFlex=50
            matTooltip="Podajemy okres przez jaki mamy prawo sprzedawać tytuł po zakończeniu licencji w miesiącach." matTooltipPosition="right" matTooltipHideDelay="100"></sit-data-input>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <sit-data-radio #sitControl field="MinPrice" type="row" label="Min tantiemy / cena" fxFlex=50
            [buttons]="[{'caption':'brak','value': '0', 'checked':true},{'caption':'tantiemy','value':'1'},{'caption':'cena','value':'2'}]"
            matTooltip="Czy są tantiemy minimalne?" matTooltipPosition="right" matTooltipHideDelay="100"></sit-data-radio>
        </div>

        <div class="sit-form-section-title">Rozliczenie</div>
        <div fxLayout="row">
          <sit-data-input #sitControl type="text" field="CurrencyIdent" label="Waluta rozliczenia" appearance="outline"  
          [lookupDisplayFields] = "['CurrencyIdent', 'CurrencyDesc']" fxFlex=40
          ></sit-data-input>
        </div>
        <div fxLayout="row">
          <sit-data-radio #sitControl field="BillingFrequency" type="row" label="Częstotliwość rozliczenia"  fxFlex=80
            [buttons]="[{'caption':'rok','value':'4'},{'caption':'półrocze','value':'3'},{'caption':'kwartał','value':'2'},
            {'caption':'miesiąc','value':'1'},{'caption':'brak','value':'0','checked':true}]"
              matTooltip="Jak często rozliczamy tantiemy"
              matTooltipPosition="right"
              matTooltipHideDelay="100"
          ></sit-data-radio>
        </div>
        <div fxLayout="row">
          <sit-data-input #sitControl type="number" field="TimeToPay" label="Czas na przesłanie rozliczenia - dni" appearance="outline" fxFlex=50
            matTooltip="Ile mam czasu na przygotowanie i przesłanie rozliczenia, od zakończenia okresu - w dniach."
            matTooltipPosition="right"
            matTooltipHideDelay="100"></sit-data-input>
          <sit-data-input #sitControl type="number" field="TimeToSettle" label="Czas na przesłanie rozliczenia i zapłatę - dni" appearance="outline" fxFlex
            matTooltip="Ile mam czasu na zapłatę tantiem, od zakończenia okresu - w dniach."
            matTooltipPosition="right"
            matTooltipHideDelay="100"></sit-data-input>
        </div>
      </div>

      <div fxLayout="column" fxFlex>
        <div class="sit-form-section-title">Remainders</div>
        <div fxLayout="row">
          <sit-data-checkbox #sitControl field="Remainders" label="Remainders" fxFlex=50
            matTooltip="Czy umowa przewiduje remainders?"
            matTooltipPosition="right"
            matTooltipHideDelay="100"></sit-data-checkbox>
          <sit-data-input *ngIf="this.activeRow?.Remainders == 1" #sitControl type="number" field="RemaindersRate" label="% tant. od remainders" appearance="outline" fxFlex></sit-data-input>
        </div>
        <div fxLayout="row">
          <sit-data-checkbox #sitControl field="IncSale" label="Naliczaj tantiemy od wyprzedaży"
          matTooltip="Wyprzedaż  - sprzedaż poniżej kosztu wytworzenia tj. poniżej ceny ewidencyjnej. Jeżeli umowa nie wskazuje wyraźnie, że od wyprzedaży nie są naliczane tantiemy (zapisy typu: No royalties shall be paid on copies sold at or below cost price) należy zaznaczyć to pole"
          matTooltipPosition="right"
          matTooltipHideDelay="100"></sit-data-checkbox>
        </div>
        <div class="sit-form-section-title">Wygaśnięcie licencji przed terminem</div>
      </div>
    </div>
  </sit-data-set-container>
</sit-proc-params>
