
// .mat-toolbar::after {
//     content: "\00A0";
//     max-width: 0;
//     border: 1px solid red;
//     max-width: 1px;
//     overflow: hidden;
//   }

.mat-toolbar {
    // tu sterujemy wielkoscia fonta globalnie dla toolbar
    font-size: 1rem;

    .sit-proc-buttons-row {
      display: flex;
      flex: 0 1 0;
    }

    button {
      margin: 4px 0px 3px 4px;
    }
  
  
    &.mat-toolbar-multiple-rows {
      min-height: auto;
      mat-toolbar-row, .mat-toolbar-row, .mat-toolbar-single-row {
        height: auto;
      }
    }
    
    .mat-toolbar-row, .mat-toolbar-single-row {
      // padding: 2px 2px 0px 2px;
      padding: 0 3px 0 0;
    }

    // wypelniacz pustego toolbara
    .toolbar-filler {
        flex: 0 0 0;
        max-width: 0px;
        padding: 0;
        visibility: hidden;
        width: 0;
        min-width: auto;
        border-color: transparent;
        color: transparent;
    }
  
  
  }



