<sit-data-set-container ident="{{dictIdent}}">
  <div fxLayout="column">
    <div fxFlex>
      <ng-content></ng-content>
    </div>
    <div class="sit-proc-params-bottom-bar">
      <div fxLayout="row" fxFill fxLayoutAlign="start center" >
          <div style="padding: 0px 20px;">
            <button [disabled]="executing" mat-raised-button color="primary" (click)="executeAction()">
              <span *ngIf="executing" class="spinner-border spinner-border-sm mr-1"></span>
              Zapisz
            </button>
          </div>
          <div>
            <button mat-raised-button color="primary" (click)="discard()"  style="width: 80px;">Anuluj</button>
          </div>
      </div>
    </div>
  </div>
</sit-data-set-container>

