<div class='spinner-container' *ngIf="!activeRow">
  <div class="spinner spinner-border spinner-border-sm text-muted"></div>
</div>

<sit-data-set-container ident="{{dictIdent}}" ngClass="flex-container-column"  *ngIf="activeRow">

    <ng-content></ng-content>

    <div class="sit-proc-params-bottom-bar flex-container-row">
      <div>
        <button [disabled]="executing || saveDisabled" mat-raised-button color="primary" (click)="executeActionClickEvent()">
          <span *ngIf="executing" class="spinner-border spinner-border-sm"></span>
          Zapisz
        </button>
      </div>
      <div>
        <button mat-raised-button color="primary" (click)="discard()" >Anuluj</button>
      </div>
      <div class="in-progress-bar">            
        <span *ngIf="operationInProgress" class="spinner-border spinner-border-sm operationInProgress"></span>
      </div>
    </div>

</sit-data-set-container>

