<sit-dict-container ident="sitPubPrintCostAnalysis" #sitDictcontainer fxFill>
    <div fxLayout="column" fxFill class="content">
      <div class="sit-filter-bar">
        <sit-data-set-container ident="sitPubPrintCostAnalysisFilter" fxLayout="row">
          <sit-data-input #sitControl field="searchDateFrom" type="date" label="Od" appearance="outline" style="width: 130px;"></sit-data-input>
          <sit-data-input #sitControl field="searchDateTo" type="date" label="Do" appearance="outline" style="width: 130px;"></sit-data-input>
          <sit-data-input #sitControl field="search" label="Dokument" placeholder="Opis, numer" appearance="outline" style="width: 200px;"></sit-data-input>
          <sit-data-input #sitControl field="searchProject" label="Projekt" placeholder="Symbol, tytuł" appearance="outline" style="width: 200px;"></sit-data-input>
          <sit-data-input #sitControl field="searchCustomer" label="Kontrahent" placeholder="Logo, nazwa" appearance="outline" [showRefreshButton]="true" style="width: 250px;"></sit-data-input>
        </sit-data-set-container>
      </div>
      <sit-data-set-container ident="sitPubPrintCostAnalysis" [showActionsToolbar]="false" fxFlex fxLayout="column">
        <div class="data-table" fxFlex>
          <ag-grid-angular
            #sitSetDataSource
            style="width: 100%; height: 100%;"
            class="ag-theme-balham"
            [pivotMode]="true"
            [sideBar]="true"
            [suppressAggFuncInHeader]="true"
            [defaultColDef]="defaultColDef"
            [autoGroupColumnDef]="autoGroupColumnDef"
            [pivotRowTotals]="pivotRowTotals"
          >
          </ag-grid-angular>
        </div>
      </sit-data-set-container>
    </div>
  </sit-dict-container>