<sit-proc-params
  [(actionExecuteData)]="actionExecuteData"
  >
  <sit-data-set-container ident="sitJobs">
    <div class="sit-proc-params-content" fxLayout="column">
      <div fxLayout="row">
        <sit-data-checkbox #sitControl field="IsActive" label="Aktywny"></sit-data-checkbox>
        <sit-data-checkbox  #sitControl field="RunImmediately" label="Uruchom natychmiast" fxFlex></sit-data-checkbox>
      </div>
      <sit-data-input type="text" #sitControl field="JobIdent" label="Identyfikator"  appearance="outline" fxFlex></sit-data-input>
      <div fxLayout="row">
        <sit-data-input type="text" #sitControl field="JobName" label="Nazwa"  appearance="outline" fxFlex></sit-data-input>
      </div>
      <div fxLayout="row">
        <sit-data-input type="text" #sitControl field="IntervalKind" label="Rodzaj interwału - mm/hh" appearance="outline" fxFlex></sit-data-input>
        <sit-data-input type="text" #sitControl field="IntervalCounter" label="Interwał - ilosć" appearance="outline" fxFlex></sit-data-input>
      </div>
      <div fxLayout="row">
        <sit-data-input type="datetime-local" #sitControl field="StartDate" label="Data rozpoczęcia" appearance="outline" style="width: 200px"></sit-data-input>
        <sit-data-input type="text" #sitControl field="sitCompaniesId" label="ID firmy" appearance="outline" style="width: 80px"></sit-data-input>
      </div>
    </div>
  </sit-data-set-container>
</sit-proc-params>
