<sit-proc-params
  dictIdent="sitUserAccount"
  [(actionExecuteData)]="actionExecuteData"
  >
  <sit-data-set-container ident="sitUserAccount">
    <div fxFill>
      <div fxLayout="column">
        <sit-data-input type="text" id="OldPassword" #sitControl field="OldPassword" label="Stare hasło" [showRefresh]=false appearance="outline" style="width: 300px" readonly="false"></sit-data-input>
        <sit-data-input type="text" id="NewPassword" #sitControl field="NewPassword" label="Nowe hasło" [showRefresh]=false appearance="outline" style="width: 300px" readonly="false"></sit-data-input>
        <sit-data-input type="text" id="RepeatNewPassword" #sitControl field="RepeatNewPassword" label="Powtórz nowe hasło" [showRefresh]=false appearance="outline" style="width: 300px" readonly="false"></sit-data-input>
        <br>
      </div>
    </div>
  </sit-data-set-container>
</sit-proc-params>
