.sit-office-doc-gen-account-component{
  .sit-data-label-component {
    border: none;
    .sit-data-label-value {
      width: 95%; 
      font-size: 13px; 
      margin: 11px 0px 0px 5px;
    }
  }
}