<sit-proc-params
   [(actionExecuteData)]="actionExecuteData"
  >
  <sit-data-set-container ident="sitPublicationsBillingDefThrsEdit">
    <div class="sit-proc-params-content" fxLayout="column">
      <sit-data-input #sitControl type="number" field="Threshold" label="Próg" appearance="outline" ></sit-data-input>
      <sit-data-input #sitControl type="number" field="Rate" label="Stawka(% lub kwota)" appearance="outline" ></sit-data-input>
    </div>
  </sit-data-set-container>
</sit-proc-params>
