<sit-dict-container #sitDictcontainer ident="sitSettlements" fxFill>
  <div fxLayout="column" fxFill>
    <mat-tab-group id="tab-group" animationDuration="0ms">
      <mat-tab label="Rozrachunki">
        <as-split direction="vertical">
          <as-split-area [size]="70">
            <div fxLayout="column" fxFill class="content">
              <sit-data-set-container ident="sitFilter" fxLayout="row">
                <div class="sit-filter-bar" fxLayout="row">
                  <div fxLayoutAlign="start center">
                    <sit-data-input #sitControl field="Customer" label="Kontrahent" appearance="outline" style="width: 200px;"></sit-data-input>
                    <sit-data-input #sitControl field="DocumentNumber" label="Numer" appearance="outline" style="width: 200px;"></sit-data-input>
                    <sit-data-input #sitControl field="CurrencyIdent" label="Waluta" appearance="outline" style="width: 120px;"></sit-data-input>
                    <sit-data-input #sitControl field="ForDate" type="date" label="Na dzień" appearance="outline" style="width: 200px;" showRefreshButton="true"></sit-data-input>
                  </div>
                  <!-- <div fxLayoutAlign="start center">
                    <sit-data-radio #sitControl field="Settled" type="row" label="Stan rozl."
                      [buttons]="[{'caption':'Nierozl.','value': '0', 'checked':true},{'caption':'Rozl.','value': '1'},{'caption':'Wszystkie','value': '2'}]"
                    ></sit-data-radio>
                  </div> -->
                </div>
              </sit-data-set-container>
              <sit-data-set-container ident="sitSettlements" showActionsToolbar="true" fxLayout="column" fxFlex>
                <div class="data-table" fxFlex>
                  <ag-grid-angular
                    #sitSetDataSource
                    style="width: 100%; height: 100%;"
                    class="ag-theme-balham"
                  >
                  </ag-grid-angular>
                </div>
              </sit-data-set-container>
            </div>
          </as-split-area>
          <as-split-area [size]="30">
            <div fxLayout="column" fxFill class="content">
              <sit-data-set-container ident="sitSettlementsDet" fxLayout="column" fxFlex>
                <div class="data-table" fxFlex>
                  <ag-grid-angular
                    #sitSetDataSource
                    style="width: 100%; height: 100%;"
                    class="ag-theme-balham"
                  >
                  </ag-grid-angular>
                </div>
            </sit-data-set-container>
            </div>
          </as-split-area>
        </as-split>
      </mat-tab>
      <mat-tab label="Wiekowanie rozrachunków">
        <div fxLayout="column" fxFill class="content">
          <sit-data-set-container ident="sitFilterByAge" fxLayout="row">
            <div class="sit-filter-bar" fxLayout="row">
              <sit-data-input #sitControl field="Customer" label="Kontrahent" appearance="outline" style="width: 200px;"></sit-data-input>
              <sit-data-input #sitControl field="pr01" label="P01" appearance="outline" style="width: 50px;"></sit-data-input>
              <sit-data-input #sitControl field="pr02" label="P02" appearance="outline" style="width: 50px;"></sit-data-input>
              <sit-data-input #sitControl field="pr03" label="P03" appearance="outline" style="width: 50px;"></sit-data-input>
              <sit-data-input #sitControl field="pr04" label="P04" appearance="outline" style="width: 50px;"></sit-data-input>
              <sit-data-input #sitControl field="pr05" label="P05" appearance="outline" style="width: 50px;"></sit-data-input>
              <sit-data-input #sitControl field="pr06" label="P06" appearance="outline" style="width: 100px;"></sit-data-input>
              <sit-data-radio #sitControl field="kind" type="row" label="Rodzaj"
                [buttons]="[{'caption':'Wszystkie','value': '0', 'checked':true},{'caption':'Należności','value': '1'},{'caption':'Zobowiązania','value': '-1'}]"
                showRefreshButton='true'
              ></sit-data-radio>
              <sit-data-input #sitControl field="ForDate" type="date" label="Na dzień" appearance="outline" style="width: 200px;" showRefreshButton="true"></sit-data-input>
            </div>
          </sit-data-set-container>
          <sit-data-set-container ident="sitSettlementsByAge" showActionsToolbar="true" fxLayout="column" fxFlex>
            <div class="data-table" fxFlex>
              <ag-grid-angular
                #sitSetDataSource
                style="width: 100%; height: 100%;"
                class="ag-theme-balham"
              >
              </ag-grid-angular>
            </div>
          </sit-data-set-container>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</sit-dict-container>
