<sit-proc-params
   [(actionExecuteData)]="actionExecuteData"
  >
  <sit-data-set-container ident="sitTransactionTypesEdit" class="sit-proc-params-content" fxLayout="column">
    <sit-data-input #sitControl field="TransactionTypeIdent" label="Identyfikator" appearance="outline"></sit-data-input>
    <sit-data-input #sitControl field="TransactionTypeDesc" label="Identyfikator" appearance="outline"></sit-data-input>
    <sit-data-input #sitControl field="Account" label="Konto" appearance="outline"></sit-data-input>
    <sit-data-checkbox #sitControl field="Active" label="Aktywny"></sit-data-checkbox>
  </sit-data-set-container>
</sit-proc-params>