<sit-proc-params
   [(actionExecuteData)]="actionExecuteData"
  >
  <sit-data-set-container ident="sitAgreementCustomersEdit">
    <div class="sit-proc-params-content" fxLayout="column">
      <sit-data-input #sitControl type="text" field="CustName" label="Kontrahent" appearance="outline"  [lookupDisplayFields] = "['CustIdent', 'CustName']"></sit-data-input>
      <div fxLayout="row">
        <sit-data-input type="text" #sitControl field="RoleIdent" label="Rola" appearance="outline" style="width: 200px"
          [lookupDisplayFields] = "['RoleIdent']"
        ></sit-data-input>        
        <sit-data-input #sitControl type="number" field="PercentShare" label="Udział procentowy" appearance="outline" fxFlex="50"></sit-data-input>
      </div>
      <sit-data-checkbox #sitControl field="ForBilling" label="Odbiorca rozliczenia" fxFlex></sit-data-checkbox>
    </div>
  </sit-data-set-container>
</sit-proc-params>