<sit-dict-container ident="sitReturns" #sitDictcontainer ngClass="flex-container-row content">

      <as-split direction="horizontal">
        <as-split-area [size]="50">

          <as-split direction="vertical">
            <as-split-area [size]="40" ngClass="flex-container-column">

                <div ngClass="flex-container-row sit-filter-bar">
                  <sit-data-set-container ident="sitFilterDocumentsHeaders" fxLayout="row">
                      <sit-data-input #sitControl id="searchDocumentsHeaders" field="searchDocumentsHeaders" label="Filtruj dokumenty" placeholder="Numer" appearance="outline" style="width: 300px;"></sit-data-input>
                      <sit-data-input #sitControl id="DateFrom" field="DateFrom" type="date" label="Od" appearance="outline" style="width: 150px;"></sit-data-input>
                      <sit-data-input #sitControl id="DateFrom" field="DateTo" type="date" label="Do" appearance="outline" style="width: 200px;" showRefreshButton="true" ></sit-data-input>
                  </sit-data-set-container>
                </div>

                <sit-data-set-container ident="sitDocumentsHeaders" showActionsToolbar="true" ngClass="flex-container-column">
                  <ag-grid-angular
                    #sitSetDataSource
                    class="ag-theme-balham"
                  >
                  </ag-grid-angular>
                </sit-data-set-container>

              </as-split-area>
            <as-split-area [size]="50" ngClass="flex-container-column">

              <sit-data-set-container  ident="sitDocumentsPositions" ngClass="flex-container-column">
                <ag-grid-angular
                  #sitSetDataSource
                  class="ag-theme-balham"
                  [rowClassRules]="rowClassRules"
                >
                </ag-grid-angular>
              </sit-data-set-container>

              </as-split-area>
          </as-split>
        </as-split-area>

        <as-split-area [size]="50" fxLayout="column">
        
          <div fxFlex="40" fxLayout="column">
            <div class="sit-grid-title">Załączniki</div>
            <sit-data-set-container ident="sitAttachments" showActionsToolbar="true" ngClass="flex-container-column">
              <ag-grid-angular
                #sitSetDataSource
                class="ag-theme-balham"
              >
              </ag-grid-angular>
            </sit-data-set-container>
          </div>
          <div fxFlex>
            <sit-data-set-container  ident="sitAttachments"  fxFlex fxLayout="column">
              <sit-pdf-viewer #sitControl reportType="att" field="FileName" fxFill></sit-pdf-viewer>
            </sit-data-set-container>
          </div>
    
        </as-split-area>
      </as-split>
    
</sit-dict-container>
