<sit-dict-container #sitDictcontainer ident="sitEmployeesSettlements" (refreshAfter)="refreshAfter($event)" fxFill>
  <div fxLayout="column" fxFill class="content">
    <div class="sit-filter-bar" fxLayout="row">
      <sit-data-set-container ident="sitFilter" >
        <div fxLayout="row">
          <sit-data-input #sitControl field="CostYear" type="number" label="Rok" digitsInfo="1.0-0" placeholder="" appearance="outline" style="width: 65px;"></sit-data-input>
          <sit-data-input #sitControl field="CostMonth" type="number" label="Miesiąc" digitsInfo="1.0-0" placeholder="" appearance="outline" style="width: 60px;"></sit-data-input>
          <sit-data-input #sitControl field="HRDepartmentIdent" label="Dział" placeholder="" appearance="outline" style="width: 200px;"
            [lookupDisplayFields] = "['HRDepartmentIdent', 'HRDepartmentName']">
          </sit-data-input>
          <sit-data-input #sitControl field="search" label="Filtruj" placeholder="" appearance="outline" showRefreshButton="true" style="width: 300px;"></sit-data-input>
        </div>
      </sit-data-set-container>
      <sit-data-set-container  ident="sitEmployeesSettlements" fxFlex fxLayout="row" fxLayoutAlign="end center">
        <button mat-stroked-button color="primary" (click)="getAttachment()" style="width: 120px;"><mat-icon>attach_file</mat-icon>Załącznik</button>
      </sit-data-set-container>
    </div>
    <mat-tab-group id="tab-group" animationDuration="0ms"
      [(selectedIndex)]="selectedTabIndex"
      (selectedTabChange)="tabChanged($event)">
      <mat-tab label="Zlecenia">
        <as-split #sitSpliter direction="horizontal">
          <as-split-area [size]="70">
            <sit-data-set-container  ident="sitEmployeesSettlements" showActionsToolbar="true" fxFill fxLayout="column">
              <div class="data-table" fxFlex>
                <ag-grid-angular
                  #sitSetDataSource
                  style="width: 100%; height: 100%;"
                  class="ag-theme-balham"
                >
                </ag-grid-angular>
              </div>
            </sit-data-set-container>
          </as-split-area>
          <as-split-area [size]="30">
            <div fxLayout="column" fxFill ngClass="content">
              <sit-data-set-container ident="sitEmployeesSettlements">
                <sit-simple-container ngClass="flex-container-column mb-05" title="Składniki">
                  <sit-data-label #sitControl field="EmployeeName" type="header" [valueStyle]="{'text-align': 'center', 'margin-right': '0em' }"></sit-data-label>
                  <div ngClass="flex-container-row">
                    <sit-data-label #sitControl field="CustIdent" label="Kontrahent" labelWidth="6em" fxFlex="35"></sit-data-label>
                    <sit-data-label #sitControl field="CustName" label="" fxFlex></sit-data-label>
                  </div>
                  <div ngClass="flex-container-row">
                    <sit-data-label #sitControl field="HRDepartmentIdent" label="Dział" labelWidth="6em" fxFlex="35"></sit-data-label>
                    <sit-data-label #sitControl field="HRDepartmentName" label=""  ></sit-data-label>
                  </div>
                </sit-simple-container>
                <sit-simple-container ngClass="flex-container-column mb-05">
                  <sit-data-label #sitControl field="HRContractTemplateRate" label="St. z szabl." labelWidth="6em" ></sit-data-label>
                  <sit-data-label #sitControl field="CalcInfo" label="Kalkulacja" labelWidth="6em"></sit-data-label>
                </sit-simple-container>

                <!-- <div fxLayout="column" fxFill fxLayoutGap="5px">
                  <mat-card>
                    <mat-card-title>
                      <sit-data-label #sitControl field="EmployeeName" label="" style="font-size: 24px; font-weight: 500;"></sit-data-label>
                    </mat-card-title>
                    <mat-card-content>
                      <div fxLayout="column">
                        <div fxLayout="row">
                          <sit-data-label type="text" #sitControl field="CustIdent" label="Kontrahent:" labelWidth="80" valueWidth="70"></sit-data-label>&nbsp;
                          <sit-data-label type="text" #sitControl field="CustName" label=""></sit-data-label>
                        </div>
                        <div fxLayout="row">
                          <sit-data-label type="text" #sitControl field="HRDepartmentIdent" label="Dział:" labelWidth="80" valueWidth="70"></sit-data-label>&nbsp;
                          <sit-data-label type="text" #sitControl field="HRDepartmentName" label=""></sit-data-label>
                        </div>
                      </div>
                    </mat-card-content>
                  </mat-card>
                  <mat-card>
                    <mat-card-content>
                      <div fxLayout="column">
                        <sit-data-label type="text" #sitControl field="HRContractTemplateRate" label="Stawka z szablonu:"></sit-data-label>
                        <sit-data-label type="text" #sitControl field="CalcInfo" label="Kalkulacja:"></sit-data-label>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div> -->
              </sit-data-set-container>
              <sit-data-set-container  ident="sitEmployeesSettlementsComp" showActionsToolbar="true" fxFlex fxLayout="column">
                <div class="data-table" fxFlex>
                  <ag-grid-angular
                    #sitSetDataSource
                    #sitHRDepartmentsGrid
                    style="width: 100%; height: 100%;"
                    class="ag-theme-balham"
                  >
                  </ag-grid-angular>
                </div>
              </sit-data-set-container>
            </div>
          </as-split-area>
        </as-split>
      </mat-tab>
      <mat-tab label="Umowy o pracę">
        <as-split #sitSpliter direction="horizontal">
          <as-split-area [size]="70">
            <sit-data-set-container  ident="sitEmployeesSettlementsContr" showActionsToolbar="true" fxFill fxLayout="column">
              <div class="data-table" fxFlex>
                <ag-grid-angular
                  #sitSetDataSource
                  style="width: 100%; height: 100%;"
                  class="ag-theme-balham"
                  [masterDetail]="true"
                  [detailCellRendererParams]="detailCellRendererParams"
                  [detailRowAutoHeight]="true"
                >
                </ag-grid-angular>
              </div>
            </sit-data-set-container>
          </as-split-area>
          <as-split-area [size]="30">
            <div fxLayout="column" fxFill ngClass="content">
              <sit-data-set-container ident="sitEmployeesSettlementsContr">
                <sit-simple-container ngClass="flex-container-column mb-05" title="Składniki">
                  <sit-data-label #sitControl field="EmployeeName" type="header" [valueStyle]="{'text-align': 'center', 'margin-right': '0em' }"></sit-data-label>
                  <div ngClass="flex-container-row">
                    <sit-data-label #sitControl field="CustIdent" label="Kontrahent" labelWidth="6em" fxFlex="35"></sit-data-label>
                    <sit-data-label #sitControl field="CustName" label="" fxFlex></sit-data-label>
                  </div>
                  <div ngClass="flex-container-row">
                    <sit-data-label #sitControl field="HRDepartmentIdent" label="Dział" labelWidth="6em" fxFlex="35"></sit-data-label>
                    <sit-data-label #sitControl field="HRDepartmentName" label=""  ></sit-data-label>
                  </div>
                  </sit-simple-container>

                <!-- <div fxLayout="column" fxFill fxLayoutGap="5px">
                  <mat-card>
                    <mat-card-title>
                      <sit-data-label type="text" #sitControl field="EmployeeName" label="" style="font-size: 24px; font-weight: 500;"></sit-data-label>
                    </mat-card-title>
                    <mat-card-content>
                      <div fxLayout="column">
                        <div fxLayout="row">
                          <sit-data-label type="text" #sitControl field="CustIdent" label="Kontrahent:" labelWidth="80" valueWidth="70"></sit-data-label>&nbsp;
                          <sit-data-label type="text" #sitControl field="CustName" label=""></sit-data-label>
                        </div>
                        <div fxLayout="row">
                          <sit-data-label type="text" #sitControl field="HRDepartmentIdent" label="Dział:" labelWidth="80" valueWidth="70"></sit-data-label>&nbsp;
                          <sit-data-label type="text" #sitControl field="HRDepartmentName" label=""></sit-data-label>
                        </div>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div> -->
              </sit-data-set-container>
              <mat-tab-group id="tab-group" animationDuration="0ms" >
                <mat-tab label="Pracownika">
                  <sit-data-set-container  ident="sitEmployeesSettlementsContrComp" showActionsToolbar="true" fxFill fxLayout="column">
                    <div class="data-table" fxFlex>
                      <ag-grid-angular
                        #sitSetDataSource
                        style="width: 100%; height: 100%;"
                        class="ag-theme-balham"
                      >
                      </ag-grid-angular>
                    </div>
                  </sit-data-set-container>
                </mat-tab>
                <mat-tab label="Klienta">
                  <sit-data-set-container  ident="sitEmployeesSettlementsCalcInfo" fxFill fxLayout="column">
                    <div class="data-table" fxFlex>
                      <ag-grid-angular
                        #sitSetDataSource
                        style="width: 100%; height: 100%;"
                        class="ag-theme-balham"
                      >
                      </ag-grid-angular>
                    </div>
                  </sit-data-set-container>
                </mat-tab>
              </mat-tab-group>
            </div>
          </as-split-area>
        </as-split>
      </mat-tab>
      <mat-tab label="PFRON">
        <as-split #sitSpliter direction="horizontal">
          <as-split-area [size]="80">
            <sit-data-set-container  ident="sitHRPFRON" showActionsToolbar="true" fxFlex fxLayout="column">
              <div class="data-table" fxFlex>
                <ag-grid-angular
                  #sitSetDataSource
                  #sitHRDepartmentsGrid
                  style="width: 100%; height: 100%;"
                  class="ag-theme-balham"
                >
                </ag-grid-angular>
              </div>
            </sit-data-set-container>
          </as-split-area>
          <as-split-area [size]="20">
            <sit-data-set-container ident="sitHRPFRON">
              <div fxLayout="column" fxFill fxLayoutGap="5px">
                <mat-card>
                  <mat-card-title>
                    <sit-data-label #sitControl field="CostPeriod" label="" style="font-size: 24px; font-weight: 500;"></sit-data-label>
                  </mat-card-title>
                  <mat-card-content>
                    <div fxLayout="column">
                        <sit-data-label type="number" #sitControl field="AverageSalary" label="Przeciętne wyn.:" labelWidth="150" valueWidth="80" style="text-align:right;"></sit-data-label>
                        <br>
                        <sit-data-label type="number" #sitControl field="PFRONMc" label="PFRON za mies.:" labelWidth="150" valueWidth="80" style="text-align:right;"></sit-data-label>
                        <br>
                        <sit-data-label type="number" #sitControl field="SumAvgJobsNoDis" label="Śr. etaty niepełnospr.:" labelWidth="150" valueWidth="80" style="text-align:right;"></sit-data-label>
                        <br>
                        <sit-data-label type="number" #sitControl field="SumAvgJobsNoDisS" label="Śr. etaty niep. szcz.:" labelWidth="150" valueWidth="80" style="text-align:right;"></sit-data-label>
                        <br>
                        <sit-data-label type="number" #sitControl field="PerPerson" label="Kwota na osobę:" labelWidth="150" valueWidth="80" style="text-align:right;"></sit-data-label>
                        <br>
                        <sit-data-label type="number" #sitControl field="PFRONDek1" label="Dekl. 1:" labelWidth="150" valueWidth="80" style="text-align:right;"></sit-data-label>
                        <br>
                        <sit-data-label type="number" #sitControl field="PFRONDek2" label="Dekl. 2:" labelWidth="150" valueWidth="80" style="text-align:right;"></sit-data-label>
                        <br>
                        <sit-data-label type="text" #sitControl field="ExtAccountingNo" label="Nr dowodu w FK:" labelWidth="150" valueWidth="80" style="text-align:right;"></sit-data-label>
                        
                      </div>
                  </mat-card-content>
                </mat-card>
                <mat-card fxFlex>
                  <mat-card-content>
                  </mat-card-content>
                </mat-card>
              </div>
            </sit-data-set-container>            
          </as-split-area>
        </as-split>
      </mat-tab>
    </mat-tab-group>
  </div>
</sit-dict-container>
