<sit-dict-container ident="sitStocks" #sitDictcontainer fxFill>
  <div fxLayout="column" fxFill class="content">

    <sit-data-set-container  ident="sitStocks" >
      <div class="sit-proc-bar">
        <mat-toolbar color="accent">
          <mat-toolbar-row>
            <div class="sit-proc-buttons-row">
              <sit-proc-button #sitAction actionIdent="sitProcStocksImport"  tooltip="Pobierz dane" color="primary" icon="cloud_download" caption="Pobierz dane"></sit-proc-button>
            </div>
          </mat-toolbar-row>
        </mat-toolbar>
      </div>
    </sit-data-set-container>

    <mat-tab-group id="tab-group" animationDuration="0ms">
      <mat-tab label="Magazyny">
        <div fxLayout="column" fxFill>
          <as-split direction="vertical">
            <as-split-area [size]="70" fxLayout="column">

              <sit-data-set-container ident="sitFilterStocks" fxLayout="row">
                <div class="sit-filter-bar">
                    <sit-data-input #sitControl id="searchStocks" field="searchStocks" label="Filtruj produkty" placeholder="Identyfikator, nazwa" appearance="outline" style="width: 300px;" showRefreshButton="true"></sit-data-input>
                </div>
              </sit-data-set-container>

              <div fxFlex>
                <sit-data-set-container ident="sitStocks" >
                  <ag-grid-angular #sitSetDataSource
                    #agGrid
                    id="gridStocks"
                    style="width: 100%; height: 100%;"
                    class="ag-theme-balham"
                    [columnDefs]="columnDefs"
                    [defaultColDef]="defaultColDef"
                    [rowSelection]="rowSelection"
                    [rowMultiSelectWithClick]="true"
                    [enableCellTextSelection]="true"
                    [enableRangeSelection]="false"
                    [popupParent]="popupParent"
                    [sideBar]="false"
                    (rowClicked)="onRowClicked($event)"
                    (gridReady)="onGridReady($event)"
                    (firstDataRendered)="onFirstDataRendered($event)"
                  >
                  </ag-grid-angular>
                </sit-data-set-container>
              </div>
            </as-split-area>
            <as-split-area [size]="30">
              <sit-data-set-container  ident="sitWMSStocksDet" fxFill>
                <ag-grid-angular #sitSetDataSource
                  #agGrid
                  id="gridWMSStocksDet"
                  style="width: 100%; height: 100%;"
                  class="ag-theme-balham"
                  [columnDefs]="columnDefsWMSStocksDet"
                  [defaultColDef]="defaultColDef"
                  [rowSelection]="rowSelection"
                  [rowMultiSelectWithClick]="true"
                  [enableCellTextSelection]="true"
                  [enableRangeSelection]="false"
                  [popupParent]="popupParent"
                  [sideBar]="false"
                  (rowClicked)="onRowClickedWMSStocksDet($event)"
                  (gridReady)="onGridReadyWMSStocksDet($event)"
                  (firstDataRendered)="onFirstDataRendered($event)"
                  >
                </ag-grid-angular>
              </sit-data-set-container>
            </as-split-area>
          </as-split>
        </div>
      </mat-tab>
      <mat-tab label="Lokalizacje">
        <div fxFill fxLayout="column">
          <sit-data-set-container ident="sitFilterWMSStocks" fxLayout="row">
            <div class="sit-filter-bar">
                <sit-data-input #sitControl id="searchWMSStocks" field="searchWMSStocks" label="Filtruj" placeholder="produkt, lokalizacja" appearance="outline" style="width: 300px;" showRefreshButton="true"></sit-data-input>
            </div>
          </sit-data-set-container>

          <sit-data-set-container  ident="sitWMSStocks" fxFlex>
            <ag-grid-angular #sitSetDataSource
              #agGridWMSStocks
              id="gridWMSStocks"
              style="width: 100%; height: 100%;"
              class="ag-theme-balham"
              [columnDefs]="columnDefsWMSStocks"
              [defaultColDef]="defaultColDef"
              [rowSelection]="rowSelection"
              [rowMultiSelectWithClick]="true"
              [enableCellTextSelection]="true"
              [enableRangeSelection]="false"
              [popupParent]="popupParent"
              [sideBar]="false"
              (rowClicked)="onRowClickedWMSStocks($event)"
              (gridReady)="onGridReadyWMSStocks($event)"
              (firstDataRendered)="onFirstDataRendered($event)"
              >
            </ag-grid-angular>
          </sit-data-set-container>
        </div>
      </mat-tab>
      <mat-tab label="Jednostki logistyczne">
      </mat-tab>
    </mat-tab-group>
  </div>
</sit-dict-container>
