<sit-dict-container ident="sitCompanyDepartments" #sitDictcontainer fxFill>
  <div fxLayout="column" fxFill class="content">
    <sit-data-set-container ident="sitFilter" fxLayout="row">
      <div class="sit-filter-bar">
        <sit-data-input #sitControl field="search" label="Filtruj" placeholder="" appearance="outline" showRefreshButton="true" style="width: 300px;"></sit-data-input>
      </div>
    </sit-data-set-container>
    <sit-data-set-container  ident="sitCompanyDepartments" fxFlex fxLayout="column">
      <div class="data-table" fxFlex>
        <ag-grid-angular #sitSetDataSource
          #agGrid
          id="gridCompanyDepartments"
          style="width: 100%; height: 100%;"
          class="ag-theme-balham"
          [columnDefs]="columnDefs"
          [popupParent]="popupParent"
          [treeData]="true"
          [getDataPath]="getDataPath"
          [autoGroupColumnDef]="autoGroupColumnDef"
          [groupDefaultExpanded]="groupDefaultExpanded"
          (rowClicked)="onRowClicked($event)"
          (gridReady)="onGridReady($event)"
          (firstDataRendered)="onFirstDataRendered($event)"
        >
        </ag-grid-angular>
      </div>
    </sit-data-set-container>
  </div>
</sit-dict-container>
