<sit-proc-params
  [(actionExecuteData)]="actionExecuteData"
  >
  <sit-data-set-container ident="sitLogisticUnitsEdit">
    <div class="sit-proc-params-content" fxLayout="column">
      <sit-data-input type="text" #sitControl field="LogisticUnitEAN" label="Opis" appearance="outline" readonly="true" fxFlex></sit-data-input>
      <sit-data-input type="text" #sitControl field="LogisticUnitDesc" label="Opis" appearance="outline" fxFlex></sit-data-input>
    </div>
  </sit-data-set-container>
</sit-proc-params>
