<sit-proc-params
   [(actionExecuteData)]="actionExecuteData"
  >
  <sit-data-set-container ident="sitPublicationsEdit">
    <div class="sit-proc-params-content" fxLayout="column">
      <sit-data-input #sitControl type="text" field="PublicationIdent" label="Publikacja" appearance="outline"></sit-data-input>
      <sit-data-input #sitControl type="text" field="Title" label="Tytuł" appearance="outline" ></sit-data-input>
      <sit-data-input #sitControl type="text" field="OriginalTitle" label="Tytuł oryginalny" appearance="outline" ></sit-data-input>
    </div>
  </sit-data-set-container>
</sit-proc-params>
