<sit-dict-container ident="sitRoyalties" #sitDictcontainer fxFill>
  <div class="content" fxLayout="column" fxFill fxLayoutGap="5px">
    <as-split direction="vertical">
      <as-split-area [size]="80">
        <div fxLayout="column" fxFill>
          <sit-data-set-container ident="sitFilter" fxLayout="column">
            <div class="sit-filter-bar" fxLayout="row">
              <sit-data-input #sitControl field="Publication" label="Publikacja" placeholder="Tytuł" appearance="outline" style="width: 250px;"></sit-data-input>
              <sit-data-input #sitControl field="Customer" label="Beneficjent" placeholder="Identyfikator, Nazwa" appearance="outline" style="width: 250px;"></sit-data-input>
              <sit-data-input #sitControl field="Product" label="Produkt" placeholder="Identyfikator, Nazwa, EAN" appearance="outline" style="width: 250px;"></sit-data-input>
              <sit-data-input #sitControl field="DateFrom" type="date" label="Od" appearance="outline" style="width: 130px;"></sit-data-input>
              <sit-data-input #sitControl field="DateTo" type="date" label="Do" appearance="outline" style="width: 130px;" ></sit-data-input>
              <sit-data-input #sitControl field="ExRate" type="number" label="Kurs wal." appearance="outline" showRefreshButton="true" style="width: 200px;"></sit-data-input>
            </div>
          </sit-data-set-container>
          <sit-data-set-container  ident="sitRoyalties" showActionsToolbar="true" fxFlex fxLayout="column">
            <div class="data-table" fxFlex>
              <ag-grid-angular #sitSetDataSource
                style="width: 100%; height: 100%;"
                class="ag-theme-balham"
              >
              </ag-grid-angular>
            </div>
          </sit-data-set-container>
        </div>
      </as-split-area>
      <as-split-area [size]="20">
        <sit-data-set-container  ident="sitRoyaltiesBenef" fxFill fxLayout="column">
          <div class="data-table" fxFlex>
            <ag-grid-angular #sitSetDataSource
              style="width: 100%; height: 100%;"
              class="ag-theme-balham"
            >
            </ag-grid-angular>
          </div>
        </sit-data-set-container>
    </as-split-area>
  </as-split>
  </div>
</sit-dict-container>
