<sit-dict-container ident="sitRoyalties" #sitDictcontainer fxFill>
  <div class="content" fxLayout="column" fxFill fxLayoutGap="5px">
    <mat-tab-group id="tab-group" animationDuration="0ms">
      <mat-tab label="Tantiemy">
        <as-split direction="vertical">
          <as-split-area [size]="50" fxLayout="column">
            <sit-data-set-container ident="sitRoyaltiesHeadersFilter" fxLayout="column">
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <div>
                <div class="sit-filter-bar" fxLayout="row">
                  <sit-data-input #sitControl field="Publication" label="Publikacja" placeholder="Tytuł" appearance="outline" style="width: 250px;"></sit-data-input>
                  <sit-data-input #sitControl field="Benef" label="Beneficjent" placeholder="Identyfikator, Nazwa" appearance="outline" style="width: 250px;"></sit-data-input>
                  <sit-data-input #sitControl field="Agent" label="Agencja" placeholder="Identyfikator, Nazwa" appearance="outline" style="width: 250px;"></sit-data-input>
                  <sit-data-input #sitControl field="Currency" label="Waluta" placeholder="Identyfikator" appearance="outline" style="width: 150px;"></sit-data-input>
                  <sit-data-input #sitControl field="DateFrom" type="date" label="Od" appearance="outline" style="width: 120px;"></sit-data-input>
                  <sit-data-input #sitControl field="DateTo" type="date" label="Do" appearance="outline" style="width: 180px;" [showRefreshButton]="true"></sit-data-input>
                  <sit-data-checkboxlist #sitControl field="groupStatusMain" label="Status" [refreshOnChange]="false" layout="1"></sit-data-checkboxlist>
                </div>
                </div>
                <div>
                  <button mat-stroked-button color="primary" (click)="getPrintout()" matTooltip="Drukuj rozliczenie w wersji polskiej">
                    <mat-icon>print</mat-icon> POL</button>
                  <button mat-stroked-button color="primary" (click)="getPrintoutEng()" matTooltip="Drukuj rozliczenie w wersji angielskiej">
                    <mat-icon>print</mat-icon> ENG</button>
                </div>
              </div>
            </sit-data-set-container>
            <sit-data-set-container ident="sitRoyaltiesHeaders" showActionsToolbar="true" fxFlex fxLayout="column">
              <div class="data-table" fxFlex>
                <ag-grid-angular #sitSetDataSource
                  style="width: 100%; height: 100%;"
                  class="ag-theme-balham"
                  [masterDetail]="true"
                  [detailCellRendererParams]="detailCellRendererParamsBenef"
                  [detailRowAutoHeight]="true"
                >
                </ag-grid-angular>
              </div>
            </sit-data-set-container>
          </as-split-area>
          <as-split-area [size]="50" fxLayout="column">
            <div class="sit-grid-title">Szczegółowe rozliczenie okresu</div>
            <sit-data-set-container ident="sitRoyalties" fxFlex fxLayout="column">
              <div class="data-table" fxFlex>
                <ag-grid-angular #sitSetDataSource
                  style="width: 100%; height: 100%;"
                  class="ag-theme-balham"
                >
                </ag-grid-angular>
              </div>
            </sit-data-set-container>
          </as-split-area>
        </as-split>
      </mat-tab>
      <mat-tab label="Do naliczenia">
        <div fxFill fxLayout="column">        
          <sit-data-set-container ident="sitRoyaltiesPublicationsToCalcInPeriodFilter" fxLayout="row">
            <div class="sit-filter-bar" fxLayout="row">
              <sit-data-input #sitControl field="searchPeriodYear" type="number" label="Rok" appearance="outline" style="width: 80px;"></sit-data-input>
              <sit-data-input #sitControl field="searchPeriodMonth" type="number" label="Miesiąc" appearance="outline" style="width: 60px;"></sit-data-input>
              <sit-data-input #sitControl field="searchPeriodPublicationsToCalc" label="Publikacja" appearance="outline" style="width: 250px;"></sit-data-input>
              <sit-data-input #sitControl field="searchPeriodBenef" label="Beneficjent" appearance="outline" style="width: 250px;"></sit-data-input>
              <sit-data-input #sitControl field="searchPeriodAgent" label="Agencja" appearance="outline" style="width: 300px;" [showRefreshButton]="true"></sit-data-input>
            </div>
          </sit-data-set-container>
          <sit-data-set-container ident="sitRoyaltiesPublicationsToCalcInPeriod" [showActionsToolbar]="true" fxLayout="column" fxFlex>
            <div class="data-table" fxFlex>
              <ag-grid-angular
                #sitSetDataSource
                style="width: 100%; height: 100%;"
                class="ag-theme-balham"
              >
              </ag-grid-angular>
            </div>
          </sit-data-set-container>
        </div>
      </mat-tab>
    </mat-tab-group>        
  </div>
</sit-dict-container>
