<sit-proc-params
   [(actionExecuteData)]="actionExecuteData"
  >
  <sit-data-set-container ident="sitChangeStatus">
    <div ngClass="sit-proc-params-content">

      <div ngClass="flex-container-row mb-05">
        <sit-data-label #sitControl field="StatusValueName" label="Aktualny status"></sit-data-label>
      </div>      

      <div ngClass="flex-container-row">
        <sit-data-input type="text" #sitControl field="ValueName_To" label="Status docelowy" appearance="outline" fxFlex
          [lookupDisplayFields] = "['ValueName']"></sit-data-input>
      </div>

    </div>
  </sit-data-set-container>
</sit-proc-params>
