<sit-dict-container ident="sitJobs" #sitDictcontainer fxFill >
<div fxFill fxLayout="column">
    <sit-data-set-container ident="sitFilterJobs" fxLayout="row">
      <div class="sit-filter-bar">
        <sit-data-input #sitControl id="searchJobs" field="searchJobs" label="Filtruj zadania" placeholder="" appearance="outline" showRefreshButton="true" style="width: 300px;" ></sit-data-input>
      </div>
    </sit-data-set-container>
    <as-split direction="vertical">
      <as-split-area [size]="50">
        <sit-data-set-container ident="sitJobs" showActionsToolbar="true" fxFill fxLayout="column" class="content">
          <div class="data-table" fxFlex>
            <ag-grid-angular #sitSetDataSource
              #agGrid
              id="gridJobs"
              style="width: 100%; height: 100%;"
              class="ag-theme-balham"
              [columnDefs]="columnDefs"
              [defaultColDef]="defaultColDef"
              [rowSelection]="rowSelection"
              [rowMultiSelectWithClick]="true"
              [enableCellTextSelection]="true"
              [enableRangeSelection]="true"
              [popupParent]="popupParent"
              [sideBar]="false"
              [frameworkComponents]="frameworkComponents"
              (rowClicked)="onRowClicked($event)"
              (gridReady)="onGridReady($event)"
              (firstDataRendered)="onFirstDataRendered($event)"
            >
            </ag-grid-angular>
          </div>
        </sit-data-set-container>
      </as-split-area>
      <as-split-area [size]="50">
        <sit-data-set-container  ident="sitJobSteps" showActionsToolbar="true" fxFill fxLayout="column">
          <div class="data-table" fxFlex>
            <ag-grid-angular #sitSetDataSource
              #agGrid
              id="gridJobSteps"
              style="width: 100%; height: 100%;"
              class="ag-theme-balham"
              [columnDefs]="columnDefsJobSteps"
              [defaultColDef]="defaultColDef"
              [rowSelection]="rowSelection"
              [rowMultiSelectWithClick]="true"
              [enableCellTextSelection]="true"
              [enableRangeSelection]="true"
              [popupParent]="popupParent"
              [sideBar]="false"
              [frameworkComponents]="frameworkComponents"
              (rowClicked)="onRowClickedJobSteps($event)"
              (gridReady)="onGridReadyJobSteps($event)"
              (firstDataRendered)="onFirstDataRendered($event)"
            >
            </ag-grid-angular>
          </div>
        </sit-data-set-container>
      </as-split-area>
    </as-split>
  </div>
</sit-dict-container>
