<sit-dict-container ident="sitJobs" #sitDictcontainer fxFill >
  <sit-data-set-container  ident="sitJobs" fxFill fxLayout="column" class="content">

    <sit-data-set-container ident="sitFilterJobs" fxLayout="row">
      <sit-data-input #sitControl id="searchJobs" field="searchJobs" label="Filtruj zadania" placeholder="" appearance="outline" showRefreshButton="true" style="width: 300px;" ></sit-data-input>
    </sit-data-set-container>

    <div class="sit-proc-bar">
      <mat-toolbar color="accent">
        <mat-toolbar-row>
          <div class="sit-proc-buttons-row">
            <sit-proc-button #sitAction actionIdent="insert" componentParamsIdent="sitJobsEdit" openKind="EXPANDER" tooltip="Nowy" color="primary" icon="post_add"></sit-proc-button>
            <sit-proc-button #sitAction actionIdent="update" componentParamsIdent="sitJobsEdit" openKind="EXPANDER" tooltip="Edycja" color="primary" icon="edit"></sit-proc-button>
            <sit-proc-button #sitAction actionIdent="delete" tooltip="Usuń"  color="primary" icon="delete" delete="true" matType="mat-stroked-button"></sit-proc-button>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>

    <as-split direction="vertical">
      <as-split-area [size]="50">
        <div class="data-table" fxFlex>
          <ag-grid-angular #sitSetDataSource
            #agGrid
            id="gridJobs"
            style="width: 100%; height: 100%;"
            class="ag-theme-balham"
            [columnDefs]="columnDefs"
            [defaultColDef]="defaultColDef"
            [rowSelection]="rowSelection"
            [rowMultiSelectWithClick]="true"
            [enableCellTextSelection]="true"
            [enableRangeSelection]="true"
            [popupParent]="popupParent"
            [sideBar]="false"
            [frameworkComponents]="frameworkComponents"
            (rowClicked)="onRowClicked($event)"
            (gridReady)="onGridReady($event)"
            (firstDataRendered)="onFirstDataRendered($event)"
          >
          </ag-grid-angular>
        </div>
      </as-split-area>
      <as-split-area [size]="50">
        <sit-data-set-container  ident="sitJobSteps" fxFill fxLayout="column">

          <div class="sit-proc-bar">
            <mat-toolbar color="accent">
              <mat-toolbar-row>
                <div class="sit-proc-buttons-row">
                  <sit-proc-button #sitAction actionIdent="insert" componentParamsIdent="sitJobStepsEdit" openKind="EXPANDER" tooltip="Nowy" color="primary" icon="post_add"></sit-proc-button>
                  <sit-proc-button #sitAction actionIdent="update" componentParamsIdent="sitJobStepsEdit" openKind="EXPANDER" tooltip="Edycja" color="primary" icon="edit"></sit-proc-button>
                  <sit-proc-button #sitAction actionIdent="delete" tooltip="Usuń"  color="primary" icon="delete" delete="true" matType="mat-stroked-button"></sit-proc-button>
                </div>
              </mat-toolbar-row>
            </mat-toolbar>
          </div>

          <div class="data-table" fxFlex>
            <ag-grid-angular #sitSetDataSource
              #agGrid
              id="gridJobSteps"
              style="width: 100%; height: 100%;"
              class="ag-theme-balham"
              [columnDefs]="columnDefsJobSteps"
              [defaultColDef]="defaultColDef"
              [rowSelection]="rowSelection"
              [rowMultiSelectWithClick]="true"
              [enableCellTextSelection]="true"
              [enableRangeSelection]="true"
              [popupParent]="popupParent"
              [sideBar]="false"
              [frameworkComponents]="frameworkComponents"
              (rowClicked)="onRowClickedJobSteps($event)"
              (gridReady)="onGridReadyJobSteps($event)"
              (firstDataRendered)="onFirstDataRendered($event)"
            >
            </ag-grid-angular>
          </div>
        </sit-data-set-container>
      </as-split-area>
    </as-split>
  </sit-data-set-container>
</sit-dict-container>
