.sit-office-doc-headers-edit-component{
  // border: 5px dotted blue;

  .sit-office-doc-headers-edit-container {
    // border: 5px dashed red;

    > * {
      // border: 2px dotted green;
      flex: auto;

      &.sit-actions-form-container-component {


        > * {
          // border: 1px dotted green;
          flex: 0 0 max-content;
        }

        // .new-customer-container {
        //   border: 5px dotted #6f0;
        //   > * {
        //     border: 3px dotted green;
        //   }
        // }

        sit-data-input {
          flex:auto;
        }

        .file-upload{
          align-items: first baseline;
      
          > * {
            flex: auto;
          }
      
          .file-button{
            flex: 0;
          }
        }

        [actionIdent="importFromGUS"] {
          margin-bottom: 7px;
          margin-right: .5em;
        }

        [field="Street"] {
          flex:auto;
        }
        [field="HouseNum"] {
          flex:0 1 8em;
        }
    
        [field="CountrySymbol"] {
          flex:0 1 4.5em;
        }
        [field="PostCode"] {
          flex:0 1 5em;
        }
        [field="City"] {
          flex:auto;
        }
    
        [field="RegDate"] {
          flex:0 1 10em;
        }
        [field="OfficeDocName"] {
          flex: auto;
        }
        
      }
      
      &.pdf-viewer-container {
        // min-width: 33em;
        // flex: auto;
        margin-left: .5em;
        min-width: 40em;
      }

    }






  }



  // .info-column{
  //   display: flex;
  //   flex-direction: column;
  //   flex: auto;
  //   max-height: 100%;
  //   max-width: 30%;
  // }

}