<sit-proc-params
  [(actionExecuteData)]="actionExecuteData"
  
  >
  <!-- style="border:3px solid red;" -->
  <sit-data-set-container ident="sitOfficeDocHeadersEdit" ngClass="sit-office-doc-headers-edit">
    <div ngClass="flex-container-row sit-proc-params-content" >
      <div ngClass="info-column mr-05">
        <div *ngIf="this.isInsert" ngClass="file-upload mb-05">
          <sit-files-button #sitSimpleButton fieldIdent="sitAttachmentsG" fieldFileNames="FileName" ngClass="file-button"></sit-files-button >
          <sit-data-input #sitControl field="FileName" label="Nazwa pliku" appearance="outline"></sit-data-input>
        </div>

        <div ngClass="flex-container-row">
          <sit-data-input #sitControl field="CustName" label="Kontrahent" required appearance="outline" ngClass="cust-name"></sit-data-input>
          <sit-data-checkbox *ngIf="this.isInsert" #sitControl field="CustomerInsert" label="Nowy"></sit-data-checkbox>
        </div>

        <div fxLayout="column" [class.hidden]="hideNewCustomer()" ngClass="mb-05">
          <div fxLayout="row">
            <sit-data-input #sitControl field="VATId" label="NIP" required appearance="outline"></sit-data-input>
            <sit-proc-button #sitAction actionIdent="importFromGUS" buttonType="mat-raised-button" style="margin-bottom: 4px; margin-right: 4px;"></sit-proc-button>
            <sit-data-input #sitControl field="REGON" label="REGON" appearance="outline"></sit-data-input>
            <sit-data-input #sitControl field="KRS" label="KRS" appearance="outline"></sit-data-input>
          </div>
          <sit-data-label #sitControl field="CustName" label="Nazwa" label=" " ngClass="mb-05"></sit-data-label>
          <sit-data-input #sitControl field="CustIdent" label="Identyfikator (skrót)" required appearance="outline" fxFlex></sit-data-input>
          <div fxLayout="row">
            <sit-data-input #sitControl field="Street" label="Ulica" appearance="outline" fxFlex></sit-data-input>
            <sit-data-input #sitControl field="HouseNum" label="Numer" appearance="outline" fxFlex="30"></sit-data-input>
          </div>
          <div fxLayout="row">
            <sit-data-input #sitControl field="CountrySymbol" label="Kraj" required appearance="outline" fxFlex="20"></sit-data-input>
            <sit-data-input #sitControl field="PostCode" label="Kod pocztowy" appearance="outline" fxFlex="30"></sit-data-input>
            <sit-data-input #sitControl field="City" label="Miasto" appearance="outline" fxFlex></sit-data-input>
          </div>
        </div>

        <div fxLayout="row">
          <sit-data-input #sitControl type="date" field="RegDate" label="Data rejestracji" required appearance="outline" fxFlex="33"></sit-data-input>
          <sit-data-input #sitControl field="OfficeDocName" label="Rodzaj dowodu" required  [lookupDisplayFields] = "['OfficeDocName']" appearance="outline" fxFlex></sit-data-input>
        </div>

        <div fxLayout="row">
          <sit-data-input #sitControl field="DocumentNumber" label="Numer dokumentu" required appearance="outline" fxFlex></sit-data-input>
          <sit-data-checkbox #sitControl field="IsSplitPayment" label="PP"
            matTooltip="Podzielona płatność"
            matTooltipPosition="right"
            matTooltipHideDelay="100" 
          ></sit-data-checkbox>
        </div>
        
        <div fxLayout="row">
          <sit-data-input #sitControl type="date" field="DocumentDate" label="Data wystawienia" required appearance="outline" fxFlex="25"></sit-data-input>
          <sit-data-input #sitControl type="date" field="SalesDate" label="Data sprzedaży" required appearance="outline" fxFlex="25"></sit-data-input>
          <sit-data-input #sitControl field="PaymentTypeIdent" label="RP" required appearance="outline" [lookupDisplayFields] = "['PaymentTypeDesc']" fxFlex="20"></sit-data-input>
          <sit-data-input #sitControl type="number" field="PaymentDays" label="Dni" digitsInfo="1.0-0" required appearance="outline" fxFlex></sit-data-input>
          <sit-data-input #sitControl type="date" field="PaymentDate" label="Data płatności" required appearance="outline" fxFlex="25"></sit-data-input>
        </div>
        <div [class.hidden]="!bankNoReq()" fxLayout="row">
          <sit-data-input #sitControl field="BankAccountNumber" label="Nr rachunku bankowego" appearance="outline" fxFlex></sit-data-input>
          <sit-data-input #sitControl field="Swift" label="SWIFT" appearance="outline" fxFlex="30"></sit-data-input>
        </div>
        <!-- <div fxLayout="row">
          <sit-data-input #sitControl field="DocumentNumber" label="Numer dokumentu" required appearance="outline" fxFlex></sit-data-input>
        </div> -->
        <div fxLayout="row">
          <sit-data-input #sitControl field="OfficeDocDescription" label="Opis dokumentu" required appearance="outline" fxFlex></sit-data-input>
        </div>
        <div fxLayout="row">
          <sit-data-input #sitControl field="CurrencyIdent" label="Waluta" required appearance="outline" fxFlex="20"></sit-data-input>
          <sit-data-input #sitControl *ngIf="isCurrency()" type="date" field="ExRateDate" label="Kurs z dnia" appearance="outline" fxFlex="33"></sit-data-input>
          <sit-data-input #sitControl *ngIf="isCurrency()" type="number" field="ExRate" label="Kurs waluty" digitsInfo="1.0-4" appearance="outline" fxFlex></sit-data-input>
        </div>
        <div fxLayout="row">
          <sit-data-input #sitControl field="NetCurrency" label="Netto" required type="number" digitsInfo="1.2-2" placeholder="Netto" appearance="outline" fxFlex></sit-data-input>
          <sit-data-input #sitControl field="VATCurrency" label="Vat" required type="number" digitsInfo="1.2-2" appearance="outline" fxFlex></sit-data-input>
          <sit-data-input #sitControl field="GrossCurrency" label="Brutto" required type="number" digitsInfo="1.2-2" appearance="outline" fxFlex></sit-data-input>
        </div>
        <div *ngIf="isCurrency()" fxLayout="row">
          <sit-data-input #sitControl type="number" field="Net" label="Netto PLN" required type="number" digitsInfo="1.2-2" appearance="outline" fxFlex></sit-data-input>
          <sit-data-input #sitControl type="number" field="VAT" label="Vat PLN" required type="number" digitsInfo="1.2-2" appearance="outline" fxFlex></sit-data-input>
          <sit-data-input #sitControl type="number" field="Gross" label="Brutto PLN" required type="number" digitsInfo="1.2-2" appearance="outline" fxFlex></sit-data-input>
        </div>
        <div fxLayout="row">
          <sit-data-input #sitControl field="EmployeeName" label="Zapłacone przez pracownika" appearance="outline" fxFlex></sit-data-input>
        </div>
      </div>
      <div *ngIf="this.isInsert" fxLayout="column">
        <sit-pdf-viewer #sitControl reportType="att" field="FileName" ngClass="from-sit-office-doc-headers-component-html">
        </sit-pdf-viewer>
      </div>
    </div>
  </sit-data-set-container>
</sit-proc-params>