.sit-office-doc-headers-edit-component{
  // border: 5px dotted blue;

  .sit-office-doc-headers-edit-container {
    // border: 5px dashed red;

    > * {
      // border: 2px dotted green;
      flex: 0 0 auto;

      &.sit-actions-form-container-component {
        max-width: 33em;
        max-height: 79vh;
        min-height: 70vh;

        // .new-customer-container {
        //   border: 5px dotted #6f0;
        //   > * {
        //     border: 3px dotted green;
        //   }
        // }

        [actionIdent="importFromGUS"] {
          margin-bottom: 7px;
          margin-right: .5em;
        }

        // [field="Street"] {
        //   flex:auto;
        // }
        [field="HouseNum"] {
          flex:0 1 8em;
        }
    
        [field="CountrySymbol"] {
          flex:0 1 4.5em;
        }
        [field="PostCode"] {
          flex:0 0 5em;
        }

        // [field="City"] {
        //   flex:auto;
        // }
    
        [field="DocumentDate"],
        [field="SalesDate"],
        [field="PaymentDate"],
        [field="RegDate"],
        [field="ExRateDate"]  
        {
          flex: 0 0 7.5em;
        }

        // [field="OfficeDocName"] {
        //   flex: auto;
        // }


        [field="PaymentTypeIdent"] {
          // flex: 0 0 20%;
          flex: 0 0 5em;
        }
        // [field="PaymentDays"] {
        //   flex: 0 0 3em;
        // }

        [field="Swift"] {
          flex: 0 0 9em;
        }

        [field="CurrencyIdent"] {
          flex: 0 0 6em;
        }
        
      }
      
      &.pdf-viewer-container {
        // min-width: 33em;
        // flex: auto;
        margin-left: .2em;
        min-width: var(--pdf-viewer-form-container-min-widh);
      }

    }






  }



  // .info-column{
  //   display: flex;
  //   flex-direction: column;
  //   flex: auto;
  //   max-height: 100%;
  //   max-width: 30%;
  // }

}