<sit-proc-params
  [(actionExecuteData)]="actionExecuteData"
  
  >
  <!-- style="border:3px solid red;" -->
  <sit-data-set-container ident="sitOfficeDocHeadersEdit"  fxLayout="column">
    <div class="sit-proc-params-content" fxLayout="row" style="width: 1500px; height: 700px;">
    <!-- <div class="sit-proc-params-content" fxLayout="row"> -->
      <div fxLayout="column" fxFlex="30" ngClass="mr-05">
        <div fxLayout="row" fxLayoutAlign="start center" *ngIf="this.isInsert" ngClas="mb-05">
          <sit-files-button #sitSimpleButton fieldIdent="sitAttachmentsG" fieldFileNames="FileName" style="margin-bottom: 5px;"></sit-files-button >
          <sit-data-input #sitControl type="text" field="FileName" label="Nazwa pliku" appearance="outline" style="width: 500px;"></sit-data-input>
        </div>
        <div fxLayout="row">
          <sit-data-input #sitControl type="date" field="RegDate" label="Data rejestracji" appearance="outline" fxFlex="33"></sit-data-input>
          <sit-data-input #sitControl type="text" field="OfficeDocName" label="Rodzaj dowodu"  [lookupDisplayFields] = "['OfficeDocName']" appearance="outline" fxFlex></sit-data-input>
          <!-- <sit-data-label type="text" #sitControl field="OfficeDocName" appearance="outline" fxFlex="40"></sit-data-label> -->
        </div>
        <mat-divider style="margin-bottom: .8em; margin-top: .5em;"></mat-divider>
        <div fxLayout="row">
          <!-- <sit-data-input #sitControl type="date" field="SalesDate" label="Data sprzedaży" appearance="outline" fxFlex="25"></sit-data-input> -->
        </div>
        <div fxLayout="row">
          <sit-data-input #sitControl type="text" field="CustName" label="Kontrahent" appearance="outline" fxFlex></sit-data-input>
          <sit-data-checkbox *ngIf="this.isInsert" #sitControl field="CustomerInsert" label="Nowy"></sit-data-checkbox>
        </div>
        <div fxLayout="column" [class.hidden]="hideNewCustomer()">
          <div fxLayout="row">
            <sit-data-input #sitControl type="text" field="VATId" label="NIP" appearance="outline"></sit-data-input>
            <sit-proc-button #sitAction actionIdent="importFromGUS" color="primary" buttonType="mat-flat-button" style="margin-bottom: 4px; margin-right: 4px;"></sit-proc-button>
            <sit-data-input #sitControl type="text" field="REGON" label="REGON" appearance="outline"></sit-data-input>
            <sit-data-input #sitControl type="text" field="KRS" label="KRS" appearance="outline"></sit-data-input>
          </div>
          <sit-data-input #sitControl type="text" field="CustIdent" label="Identyfikator" appearance="outline" fxFlex></sit-data-input>
          <div fxLayout="row">
            <sit-data-input #sitControl type="text" field="Street" label="Ulica" appearance="outline" fxFlex></sit-data-input>
            <sit-data-input #sitControl type="text" field="HouseNum" label="Numer" appearance="outline" fxFlex="30"></sit-data-input>
          </div>
          <div fxLayout="row">
            <sit-data-input #sitControl type="text" field="CountrySymbol" label="Kraj" appearance="outline" fxFlex="20"></sit-data-input>
            <sit-data-input #sitControl type="text" field="PostCode" label="Kod pocztowy" appearance="outline" fxFlex="30"></sit-data-input>
            <sit-data-input #sitControl type="text" field="City" label="Miasto" appearance="outline" fxFlex></sit-data-input>
          </div>
        </div>

        <mat-divider style="margin-bottom: 1em; margin-top: .5em;"></mat-divider>
        
        <div fxLayout="row">
          <sit-data-input #sitControl type="date" field="DocumentDate" label="Data wystawienia" appearance="outline" fxFlex="25"></sit-data-input>
          <sit-data-input #sitControl type="date" field="SalesDate" label="Data sprzedaży" appearance="outline" fxFlex="25"></sit-data-input>
          <sit-data-input #sitControl type="text" field="PaymentTypeIdent" label="RP" appearance="outline" [lookupDisplayFields] = "['PaymentTypeDesc']" fxFlex="20"></sit-data-input>
          <sit-data-input #sitControl type="number" field="PaymentDays" label="Dni" appearance="outline" fxFlex></sit-data-input>
          <sit-data-input #sitControl type="date" field="PaymentDate" label="Data płatności" appearance="outline" fxFlex="25"></sit-data-input>
        </div>
        <div *ngIf="bankNoReq()" fxLayout="row">
          <sit-data-input #sitControl type="text" field="BankAccountNumber" label="Nr rachunku bankowego" appearance="outline" fxFlex></sit-data-input>
          <sit-data-input #sitControl type="text" field="Swift" label="SWIFT" appearance="outline" fxFlex="30"></sit-data-input>
        </div>
        <div fxLayout="row">
          <sit-data-input #sitControl type="text" field="DocumentNumber" label="Numer dokumentu" appearance="outline" fxFlex></sit-data-input>
        </div>
        <div fxLayout="row">
          <sit-data-input #sitControl type="text" field="OfficeDocDescription" label="Opis dokumentu" appearance="outline" fxFlex></sit-data-input>
        </div>
        <div fxLayout="row">
          <sit-data-input #sitControl type="text" field="CurrencyIdent" label="Waluta" appearance="outline" fxFlex="20"></sit-data-input>
          <sit-data-input #sitControl *ngIf="isCurrency()" type="date" field="ExRateDate" label="Kurs z dnia" appearance="outline" fxFlex="33"></sit-data-input>
          <sit-data-input #sitControl *ngIf="isCurrency()" type="number" field="ExRate" label="Kurs waluty" appearance="outline" fxFlex></sit-data-input>
        </div>
        <div fxLayout="row">
          <sit-data-input #sitControl type="number" field="NetCurrency" label="Netto" appearance="outline" fxFlex></sit-data-input>
          <sit-data-input #sitControl type="number" field="VATCurrency" label="Vat" appearance="outline" fxFlex></sit-data-input>
          <sit-data-input #sitControl type="number" field="GrossCurrency" label="Brutto" appearance="outline" fxFlex></sit-data-input>
        </div>
        <div *ngIf="isCurrency()" fxLayout="row">
          <sit-data-input #sitControl type="number" field="Net" label="Netto PLN" appearance="outline" fxFlex></sit-data-input>
          <sit-data-input #sitControl type="number" field="VAT" label="Vat PLN" appearance="outline" fxFlex></sit-data-input>
          <sit-data-input #sitControl type="number" field="Gross" label="Brutto PLN" appearance="outline" fxFlex></sit-data-input>
        </div>
        <div fxLayout="row">
          <sit-data-input #sitControl type="text" field="EmployeeName" label="Zapłacone przez pracownika" appearance="outline" fxFlex></sit-data-input>
        </div>
      </div>
      <div fxLayout="column" fxFlex>
        <sit-pdf-viewer #sitControl reportType="att" field="FileName" ngClass="from-sit-office-doc-headers-component-html">
        </sit-pdf-viewer>
      </div>
    </div>
  </sit-data-set-container>
</sit-proc-params>