<div class="content">
  <div class="data-table">
    <ngx-datatable
      class="material striped"
      [rows]="rows"
      [columnMode]="ColumnMode.force"

      [limit]=20
      [selected]="selected"
      [selectionType]="SelectionType.checkbox"
      [selectAllRowsOnPage]="false"
      [displayCheck]="displayCheck"
      (activate)="onActivate($event)"
      (select)="onSelect($event)"
      [summaryRow]="true"
      summaryPosition="bottom"
      [summaryHeight]="40"
    >
      <ngx-datatable-column
        [width]="30"
        [sortable]="false"
        [canAutoResize]="false"
        [draggable]="false"
        [resizeable]="false"
        [headerCheckboxable]="true"
        [checkboxable]="true"
      >
      </ngx-datatable-column>
      <ngx-datatable-column name="Name"></ngx-datatable-column>
      <ngx-datatable-column name="Gender"></ngx-datatable-column>
      <ngx-datatable-column name="Company"></ngx-datatable-column>
      <ngx-datatable-column name="Salary"></ngx-datatable-column>
    </ngx-datatable>
  </div>
  <div class="selected-column">
    <h4>
      Selections <small>({{ selected?.length }})</small>
    </h4>
    <ul>
      <li *ngFor="let sel of selected">
        {{ sel.name }}
      </li>
      <li *ngIf="!selected?.length">No Selections</li>
    </ul>
  </div>

</div>
