<sit-proc-params
   [(actionExecuteData)]="actionExecuteData"
  >
  <sit-data-set-container ident="sitRailDeliveryDistrybutionImportEdit">
    <div class="sit-proc-params-content" fxLayout="column" style="width: 400px; height:300px">
      <div>Data dostawy</div>
      <div fxLayout="row">
        <sit-data-input type="date" #sitControl field="DeliveryDateFrom" label="od" appearance="outline"></sit-data-input>
        <sit-data-input type="date" #sitControl field="DeliveryDateTo" label="do" appearance="outline"></sit-data-input>
      </div>
      <div>Data sprzedaży</div>
      <div fxLayout="row">
        <sit-data-input type="date" #sitControl field="SalesDateFrom" label="od" appearance="outline"></sit-data-input>
        <sit-data-input type="date" #sitControl field="SalesDateTo" label="do" appearance="outline"></sit-data-input>
      </div>
    </div>
  </sit-data-set-container>
</sit-proc-params>
