<sit-dict-container ident="sitWarehouses" #sitDictcontainer fxFill>
  <div fxLayout="column" fxFill class="content">
    <sit-data-set-container ident="sitFilterWarehouses" fxLayout="row">
      <div class="sit-filter-bar" fxLayout="row">
          <sit-data-input #sitControl field="searchWarehouses" label="Filtruj magazyny" appearance="outline" style="width: 300px;" showRefreshButton="true"></sit-data-input>
      </div>
    </sit-data-set-container>
    <sit-data-set-container ident="sitWarehouses" showActionsToolbar="true" fxLayout="column" fxFlex>
      <div class="data-table" fxFlex>
        <ag-grid-angular
          #sitSetDataSource
          #sitWarehousesGrid
          style="width: 100%; height: 100%;"
          class="ag-theme-balham"
          [columnDefs]="columnDefs"
          [popupParent]="popupParent"
          (rowClicked)="onRowClicked($event)"
          (gridReady)="onGridReady($event)"
          (firstDataRendered)="onFirstDataRendered($event)"
        >
        </ag-grid-angular>
      </div>
    </sit-data-set-container>
  </div>
</sit-dict-container>
