<sit-dict-container ident="sitChangeCompany" #sitDictcontainer (refreshAfter) ="refreshAfter($event)" fxFlexFill>
  <div fxFlexFill fxLayoutAlign="center center" fxLayout="column">
    <div class="sit-form" style="width: 100%; height: 440px;">
      <div class="sit-form-header">
        <div>Wybierz firmę</div>
      </div>
      <div ident="sitAppUserAccount" class="sit-form-body" style="height: 400px;">
        <sit-data-set-container ident="sitAppUserCompanies">
          <mat-nav-list>
            <div *ngFor="let row of companies" fxLayout="column">
              <div fxLayout="row">
                <mat-list-item (click)="onClick( row )">
                  <!-- <mat-icon matListIcon>corporate_fare</mat-icon>{{ row.CompanyDescription }} -->
                  <i class="fa fa-server" aria-hidden="true" aria-label="Firma"></i> {{ row.CompanyDescription }}
                </mat-list-item>
              </div>
              <mat-divider></mat-divider>
            </div>
          </mat-nav-list>
        </sit-data-set-container>
      </div>
    </div>
  </div>
</sit-dict-container>
