<sit-dict-container ident="sitJPKVAT" #sitDictcontainer id="wrapper">
  <sit-data-set-container showActionsToolbar="true" ident="sitProcGetJPKData">
  </sit-data-set-container>
  <mat-tab-group id="tab-group"
    animationDuration="0ms"
    (selectedTabChange)="tabChanged($event)">

    <mat-tab label="Zakup">
      <div fxLayout="column" fxFill fxLayoutGap="5px">
        <div fxLayout="row" fxFlex="30">
          <div class="content" fxFlex="50%">
              <div class="data-table" fxFill>
                <sit-data-set-container ident="sitJPKVATZakupSum" fxFlex>
                  <ag-grid-angular #sitSetDataSource
                    #sitJPKVATZakupSumGrid
                    style="width: 100%; height: 100%;"
                    class="ag-theme-balham"
                    [columnDefs]="columnDefs"
                    [popupParent]="popupParent"
                    [frameworkComponents]="frameworkComponents"
                    (rowClicked)="onRowClicked($event)"
                    (gridReady)="onGridReady($event)"
                    (firstDataRendered)="onFirstDataRendered($event)"
                  >
                  </ag-grid-angular>
                </sit-data-set-container>
              </div>
          </div>
          <div class="content" fxFlex="50%">
              <div class="data-table" fxFill>
                <sit-data-set-container ident="sitJPKVATZakupCust" fxFIll>
                  <ag-grid-angular #sitSetDataSource
                    #sitJPKVATZakupCustGrid
                    style="width: 100%; height: 100%;"
                    class="ag-theme-balham"
                    [columnDefs]="columnDefsZakupCust"
                    [popupParent]="popupParent"
                    [frameworkComponents]="frameworkComponents"
                    (rowClicked)="onRowClicked($event)"
                    (gridReady)="onGridReady($event)"
                    (firstDataRendered)="onFirstDataRendered($event)"
                  >
                  </ag-grid-angular>
                </sit-data-set-container>
              </div>
          </div>
        </div>
        <div fxLayout="column" fxFlex>
            <div class="content" fxFill>
              <!-- <div style="flex: 0 1 auto; width: 300px;">
                <sit-data-set-container ident="sitFilterZakup" >
                  <span>
                    <sit-data-input #sitControl field="searchZakup" label="Filtruj"></sit-data-input>
                  </span>
                </sit-data-set-container>
              </div> -->
              <div fxFill>
                <div class="data-table" fxFill>
                  <sit-data-set-container ident="sitJPKVATZakup" fxFill>
                    <ag-grid-angular
                      #sitSetDataSource
                      #sitJPKVATZakupGrid
                      id="gridZakup"
                      style="width: 100%; height: 100%;"
                      class="ag-theme-balham"
                      [columnDefs]="columnDefsZakup"
                      [popupParent]="popupParent"
                      [frameworkComponents]="frameworkComponents"
                      (rowClicked)="onRowClicked($event)"
                      (gridReady)="onGridReady($event)"
                      (firstDataRendered)="onFirstDataRendered($event)"
                    >
                    </ag-grid-angular>
                  </sit-data-set-container>
                </div>
              </div>
            </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Sprzedaż">
      <div fxLayout="column" fxFill fxLayoutGap="5px">
        <div fxLayout="row" fxFlex="40">
          <div class="content" fxFlex="50">
              <div class="data-table" fxFill>
                <sit-data-set-container ident="sitJPKVATSprzedazSum" fxFill>
                  <ag-grid-angular
                    #sitSetDataSource
                    #sitJPKVATSprzedazSumGrid
                    style="width: 100%; height: 100%;"
                    class="ag-theme-balham"
                    [columnDefs]="columnDefsSprzedazSum"
                    [popupParent]="popupParent"
                    [frameworkComponents]="frameworkComponents"
                    (rowClicked)="onRowClicked($event)"
                    (gridReady)="onGridReady($event)"
                    (firstDataRendered)="onFirstDataRendered($event)"
                  >
                  </ag-grid-angular>
                </sit-data-set-container>
              </div>
          </div>
          <div class="content" fxFlex="50">
              <div class="data-table" fxFill>
                <sit-data-set-container ident="sitJPKVATSprzedazCust" fxFill>
                  <ag-grid-angular
                    #sitSetDataSource
                    #sitJPKVATSprzedazCustGrid
                    style="width: 100%; height: 100%;"
                    class="ag-theme-balham"
                    [columnDefs]="columnDefsSprzedazCust"
                    [popupParent]="popupParent"
                    [frameworkComponents]="frameworkComponents"
                    (rowClicked)="onRowClicked($event)"
                    (gridReady)="onGridReady($event)"
                    (firstDataRendered)="onFirstDataRendered($event)"
                  >
                  </ag-grid-angular>
                </sit-data-set-container>
              </div>
          </div>
        </div>
        <div fxLayout="column" fxFlex="60">
            <div class="content" fxFill>
              <!-- <div >
                <sit-data-set-container ident="sitFilterSprzedaz" >
                  <span>
                    <sit-data-input #sitControl field="searchSprzedaz" label="Filtruj"></sit-data-input>
                  </span>
                </sit-data-set-container>
              </div> -->
              <div class="data-table" fxFill>
                <sit-data-set-container ident="sitJPKVATSprzedaz">
                  <ag-grid-angular
                    #sitSetDataSource
                    #sitJPKVATSprzedazGrid
                    style="width: 100%; height: 100%;"
                    class="ag-theme-balham"
                    [columnDefs]="columnDefsSprzedaz"
                    [popupParent]="popupParent"
                    [frameworkComponents]="frameworkComponents"
                    (rowClicked)="onRowClicked($event)"
                    (gridReady)="onGridReady($event)"
                    (firstDataRendered)="onFirstDataRendered($event)"
                  >
                  </ag-grid-angular>
                </sit-data-set-container>
              </div>
            </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</sit-dict-container>
