<sit-proc-params
  [(actionExecuteData)]="actionExecuteData"
  >
  <sit-data-set-container ident="sitCustomerCreditLimitScoresAccept">
    <div class="sit-proc-params-content" fxLayout="column">
      <div fxLayout="column">
        <sit-data-label type="text" #sitControl field="AcceptanceStepName_From" appearance="outline"></sit-data-label>
        <sit-data-radio #sitControl field="AcceptanceMode" type="row" label=""
          [buttons]="[{'caption':'Akceptuj','value': '1', 'checked':true},{'caption':'Odrzuć','value':'-1'}]"
        ></sit-data-radio>          
        <div fxLayout="row" fxFlex>
          <sit-data-textarea 
            type="textarea" 
            #sitControl field="Comment" 
            label="Komentarz" 
            appearance="outline" 
            rows="5" 
            cols="30" 
            fxFill>
          </sit-data-textarea>
        </div> 
      </div>
    </div>
  </sit-data-set-container>
</sit-proc-params>
