
// -------------------

// html {
//     border: 5px solid green;
// }
// body {
//     border: 5px solid #f60;
// }



// .container-content-main {
//     border: 5px dotted green;
//     margin: 1px;
//   }

// -------------------



// .home-tab-content-container {
//     border: 20px dotted #0f6;
// }

// .mat-tab-body-content {
//   border: 10px solid #6f0;
// }



// .mat-tab-group {
//   border: 10px dotted red;
// }

// .mat-tab-body {
//   border: #06F 16px dashed;

//   .mat-tab-body-content {
//     border: #60F 10px dotted;
//   }
// }


// .mat-tab-labels {
//   border: 3px double green;
// }

// .mat-tab-label {
//   border: 1px solid blue;
// }

// .mat-tab-label-content {
//   border: 1px solid red;
// }

.sit-data-set-container {
    border: 2px solid #6f0;
}

// .mat-drawer-container {
//     border: 10px pink dotted;
// }

// .mat-drawer-container > .mat-drawer.sidenav
// {
//     border: 10px pink dotted;
// }
  
.container {
    border: 10px solid yellow;
}

.container-rows {
    border: 10px solid green;
}



// .container-cols {
//     border: 10px solid blue;
// }
// .sit-dict-container {
//     border: 10px dashed #6f0;
// }


.content {
    border: 5px dashed #60f;
}
.content-container {
    border: 5px dashed #f60;
}

.mat-tab-body-wrapper {
  border: 5px dashed aqua;
}




.mat-drawer-content>div>div {
    border: 3px dotted brown;
}

.main-app-menu-tab {
    border: 10px dotted #f60;
}



// .column-right {
//   border: 5px dotted green;
// }

// .column-right-content {
//   border: 5px dotted pink;
// }



// .data-set-container {
//     border: 15px dotted blue;
// }


// -------------------------------

.sit-data-input {
    border: 5px dotted red;
  }
  
  .mat-form-field {
    border: 2px solid darkmagenta;
  }
  
  .mat-form-field-wrapper {
    border: 2px dotted green;
  }

  // -------------------------------