<sit-dict-container ident="sitPublicationsAgreements" #sitDictcontainer fxFill>
  <div fxLayout="column" fxFill class="content">
    <sit-data-set-container ident="sitFilterPublicationsAgreements" fxLayout="row">
      <div class="sit-filter-bar" fxLayout="row">
        <sit-data-input #sitControl field="searchAgreements" label="Filtruj umowy" appearance="outline" style="width: 300px;"></sit-data-input>
        <sit-data-input #sitControl field="searchBenef" label="Strony umowy" appearance="outline" style="width: 300px;" ></sit-data-input>
        <sit-data-input #sitControl field="searchPublication" label="Publikacja" appearance="outline" style="width: 300px;" showRefreshButton="true"></sit-data-input>
        <sit-data-checkboxlist #sitControl field="groupStatusMain" label="Status" [refreshOnChange]="false" layout="1"></sit-data-checkboxlist>
      </div>
    </sit-data-set-container>
    <mat-tab-group id="tab-group" animationDuration="0ms">
      <mat-tab label="Umowy">
        <as-split direction="vertical">
          <as-split-area [size]="50">
            <sit-data-set-container ident="sitPublicationsAgreements" showActionsToolbar="true" fxLayout="column" fxFlex>
              <div class="data-table" fxFlex>
                <ag-grid-angular
                  #sitSetDataSource
                  style="width: 100%; height: 100%;"
                  class="ag-theme-balham"
                >
                </ag-grid-angular>
              </div>
            </sit-data-set-container>
          </as-split-area>
          <as-split-area [size]="50">
            <mat-tab-group id="tab-group" animationDuration="0ms">
              <mat-tab label="Strony umowy">
                <div fxFill fxLayout="column">
                  <sit-data-set-container ident="sitAgreementCustomers" showActionsToolbar="true" fxLayout="column" fxFlex>
                    <div class="data-table" fxFlex>
                      <ag-grid-angular
                        #sitSetDataSource
                        style="width: 100%; height: 100%;"
                        class="ag-theme-balham"
                      >
                      </ag-grid-angular>
                    </div>
                  </sit-data-set-container>
                </div>
              </mat-tab>
              <mat-tab label="Publikacje">
                <div fxFill fxLayout="column">
                  <sit-data-set-container ident="sitAgreementsPublications" showActionsToolbar="true" fxLayout="column" fxFlex>
                    <div class="data-table" fxFlex>
                      <ag-grid-angular
                        #sitSetDataSource
                        style="width: 100%; height: 100%;"
                        class="ag-theme-balham"
                      >
                      </ag-grid-angular>
                    </div>
                  </sit-data-set-container>
                </div>
              </mat-tab>
              <mat-tab label="Prawo do form wydania">
                <div fxFill fxLayout="column">
                  <sit-data-set-container ident="sitAgreementsPublicationsFormsOfRelease" showActionsToolbar="true" fxLayout="column" fxFlex>
                    <div class="data-table" fxFlex>
                      <ag-grid-angular
                        #sitSetDataSource
                        style="width: 100%; height: 100%;"
                        class="ag-theme-balham"
                      >
                      </ag-grid-angular>
                    </div>
                  </sit-data-set-container>
                </div>
              </mat-tab>
              <mat-tab label="Zaliczki">
                <div fxFill fxLayout="column">
                  <sit-data-set-container ident="sitAgreementsAdvances" showActionsToolbar="true" fxLayout="column" fxFlex>
                    <div class="data-table" fxFlex>
                      <ag-grid-angular
                        #sitSetDataSource
                        style="width: 100%; height: 100%;"
                        class="ag-theme-balham"
                      >
                      </ag-grid-angular>
                    </div>
                  </sit-data-set-container>
                </div>
              </mat-tab>
              <mat-tab label="Typy rozliczeń">
                <div fxFill fxLayout="column">
                  <sit-data-set-container ident="sitAgreementsBillingTypes" showActionsToolbar="true" fxLayout="column" fxFlex>
                    <div class="data-table" fxFlex>
                      <ag-grid-angular
                        #sitSetDataSource
                        style="width: 100%; height: 100%;"
                        class="ag-theme-balham"
                      >
                      </ag-grid-angular>
                    </div>
                  </sit-data-set-container>
                </div>
              </mat-tab>
            </mat-tab-group>
          </as-split-area>
        </as-split>
      </mat-tab>
      <mat-tab label="Załączniki">
        <as-split direction="horizontal">
          <as-split-area [size]="30" ngClass="flex-container-column">

            <sit-data-set-container ident="sitPublicationsAgreements" ngClass="flex-container-column">

              <sit-simple-container ngClass="flex-container-column mr-05">
                <sit-data-label #sitControl field="AgreementNo" label="Nr umowy:" ></sit-data-label>
                <sit-data-label #sitControl field="Date" label="Data:"></sit-data-label>
                <sit-data-label #sitControl field="CurrencyIdent" label="Waluta:" ></sit-data-label>
                <sit-data-label #sitControl field="BillingFrequencyName" label="Częst. rozl.:"></sit-data-label>
                <sit-data-label #sitControl field="PublicationsIdents" label="Publikacje:"></sit-data-label>
              </sit-simple-container>

            </sit-data-set-container>

            <sit-data-set-container ident="sitAttachments" showActionsToolbar="true" ngClass="flex-container-column">
              <ag-grid-angular
                #sitSetDataSource
                class="ag-theme-balham"
              >
              </ag-grid-angular>
            </sit-data-set-container>

          </as-split-area>
          <as-split-area [size]="70">
            <div fxFill>
              <sit-data-set-container  ident="sitAttachments" fxFlex fxLayout="column">
                <sit-pdf-viewer #sitControl reportType="att" field="FileName" fxFill></sit-pdf-viewer>
              </sit-data-set-container>
            </div>

          </as-split-area>
        </as-split>
      </mat-tab>
    </mat-tab-group>
  </div>
</sit-dict-container>

