<sit-proc-params [(actionExecuteData)]="actionExecuteData" ngClass="flex-container-column">
  <sit-data-set-container ident="sitAccountingDimEdit" ngClass="flex-container-column">

    <sit-actions-form-container ngClass="flex-container-column">
      <sit-data-label #sitControl field="PosId" label="Pozycja" ngClass="field-posId"></sit-data-label>
      <sit-data-input #sitControl type="number" field="Amount" label="Kwota" digitsInfo="1.2-2" appearance="outline"></sit-data-input>
      <sit-data-input #sitControl [class.hidden]="!(this.activeRow?.UseCompanyDepartments == 1)" field="CompanyDepartmentDesc4Lookup" label="Dział" appearance="outline"></sit-data-input>
      <sit-data-input #sitControl [class.hidden]="!(this.activeRow?.UseProjects == 1)" field="ProjectName4Lookup" label="Projekt" appearance="outline"></sit-data-input>
      <sit-data-input #sitControl [class.hidden]="!(this.activeRow?.UseDistributionChannels == 1)" field="DistributionChannelDesc4Lookup" label="Kanał dystrybucji" appearance="outline"></sit-data-input>
      <sit-data-input #sitControl [class.hidden]="!(this.activeRow?.UseProductsTypes == 1)" field="ProductsTypeDesc4Lookup" label="Typ produktu" appearance="outline"></sit-data-input>
      <sit-data-input #sitControl [class.hidden]="!(this.activeRow?.UseCostTypes == 1)" field="CostTypeDesc4Lookup" label="Rodzaj kosztu" appearance="outline"></sit-data-input>
      <sit-data-input #sitControl [class.hidden]="!(this.activeRow?.UseVehicles == 1)" field="VehicleDesc4Lookup" label="Pojazd" appearance="outline"></sit-data-input>
      <sit-data-input #sitControl [class.hidden]="!(this.activeRow?.UseCustomers == 1)" field="CustName" label="Klient" appearance="outline"></sit-data-input>
      <sit-data-input #sitControl field="PosDesc" label="Opis" appearance="outline"></sit-data-input>
    </sit-actions-form-container>

  </sit-data-set-container>
</sit-proc-params>