<sit-dict-container ident="sitProducts" #sitDictcontainer fxFlexFill>
  <sit-data-set-container  ident="sitProducts">
    <div fxLayout="row" fxFill fxLayoutGap="5px">
      <div fxLayout="column" fxFill class="content">
        <ag-grid-angular
          style="width: 500px; height: 500px;"
          class="ag-theme-alpine"
          [rowData]="rowData"
          [columnDefs]="columnDefs"
        >
        </ag-grid-angular>
        <div class="sit-filter-bar">
          <sit-data-set-container ident="sitFilterProducts" >
            <div style="width: 100%;">
              <sit-data-input #sitControl id="searchProducts" field="searchProducts" label="Filtruj produkty" placeholder="Nazwa, NIP, Identyfikator" appearance="outline"  style="width: 300px;"></sit-data-input>
            </div>
          </sit-data-set-container>
        </div>
        <div class="data-table">
          <ngx-datatable #sitProducts #sitSetDataSource
          class="material striped"
          style = "height:700px;"
          [columnMode]="ColumnMode.force"
          [scrollbarV]=true
          [selected]="sitProductsSelected"
          [selectionType]="SelectionType.single"
          [selectAllRowsOnPage]="false"
          (activate)="onActivateProducts($event)"
          [footerHeight]="30"
          >
            <ngx-datatable-column prop="ProductIdent" name="Symbol"></ngx-datatable-column>
            <ngx-datatable-column prop="ProductName" name="Nazwa"></ngx-datatable-column>
            <ngx-datatable-column prop="ProductDescription" name="Opis"></ngx-datatable-column>
            <ngx-datatable-column prop="UnitIdent" name="JM"></ngx-datatable-column>
            <ngx-datatable-column prop="VATRateIdent" name="Vat"></ngx-datatable-column>
            <ngx-datatable-column prop="EAN" name="EAN"></ngx-datatable-column>
            <ngx-datatable-column prop="CountrySymbol" name="Kraj" [resizeable]="false" [width]="40" [canAutoResize]="false"></ngx-datatable-column>
            <ngx-datatable-column prop="PKWIU" name="PKWiU"></ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </sit-data-set-container>
</sit-dict-container>
