<sit-dict-container ident="sitWmsPacking" #sitDictcontainer fxFill>
  <as-split #sitSpliter direction="horizontal">
    <as-split-area [size]="33">
      <as-split #sitSpliter direction="vertical">
        <as-split-area [size]="40">
          <div fxLayout="column" fxFill class="content">
            <div class="sit-grid-title">Zlecenia pakowania</div>
            <sit-data-set-container ident="sitWMSPackingFilter" fxLayout="row">
              <div class="sit-filter-bar" fxLayout="row">
                <sit-data-input #sitControl field="searchPacking" label="Pakowanie" placeholder="" appearance="outline" style="width: 200px;"></sit-data-input>
                <sit-data-input #sitControl field="searchPackingDateFrom" type="date" label="Od" appearance="outline" style="width: 130px;"></sit-data-input>
                <sit-data-input #sitControl field="searchPackingDateTo" type="date" label="Do" appearance="outline" style="width: 195px;" [showRefreshButton]="true" ></sit-data-input>
              </div>
            </sit-data-set-container>
            <sit-data-set-container ident="sitWMSPacking" [showActionsToolbar]="true" fxLayout="column" fxFlex>
              <div class="data-table" fxFlex>
                <ag-grid-angular
                  #sitSetDataSource
                  style="width: 100%; height: 100%;"
                  class="ag-theme-balham"
                >
                </ag-grid-angular>
              </div>
            </sit-data-set-container>
          </div>   
        </as-split-area>
        <as-split-area [size]="60">
          <div fxLayout="column" fxFill class="content">
            <div class="sit-grid-title">Nośniki w zleceniu</div>
            <sit-data-set-container ident="sitWMSPackingContainers" [showActionsToolbar]="true" fxLayout="column" fxFlex>
              <div class="data-table" fxFlex>
                <ag-grid-angular
                  #sitSetDataSource
                  style="width: 100%; height: 100%;"
                  class="ag-theme-balham"
                >
                </ag-grid-angular>
              </div>
            </sit-data-set-container>
          </div>
        </as-split-area>
      </as-split>
    </as-split-area>
    <as-split-area [size]="30">
      <div fxLayout="column" fxFill class="content">
        <div class="sit-grid-title">Skanuj produkt</div>
        <sit-data-set-container ident="sitWMSPackingBarcodeScan" fxLayout="row">
          <div class="sit-filter-bar" fxLayout="column">
            <sit-data-checkbox #sitControl field="scanOneByOne" label="Skanuj po jednej sztuce" labelPosition="after" ></sit-data-checkbox>
            <div fxLayout="row">
              <sit-data-input #sitControl field="ean" label="EAN" appearance="outline" style="width: 200px;" [showRefreshButton]="false" ></sit-data-input>
              <sit-data-input #sitControl field="quantity" label="Ilość" appearance="outline" style="width: 100px;" [showRefreshButton]="false" [readonly]="true"></sit-data-input>
              <sit-data-input #sitControl field="containerWeight" label="Waga pojemnika" appearance="outline" style="width: 120px;" [showRefreshButton]="false" [readonly]="true"></sit-data-input>
            </div>
            <sit-data-label #sitControl type="text" field="productIdent" label="Produkt:" labelWidth="70"></sit-data-label>
            <sit-data-label #sitControl type="text" field="productName" label="Nazwa:" labelWidth="70"></sit-data-label>
            <sit-data-label #sitControl type="text" field="comment" label="" labelWidth="0" style="color: red; font-size: 20px;"></sit-data-label>
          </div>
        </sit-data-set-container>
        <div class="sit-grid-title">Produkty na nośniku</div>
        <sit-data-set-container ident="sitWMSPackingContainerProducts" [showActionsToolbar]="true" fxLayout="column" fxFlex>
          <div class="data-table" fxFlex>
            <ag-grid-angular
              #sitSetDataSource
              style="width: 100%; height: 100%;"
              class="ag-theme-balham"
            >
            </ag-grid-angular>
          </div>
        </sit-data-set-container>
      </div>
    </as-split-area>
    <as-split-area [size]="37">
      <as-split #sitSpliter direction="vertical">
        <as-split-area [size]="30">
          <div fxLayout="column" fxFill class="content">
            <div class="sit-grid-title">Dokumenty w zleceniu</div>
            <sit-data-set-container ident="sitWMSPackingDocuments" [showActionsToolbar]="true" fxLayout="column" fxFlex>
              <div class="data-table" fxFlex>
                <ag-grid-angular
                  #sitSetDataSource
                  style="width: 100%; height: 100%;"
                  class="ag-theme-balham"
                >
                </ag-grid-angular>
              </div>
            </sit-data-set-container>
          </div>
        </as-split-area>
        <as-split-area [size]="70">
          <div fxLayout="column" fxFill class="content">
            <div class="sit-grid-title">Pozycje dokumentów</div>
            <sit-data-set-container ident="sitWMSPackingDocumentsPositions" [showActionsToolbar]="true" fxLayout="column" fxFlex>
              <div class="data-table" fxFlex>
                <ag-grid-angular
                  #sitSetDataSource
                  style="width: 100%; height: 100%;"
                  class="ag-theme-balham"
                >
                </ag-grid-angular>
              </div>
            </sit-data-set-container>
          </div>
        </as-split-area>
      </as-split>
    </as-split-area>
  </as-split>
</sit-dict-container>
    
  