<sit-proc-params
   [(actionExecuteData)]="actionExecuteData"
  >
  <sit-data-set-container ident="sitAgreementCustomerRolesEdit">
    <div class="sit-proc-params-content" fxLayout="column">
      <sit-data-input #sitControl type="text" field="RoleIdent" label="Rola strony umowy" appearance="outline"></sit-data-input>
      <sit-data-input #sitControl type="text" field="RoleName" label="Opis roli" appearance="outline" ></sit-data-input>
      <sit-data-checkbox #sitControl field="IsActive" label="Aktywny"></sit-data-checkbox>
      <sit-data-checkbox #sitControl field="IsDefault" label="Domyślny"></sit-data-checkbox>
    </div>
  </sit-data-set-container>
</sit-proc-params>
