<!-- <main-nav>
  <router-outlet></router-outlet>
</main-nav> -->
<mat-toolbar class="toolbar" *ngIf="currentUser">
  <mat-toolbar-row  class="toolbar">
    <button mat-flat-button color="primary" (click)="drawer.toggle()" *ngIf="currentUser"><mat-icon>menu</mat-icon></button>

    <navbar></navbar>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container autosize class="main-content">
  <mat-drawer #drawer class="sidenav" mode="over" >
    <side-menu></side-menu>
  </mat-drawer>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
