
<!-- <div class="flex-container-column container-main"> -->

  <!-- <sit-msg></sit-msg> -->

  <sit-navbar
    [appDrawerParent]="appDrawer"
    *ngIf="currentUser"
    ngClass="flex-container-column"
  >
  </sit-navbar>


  <!-- mat-drawer-container jest wyłącznie pojemnikiem dla <mat-drawer #appDrawer> (wysuwanego menu) + reszty kontetntu -->

  <!-- <mat-drawer-container autosize class="container-cols"> -->
  <!-- fxFlex = flex-basis: 1e-9px; = https://stackoverflow.com/questions/49238319/flex-layout-what-does-flex-basis-1e-09px-mean -->
  <!-- <mat-drawer-container fxFlex fxLayout="column" class="container-cols"> -->
  <!-- <mat-drawer-container ngClass="mat-drawer-container xxxx"> -->
  <mat-drawer-container  
    ngClass="main-content-container flex-container-column mat-drawer-container" 
  >
  <!-- fxFlex="auto" 
  fxLayout="column" -->

    <mat-drawer #appDrawer class="sidenav" mode="overlay" >
      <sit-side-menu></sit-side-menu>
    </mat-drawer>




    <!-- <div fxFlexFill fxLayout="column">
      <div fxFlex fxLayout="column" style="max-height: 100%; overflow: auto;">

        <router-outlet></router-outlet>

      </div>
    </div> -->




    <!-- element router-outlet jest natywnie "otacznany" <mat-drawer-content> więc dodaję jawnie w celu panowania np w postaci dodania class -->

    <mat-drawer-content ngClass="container-content-main flex-container-column" fxFlex="auto" fxLayout="column">
      <router-outlet></router-outlet>
    </mat-drawer-content>





  </mat-drawer-container>

  <!-- <div class="container-cols mat-drawer-container mat-drawer-transition">

    <mat-drawer #appDrawer class="sidenav" mode="overlay" >
      <sit-side-menu></sit-side-menu>
    </mat-drawer>

    <div fxFlexFill fxLayout="column">
      <div fxFlex fxLayout="column" style="max-height: 100%; overflow: auto;">
        <router-outlet></router-outlet>
      </div>
    </div>

  </div> -->




<!-- </div> -->
