<sit-dict-container ident="sitOfficeDocHeaders" #sitDictcontainer ngClass="flex-container-column" (refreshAfter)="refreshAfter($event)">
  <div ngClass="content flex-container-column">
    <as-split #sitSpliter direction="horizontal">
      <as-split-area [size]="55">
        <as-split #sitSpliter direction="vertical">

          <as-split-area [size]="45" fxLayout="column">

              <!-- kombinacja: flex-container-row sit-filter-bar zwraca: flex:0 0 0; -->
              <sit-data-set-container ident="sitFilter" ngClass="flex-container-row sit-filter-bar">

                <sit-data-input #sitControl field="Customer" label="Kontrahent" placeholder="" appearance="outline" style="width: 150px;"></sit-data-input>
                <sit-data-input #sitControl field="search" label="Filtruj" placeholder="numer, opis, pracownik" appearance="outline" style="width: 150px;"></sit-data-input>
                <sit-data-input #sitControl field="DateFrom" type="date" label="Od" appearance="outline" style="width: 130px;"></sit-data-input>
                <sit-data-input #sitControl field="DateTo" type="date" label="Do" appearance="outline" style="width: 195px;" showRefreshButton="true" ></sit-data-input>
                <sit-data-checkbox #sitControl field="ED" label="Edycja" labelPosition="after" checked="true" [refreshOnChange]="true" style="color: rgb(0,0,0);" ></sit-data-checkbox>
                <sit-data-checkbox #sitControl field="DZ" label="Dziennik" labelPosition="after" checked="true" [refreshOnChange]="true" style="color: lime;" ></sit-data-checkbox>
                <sit-data-checkbox #sitControl field="FK" label="Zaksięgowane" labelPosition="after" checked="true" [refreshOnChange]="true" style="color: green;" ></sit-data-checkbox>

              </sit-data-set-container>

              <sit-data-set-container  ident="sitOfficeDocHeaders" showActionsToolbar="true" ngClass="flex-container-column">

                <ag-grid-angular 
                  #sitSetDataSource 
                  class="ag-theme-balham">
                </ag-grid-angular>
              
              </sit-data-set-container>

          </as-split-area>

          <as-split-area [size]="60">
            <mat-tab-group id="tab-group" animationDuration="0ms">

              <mat-tab label="Info">
                <!-- sit-data-labels-standard-container - zmienia zachowanie wysokości elementów -->
                <!-- <sit-data-set-container ident="sitOfficeDocHeaders" ngClass="flex-container-column"> -->
                <sit-data-set-container ident="sitOfficeDocHeadersOne" ngClass="flex-container-column sit-data-set-container-data">

                  <sit-simple-container ngClass="flex-container-row head-container">
                    <sit-data-label #sitControl field="OfficeDocName" type="header"></sit-data-label>
                    &nbsp;
                    <sit-data-label #sitControl field="DocumentNumber" type="header" ></sit-data-label>
                  </sit-simple-container>

                  <div ngClass="flex-container-row">

                    <sit-simple-container ngClass="flex-container-column tech-container mr-05">
                      <!-- <sit-data-label #sitControl field="DocumentNumber" label="Nr dok."></sit-data-label> -->
                      <sit-data-label #sitControl field="DocumentDate" label="Data wyst."></sit-data-label>
                      <sit-data-label #sitControl field="SalesDate" label="Data sprz." ></sit-data-label>
                      <sit-data-label #sitControl field="OfficeDocNumber" label="Nr w rejestrze"></sit-data-label>
                      <sit-data-label #sitControl field="RegDate" label="Data rejestracji"></sit-data-label>
                      <sit-data-label #sitControl field="StatusValueName" label="Status" [valueStyle]="{'color': statusColor()}" ></sit-data-label>
                    </sit-simple-container>

                    <sit-simple-container ngClass="flex-container-column info-container">
                      <!-- <sit-data-label #sitControl field="OfficeDocName" type="header"></sit-data-label> -->
                      <sit-data-label #sitControl field="CustName" label="Kontrahent"></sit-data-label>
                      <sit-data-label #sitControl field="VATId" label="NIP"></sit-data-label>
                      <!-- <sit-data-label #sitControl field="CustAddress" label="Adres"></sit-data-label> -->
                      <sit-data-label #sitControl field="EmployeeName" label="Pracownik" ngClass="fill-if-empty"></sit-data-label>
                      <sit-data-label #sitControl field="OfficeDocDescription" label="Opis"></sit-data-label>
                    </sit-simple-container>
  

                  </div>

                  <div ngClass="flex-container-row">

                    <sit-simple-container ngClass="flex-container-column tech-container mr-05">

                      <sit-data-label #sitControl field="PaymentTypeDesc" label="Rodz. płatności" ngClass="fill-if-empty"></sit-data-label>
                      <sit-data-label #sitControl field="PaymentDays" label="Dni" ngClass="fill-if-empty"></sit-data-label>
                      <sit-data-label #sitControl field="PaymentDate" label="Data płat."></sit-data-label>
                      <sit-data-label #sitControl field="BankAccountNumber" label="Rachunek" ngClass="fill-if-empty"></sit-data-label>
                      <sit-data-label [class.hidden]="hideSwift()" #sitControl field="Swift" label="SWIFT"></sit-data-label>
                      <div ngClass="flex-container-row">
                        <sit-data-label #sitControl field="GrossCurrency" label="Brutto" type="number"></sit-data-label>
                        <sit-data-label #sitControl field="CurrencyIdent" label=""></sit-data-label>
                      </div>
                      <div ngClass="flex-container-row">
                        <sit-data-label #sitControl field="ExRate" label="Kurs" type="number4" [class.hidden]="hideCurrency()"></sit-data-label>
                        <sit-data-label #sitControl field="ExRateDate" label="" [class.hidden]="hideCurrency()"></sit-data-label>
                      </div>
                    </sit-simple-container>
  
                    <sit-simple-container 
                      ngClass="flex-container-column qrcode-container"
                      [class.hidden]="hideQRCode()"
                    >
  
                      <ngx-qrcode
                        [elementType]="elementType"
                        [errorCorrectionLevel]="correctionLevel"
                        [value]="qrvalue"
                        alt="QR Code"
                        cssClass="qrcode-img-cont">
                      </ngx-qrcode>
                      <!-- <span>{{qrvalue}}</span> -->
  
  
                    </sit-simple-container>
                    
                  </div>




                  <!-- <sit-simple-container ngClass="flex-container-column mr-05 mb-05">
                  </sit-simple-container> -->






                </sit-data-set-container>

              </mat-tab>

              <mat-tab label="Wymiary">
                <sit-data-set-container ident="sitOfficeDocDimensions" showActionsToolbar="true" ngClass="flex-container-column">
                    <ag-grid-angular
                      #sitSetDataSource
                      class="ag-theme-balham"
                      (gridReady)="onGridReady($event)"
                      [rowHeight]="40"
                    >
                  </ag-grid-angular>
                </sit-data-set-container>
              </mat-tab>

              <mat-tab label="Stopka VAT">
                <sit-data-set-container ident="sitOfficeDocVATFooters" showActionsToolbar="true" ngClass="flex-container-column">
                  <ag-grid-angular
                      #sitSetDataSource
                      class="ag-theme-balham"
                    >
                  </ag-grid-angular>
                </sit-data-set-container>
              </mat-tab>

              <mat-tab label="Załączniki">
                <sit-data-set-container  ident="sitAttachments" showActionsToolbar="true" fxFlex fxLayout="column">
                  <div class="data-table" fxFlex>
                    <ag-grid-angular
                      #sitSetDataSource
                      class="ag-theme-balham"
                    >
                    </ag-grid-angular>
                  </div>
                </sit-data-set-container>
              </mat-tab>

              <mat-tab label="Historia akceptacji">
                <sit-data-set-container ident="sitAcceptances" [showActionsToolbar]="false" fxFill fxLayout="column">
                  <ag-grid-angular
                        #sitSetDataSource
                        class="ag-theme-balham"
                      >
                  </ag-grid-angular>
                </sit-data-set-container>  
              </mat-tab>

            </mat-tab-group>
          </as-split-area>
        </as-split>
      </as-split-area>
      <as-split-area [size]="45" ngClass="flex-container-column">
       
        <mat-tab-group id="tab-group" animationDuration="0ms">
          <mat-tab label="Skan">
            <sit-data-set-container  ident="sitAttachments" ngClass="flex-container-column">
              <sit-pdf-viewer #sitControl reportType="att" field="FileName" ngClass="from-sit-office-doc-headers-component-html">
              </sit-pdf-viewer>
            </sit-data-set-container>
          </mat-tab>
          <mat-tab label="Księgowanie">

            <sit-data-set-container ident="sitAccountingHeaders4OfficeDoc" ngClass="flex-container-column sit-data-set-container-ksiegowanie">

              <sit-simple-container ngClass="flex-container-row head-container">
                <sit-data-label #sitControl field="AccountingDocIdent" type="header"></sit-data-label>
                &nbsp;
                <sit-data-label #sitControl field="AccountingDocName" type="header" ></sit-data-label>
              </sit-simple-container>

              <sit-simple-container ngClass="flex-container-column">
                <sit-data-label #sitControl field="AccountingDate" label="Data" ngClass="fill-if-empty"></sit-data-label>
                <sit-data-label #sitControl field="AccountingHeaderDesc" label="Opis" ngClass="fill-if-empty"></sit-data-label>
                <sit-data-label #sitControl field="AccountingSchemaIdent" label="Schemat" ngClass="fill-if-empty"></sit-data-label>
              </sit-simple-container>
         
            </sit-data-set-container>

            <as-split #sitSpliter direction="vertical">
  
              <as-split-area [size]="50">

                <sit-data-set-container ident="sitAccounting" showActionsToolbar="true" ngClass="flex-container-column">
                  <ag-grid-angular
                      #sitSetDataSource
                      class="ag-theme-balham"
                    >
                  </ag-grid-angular>
                  <div>
                    <sit-data-label #sitControl field="AccountDesc" label="Konto"></sit-data-label>
                  </div>
                </sit-data-set-container>
  
              </as-split-area>

              <as-split-area [size]="50">

                <sit-data-set-container ident="sitAccountingDim" showActionsToolbar="true" ngClass="flex-container-column">
                  <ag-grid-angular
                      #sitSetDataSource
                      class="ag-theme-balham"
                      (gridReady)="onGridDimReady($event)"
                    >
                  </ag-grid-angular>
                </sit-data-set-container>
  
              </as-split-area>

            </as-split>
          </mat-tab>
        </mat-tab-group>

      </as-split-area>
    </as-split>
  </div>
</sit-dict-container>
