<sit-dict-container ident="sitOfficeDocHeaders" #sitDictcontainer ngClass="flex-container-column">
  <div ngClass="content flex-container-column">
    <as-split #sitSpliter direction="horizontal">
      <as-split-area [size]="55">
        <as-split #sitSpliter direction="vertical">

          <as-split-area [size]="45" fxLayout="column">

              <!-- kombinacja: flex-container-row sit-filter-bar zwraca: flex:0 0 0; -->
              <sit-data-set-container ident="sitFilter" ngClass="flex-container-row sit-filter-bar">

                <sit-data-input #sitControl field="Customer" label="Kontrahent" placeholder="" appearance="outline" style="width: 150px;"></sit-data-input>
                <sit-data-input #sitControl field="search" label="Filtruj" placeholder="numer, opis, pracownik" appearance="outline" style="width: 150px;"></sit-data-input>
                <sit-data-input #sitControl field="DateFrom" type="date" label="Od" appearance="outline" style="width: 130px;"></sit-data-input>
                <sit-data-input #sitControl field="DateTo" type="date" label="Do" appearance="outline" style="width: 195px;" showRefreshButton="true" ></sit-data-input>
                <sit-data-checkbox #sitControl field="ED" label="Edycja" labelPosition="after" checked="true" [refreshOnChange]="true" style="color: rgb(0,0,0);" ></sit-data-checkbox>
                <sit-data-checkbox #sitControl field="DZ" label="Dziennik" labelPosition="after" checked="true" [refreshOnChange]="true" style="color: lime;" ></sit-data-checkbox>
                <sit-data-checkbox #sitControl field="FK" label="Zaksięgowane" labelPosition="after" checked="true" [refreshOnChange]="true" style="color: green;" ></sit-data-checkbox>

              </sit-data-set-container>

              <sit-data-set-container  ident="sitOfficeDocHeaders" showActionsToolbar="true" ngClass="flex-container-column">
                <ag-grid-angular #sitSetDataSource class="ag-theme-balham"></ag-grid-angular>
              </sit-data-set-container>

          </as-split-area>

          <as-split-area [size]="60">
            <mat-tab-group id="tab-group" animationDuration="0ms">

              <mat-tab label="Info">
                <!-- sit-data-labels-standard-container - zmienia zachowanie wysokości elementów -->
                <sit-data-set-container ident="sitOfficeDocHeaders" ngClass="flex-container-column">

                  <div ngClass="flex-container-row mb-05 mt-05 mr-05">

                    <sit-simple-container ngClass="flex-container-column mr-05" fxFlex="30">
                      <sit-data-label #sitControl field="OfficeDocName" type="header"></sit-data-label>
                      <sit-data-label #sitControl field="OfficeDocNumber" label="Nr w rejestrze" labelWidth="8em"></sit-data-label>
                      <sit-data-label #sitControl field="RegDate" label="Data rejestracji" labelWidth="8em"></sit-data-label>
                      <sit-data-label #sitControl field="StatusValueName" label="Status" labelWidth="8em" [valueStyle]="{'color': statusColor(), 'font-weight': '600' }" ></sit-data-label>
                    </sit-simple-container>

                    <sit-simple-container ngClass="flex-container-column" fxFlex>
                      <sit-data-label #sitControl field="CustName" label="Kontrahent" labelWidth="6em" [valueStyle]="{'font-weight': '600'}"></sit-data-label>
                      <sit-data-label #sitControl field="VATId" label="NIP" labelWidth="6em" [valueStyle]="{'font-weight': '600'}"></sit-data-label>
                      <sit-data-label #sitControl field="CustAddress" label="Adres" labelWidth="6em"></sit-data-label>
                      <sit-data-label #sitControl field="EmployeeName" label="Pracownik" labelWidth="6em" [valueStyle]="{'font-weight': '600'}"></sit-data-label>
                      <sit-data-label #sitControl field="OfficeDocDescription" label="Opis dok." labelWidth="6em"></sit-data-label>
                    </sit-simple-container>

                  </div>

                  <div ngClass="flex-container-row mb-05 mr-05">

                    <sit-simple-container ngClass="flex-container-column mr-05" fxFlex="30">
                      <sit-data-label #sitControl field="DocumentNumber" label="Nr dok." labelWidth="8em" [valueStyle]="{'font-weight': '600'}"></sit-data-label>
                      <sit-data-label #sitControl field="DocumentDate" label="Data wyst." labelWidth="8em"></sit-data-label>
                      <sit-data-label #sitControl field="SalesDate" label="Data sprz." labelWidth="8em" ></sit-data-label>
                    </sit-simple-container>

                    <sit-simple-container ngClass="flex-container-column" fxFlex>
                      <div ngClass="flex-container-row">
                        <sit-data-label #sitControl field="PaymentTypeDesc" label="Rodz. płat." labelWidth="6em" fxFlex="30"></sit-data-label>
                        <sit-data-label #sitControl field="PaymentDays" label="Dni" labelWidth="6em" fxFlex="30"></sit-data-label>
                        <sit-data-label #sitControl field="PaymentDate" label="Data płat." labelWidth="6em" fxFlex></sit-data-label>
                      </div>
                      <sit-data-label #sitControl field="BankAccountNumber" label="Rachunek" labelWidth="6em"></sit-data-label>
                      <sit-data-label #sitControl field="Swift" label="SWIFT" labelWidth="6em" ></sit-data-label>
                    </sit-simple-container>

                  </div>
                  
                  <div ngClass="flex-container-row mb-05">

                    <sit-simple-container ngClass="flex-container-column mr-05" fxFlex="30">
                      <sit-data-label #sitControl field="NetCurrency" label="Netto" type="number"></sit-data-label>
                      <sit-data-label #sitControl field="VATCurrency" label="VAT" type="number"></sit-data-label>
                      <sit-data-label #sitControl field="GrossCurrency" label="Brutto" type="number"></sit-data-label>
                    </sit-simple-container>

                    <sit-simple-container *ngIf="this.activeRow('sitOfficeDocHeaders')?.IsCurrency == 1" ngClass="flex-container-column mr-05" fxFlex="30">
                      <sit-data-label #sitControl field="Net" label="Netto PLN" type="number"></sit-data-label>
                      <sit-data-label #sitControl field="VAT" label="VAT PLN" type="number"></sit-data-label>
                      <sit-data-label #sitControl field="Gross" label="Brutto PLN" type="number"></sit-data-label>
                    </sit-simple-container>

                    <sit-simple-container *ngIf="this.activeRow('sitOfficeDocHeaders')?.IsCurrency == 1" ngClass="flex-container-column mr-05" fxFlex>
                      <sit-data-label #sitControl field="CurrencyIdent" label="Waluta" labelWidth="6em"></sit-data-label>
                      <sit-data-label #sitControl field="ExRateDate" label="Data kursu" labelWidth="6em"></sit-data-label>
                      <sit-data-label #sitControl field="ExRate" label="Kurs waluty" labelWidth="6em"></sit-data-label>
                    </sit-simple-container>

                  </div>

                </sit-data-set-container>

              </mat-tab>

              <mat-tab label="Załączniki">
                <sit-data-set-container  ident="sitAttachments" showActionsToolbar="true" fxFlex fxLayout="column">
                  <div class="data-table" fxFlex>
                    <ag-grid-angular
                      #sitSetDataSource
                      class="ag-theme-balham"
                    >
                    </ag-grid-angular>
                  </div>
                </sit-data-set-container>
              </mat-tab>
              <mat-tab label="Historia akceptacji">
                <sit-data-set-container ident="sitAcceptances" [showActionsToolbar]="false" fxFill fxLayout="column">
                  <div class="data-table" fxFlex>
                    <ag-grid-angular
                          #sitSetDataSource
                          class="ag-theme-balham"
                        >
                    </ag-grid-angular>
                  </div>
                </sit-data-set-container>  
              </mat-tab>
            </mat-tab-group>
          </as-split-area>
        </as-split>
      </as-split-area>
      <as-split-area [size]="45" ngClass="flex-container-column">
        <sit-data-set-container  ident="sitAttachments" ngClass="flex-container-column">
          <sit-pdf-viewer #sitControl reportType="att" field="FileName" ngClass="from-sit-office-doc-headers-component-html">
          </sit-pdf-viewer>
        </sit-data-set-container>
      </as-split-area>
    </as-split>
  </div>
</sit-dict-container>
