
.sit-office-doc-headers-component {

    .sit-data-set-container-data {
        align-content: flex-start;
        align-items: flex-start;
        margin-top: 0.3em;
    
        .sit-simple-container-component {
            padding: 0;
            box-shadow: none;
            background-color: inherit;
            // border-radius: 3px;
    
            &.head-container {
                min-width: 100%;
            }
    
            &.first-container {
                min-width: 27em;
            }
    
            .documentNumber-component,
            .custName-component,
            .statusValueName-component,
            .employeeName-component {
                .sit-data-label-value {
                    font-weight: 600;
                }
            }
    
            .sit-data-label-name {
                // border: 1px solid red;
                min-width: 5em;
                max-width: 5em;
                text-align: left;
            }
        }
    }

}

