
.sit-office-doc-headers-component {

    .head-container {
        .sit-data-label-component {
            flex-grow: 0;

            .sit-data-label-value {
                margin: 0;
            }
        }
    }

    .sit-data-set-container-ksiegowanie {
        max-height: 45%;
        flex: 0 0 fit-content;
        overflow-y: auto;
    }

    .sit-data-set-container-ksiegowanie,
    .sit-data-set-container-data {
        align-content: flex-start;
        align-items: flex-start;
        margin-top: 0.3em;

        // .head-container,
        > * {
            flex: 0 0 fit-content;
            margin-bottom: .5em;
            min-width: 100%;
            // border: 1px dotted green;
        }

    
        .sit-simple-container-component {
            padding: 0;
            box-shadow: none;
            background-color: inherit;
            // border: 1px solid red;
    
    
            &.info-container {
                flex-grow: 1
            }

            // &.qrcode-container,
            &.tech-container {
                min-width: 16em;
            }

            &.qrcode-container {

                img {
                    height: 9em;
                    width: auto;
                    box-shadow: 0px 0px 4px 2px #fff;
                }
            }
    
            .documentNumber-component,
            .custName-component,
            .statusValueName-component,
            .employeeName-component,
            .grossCurrency-component,
            .currencyIdent-component {
                .sit-data-label-value {
                    font-weight: 600;
                }
            }
            
            .grossCurrency-component {
                flex-grow: 0;
                .sit-data-label-value {
                    text-align: left;
                    margin-right: 0em;

                }
            }

            .currencyIdent-component {
                margin-left: 0.4em;
                .sit-data-label-value {
                    margin-left: 0em;
                }
            }

            .cSum-component,
            .dSum-component,
            .diffSum-component {
                margin-top: 1em;
                .sit-data-label-value {
                    text-align: left;
                }
            }

            .sit-data-label-name {
                // border: 1px solid red;
                min-width: 6em;
                max-width: 6em;
                text-align: left;
            }
        }
    }

}

