<sit-proc-params
  [(actionExecuteData)]="actionExecuteData"
  >
  <sit-data-set-container ident="sitEmployeeAbsencesEdit">
    <div class="sit-proc-params-content" fxLayout="column" style="width: 500px;">
      <div fxLayout="row">
        <sit-data-input #sitControl type="text" field="AbsenceIdent" label="Typ urlopu" appearance="outline" style="width: 300px" ></sit-data-input>
      </div>
      <div fxLayout="row">
        <sit-data-input type="date" #sitControl field="DateFrom" label="Urlop od " appearance="outline"></sit-data-input>
        <sit-data-input type="date" #sitControl field="DateTo" label="Urlop do" appearance="outline"></sit-data-input>
      </div>
    </div>
  </sit-data-set-container>
</sit-proc-params>
