<sit-dict-container ident="sitProjectsPub" #sitDictcontainer fxFlexFill>
  <div fxLayout="row" fxFill fxLayoutGap="5px">
    <div fxLayout="column" fxFlex="30%" class="content">

      <div class="sit-filter-bar">
        <sit-data-set-container ident="sitFilterProjectsPub" >
          <div style="width: 100%;">
            <sit-data-input #sitControl id="searchProjectsPub" field="searchProjectsPub" label="Filtruj projekty" placeholder="Projekt, Nazwa, EAN" autocomplete="off" style="width: 100%;"></sit-data-input>
          </div>
        </sit-data-set-container>
      </div>

      <sit-data-set-container  ident="sitProjectsPub" (activeRowChanged)="activeRowProjectsPubChanged($event)">
        <div class="data-table">
          <ngx-datatable #sitProjectsPub #sitSetDataSource
          class="material striped"
          [columnMode]="ColumnMode.force"

          [scrollbarV] = "false"
          [limit]="12"
          [selected]="sitProjectsPubSelected"
          [selectionType]="SelectionType.single"
          [selectAllRowsOnPage]="false"
          (activate)="onActivateProjectsPub($event)"
          rowHeight="auto"
          [footerHeight]="50"
          >
            <!-- <ngx-datatable-column prop="sitMenuId" name="Id" [canAutoResize]="false" [width]="50">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <div style="text-align: right;">
                  {{value}}
                </div>
              </ng-template>
            </ngx-datatable-column> -->
            <ngx-datatable-column prop="ProjectName" name="Projekt">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div fxLayout="column">
                  <div style="font-size: 16px;font-weight:500; text-overflow: ellipsis;overflow: hidden;">{{row.ProjectName}}</div>
                  <div fxLayout="row">
                    <div style="width: 200px;">{{row.ProjectIdent}}</div>
                    <div>ISBN: {{row.ISBN}}</div>
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-column>
            <!-- <ngx-datatable-column prop="ProjectName" name="Nazwa"></ngx-datatable-column>
            <ngx-datatable-column prop="ISBN" name="ISBN"></ngx-datatable-column> -->

          </ngx-datatable>
        </div>
      </sit-data-set-container>

    </div>

      <div fxLayout="column" fxFlex="70%" class="content" class="right-panel">
        <sit-data-set-container  ident="sitProjectsPub" (activeRowChanged)="activeRowProjectsPubChanged($event)">
          <div *ngIf="activeRowProjectsPub?.ProjectIdent !== undefined" fxLayout="column">
            <div fxLayout="row" fxFlex>
              <div fxLayout="row" fxFlex="40">
                <div class="label">Karta projektu:</div><div fxFlex class="text">{{ activeRowProjectsPub?.ProjectIdent }}</div>
              </div>
              <div fxLayout="row" fxFlex="30">
                <div class="label">ISBN:</div><div fxFlex class="text">{{ activeRowProjectsPub?.ISBN }}</div>
              </div>
              <div fxLayout="row" fxFlex="30">
                <div class="label">EAN:</div><div fxFlex class="text">{{ activeRowProjectsPub?.EAN }}</div>
              </div>
            </div>
            <br>
            <div fxLayout="row" fxFlex fxLayoutAlign="center center"><h3>{{ activeRowProjectsPub?.ProjectName }}</h3></div>


            <div fxLayout="row" fxFlex fxLayoutAlign="center center" class ="title">Informacje podstawowe</div>

            <div fxLayout="row"><div class="label">Autor tekstu:</div><div fxFlex class="text">{{ activeRowProjectsPub?.Author }}</div></div>
            <div fxLayout="row"><div class="label">Autor ilustracji:</div><div fxFlex  class="text">{{ activeRowProjectsPub?.Illustrator }}</div></div>
            <div fxLayout="row"><div class="label">Grafik:</div><div fxFlex  class="text">{{ activeRowProjectsPub?.GraphicDesigner }}</div></div>
            <div fxLayout="row"><div class="label">Redaktor:</div><div fxFlex  class="text">{{ activeRowProjectsPub?.Editor }}</div></div>
            <div fxLayout="row"><div class="label">Tłumacz:</div><div fxFlex  class="text">{{ activeRowProjectsPub?.Translator }}</div></div>

            <div fxLayout="row" fxFlex fxLayoutAlign="center center" class ="title">Terminy</div>

            <div fxLayout="row">
              <div fxLayout="row" fxFlex="50">
                <div class="label" style="width:200px;">Planowana data wydania</div><div fxFlex class="text">{{ activeRowProjectsPub?.ReleaseDatePlan | date: 'yyyy-MM-dd'}}</div>
              </div>
              <div fxLayout="row" fxFlex="50">
                <div class="label" style="width:200px;">Rzeczywista data wydania</div><div fxFlex class="text">{{ activeRowProjectsPub?.ReleaseDateAct | date: 'yyyy-MM-dd'}}</div>
              </div>
            </div>
            <div fxLayout="row">
              <div fxLayout="row" fxFlex="50">
                <div class="label" style="width:200px;">Data dost. mat. do druku</div><div fxFlex  class="text">{{ activeRowProjectsPub?.MatDelivDate | date: 'yyyy-MM-dd'}}</div>
              </div>
              <div fxLayout="row" fxFlex="50">
                <div class="label" style="width:200px;">Data dost. ozalidów</div><div fxFlex  class="text">{{ activeRowProjectsPub?.OzalidDelivDate | date: 'yyyy-MM-dd'}}</div>
              </div>
            </div>
            <div fxLayout="row">
              <div fxLayout="row" fxFlex="50">
                <div class="label" style="width:200px;">Data zamówienia PDF</div><div fxFlex  class="text">{{ activeRowProjectsPub?.PDFOrdDate | date: 'yyyy-MM-dd'}}</div>
              </div>
              <div fxLayout="row" fxFlex="50">
                <div class="label" style="width:200px;">Data premiery</div><div fxFlex  class="text">{{ activeRowProjectsPub?.PremiereDate | date: 'yyyy-MM-dd'}}</div>
              </div>
            </div>

            <div fxLayout="row" fxFlex fxLayoutAlign="center center" class ="title">Okładka</div>

            <div class="cover" fxLayout="row" fxFlex fxLayoutAlign="center center"><img src="{{Link}}"></div>

            <div fxLayout="row" fxFlex fxLayoutAlign="center center" class ="title">Dane techniczne</div>
            <div fxLayout="row" fxFLex>
              <div fxLayout="column" fxFlex="50">
                <div fxFLex fxLayoutAlign="center center" class="subtitle">Oprawa</div>
                <div fxLayout="row" fxFLex>
                  <div class="label" style="width:200px;">Typ</div><div fxFlex  class="text">{{ activeRowProjectsPub?.BindingType }}</div>
                </div>
                <div fxLayout="row" fxFLex>
                  <div class="label" style="width:200px;">Grzbiet</div><div fxFlex  class="text">{{ activeRowProjectsPub?.BindingSpine}}</div>
                </div>
                <div fxLayout="row" fxFLex>
                  <div class="label" style="width:200px;">Druk</div><div fxFlex  class="text">{{ activeRowProjectsPub?.BindingPrint}}</div>
                </div>
              </div>

              <div fxLayout="column" fxFlex="50">
                <div fxFlex fxLayoutAlign="center start" class="subtitle">Wnętrze</div>
                <div fxLayout="row" fxFLex>
                  <div class="label" style="width:200px;">Druk</div><div fxFlex  class="text">{{ activeRowProjectsPub?.InsidePrint}}</div>
                </div>
                <div fxLayout="row" fxFLex>
                  <div class="label" style="width:200px;">Papier</div><div fxFlex  class="text">{{ activeRowProjectsPub?.InsidePaper}}</div>
                </div>
                <div fxLayout="row" fxFLex>
                  <div class="label" style="width:200px;">Format podstawa</div><div fxFlex  class="text">{{ activeRowProjectsPub?.FormatBase}}</div>
                </div>
                <div fxLayout="row" fxFLex>
                  <div class="label" style="width:200px;">Format wysokość</div><div fxFlex  class="text">{{ activeRowProjectsPub?.FormatHeight}}</div>
                </div>
                <div fxLayout="row" fxFLex>
                  <div class="label" style="width:200px;">Liczba stron</div><div fxFlex  class="text">{{ activeRowProjectsPub?.NumberOfPages}}</div>
                </div>
              </div>
            </div>

            <div fxLayout="row" fxFLex>
              <div fxLayout="column" fxFlex="50">
                <div fxFLex fxLayoutAlign="center center" class="subtitle">Oprawa - dodatki</div>
                <div fxLayout="row" fxFLex>
                  <div class="label" style="width:200px;">Banderola</div><div fxFlex  class="text">{{ activeRowProjectsPub?.BindingAccStreamer }}</div>
                </div>
                <div fxLayout="row" fxFLex>
                  <div class="label" style="width:200px;">Brokat</div><div fxFlex  class="text">{{ activeRowProjectsPub?.BindingAccGlitter}}</div>
                </div>
                <div fxLayout="row" fxFLex>
                  <div class="label" style="width:200px;">Ekskluzywne etui</div><div fxFlex  class="text">{{ activeRowProjectsPub?.BindingAccExclusiveCase}}</div>
                </div>
              </div>

              <div fxLayout="column" fxFlex="50">
                <div fxFlex fxLayoutAlign="center start" class="subtitle">Wnętrze - dodatki</div>
                <div fxLayout="row" fxFLex>
                  <div class="label" style="width:200px;">Brokat</div><div fxFlex  class="text">{{ activeRowProjectsPub?.InsideAccStreamer}}</div>
                </div>
                <div fxLayout="row" fxFLex>
                  <div class="label" style="width:200px;">Audio CD</div><div fxFlex  class="text">{{ activeRowProjectsPub?.InsideAccCDA}}</div>
                </div>
                <div fxLayout="row" fxFLex>
                  <div class="label" style="width:200px;">Film na CD</div><div fxFlex  class="text">{{ activeRowProjectsPub?.InsideAccCDF}}</div>
                </div>
                <div fxLayout="row" fxFLex>
                  <div class="label" style="width:200px;">CD Rom</div><div fxFlex  class="text">{{ activeRowProjectsPub?.InsideAccCDR}}</div>
                </div>
              </div>
            </div>

            <div fxLayout="row" fxFlex fxLayoutAlign="center center" class ="title">Założenia marketingowe</div>

            <div fxLayout="row" fxFlex fxLayoutAlign="center center" class ="title">Założenia produkcyjne</div>

            <div fxLayout="row" fxFlex fxLayoutAlign="center center" class ="title">Opis projektu</div>
            <div>{{ activeRowProjectsPub?.ProjectDescription }}</div>
            <!-- <div fxFlex fxLayout="column" style="padding-left: 20px;">
            <div style="font-size: 18px;font-weight: bold; height: 60px; width:100%;">{{ activeRowProjectsPub?.ProjectName }}</div>
            <mat-divider></mat-divider>
            <p></p>
            <div fxLayout="row">
              <sit-data-input #sitControl type="text" id="ProjectIdent" field="ProjectIdent" label="Projekt" appearance="outline" style="width: 400px" readonly="true"></sit-data-input>
            </div>
            <div fxLayout="row">
              <sit-data-input #sitControl type="text" id="ISBN" field="ISBN" label="ISBN" appearance="outline" style="width: 400px" readonly="true"></sit-data-input>
            </div>
            <div fxLayout="row">
              <sit-data-input #sitControl type="text" id="EAN" field="EAN" label="EAN" appearance="outline" style="width: 400px" readonly="true"></sit-data-input>
            </div>
            <div fxLayout="row"><div class="label">Autor:</div><div class="text">{{ activeRowProjectsPub?.Author }}</div></div>
            <div fxLayout="row"><div class="label">Redaktor:</div><div class="text">{{ activeRowProjectsPub?.Editor }}</div></div>
            <div fxLayout="row"><div class="label">Grafik:</div><div class="text">{{ activeRowProjectsPub?.GraphicDesigner }}</div></div>
            <div fxLayout="row"><div class="label">Ilustrator:</div><div class="text">{{ activeRowProjectsPub?.Illustrator }}</div></div>
            <div fxLayout="row"><div class="label">Tłumacz:</div><div class="text">{{ activeRowProjectsPub?.Translator }}</div></div>
            <div fxLayout="row"><div class="label">Nakład:</div><div class="text">{{ activeRowProjectsPub?.Circulation }}</div></div>

          </div>
        </div>
        <div>
          <div fxLayout="row"><div class="label" style="width:200px;">Planowana data wydania</div><div class="text">{{ activeRowProjectsPub?.ReleaseDatePlan | date: 'yyyy-MM-dd'}}</div></div>
          <div fxLayout="row"><div class="label" style="width:200px;">Rzeczywista data wydania</div><div class="text">{{ activeRowProjectsPub?.ReleaseDateAct | date: 'yyyy-MM-dd'}}</div></div>
          <div fxLayout="row"><div class="label" style="width:200px;">Data dost. mat. do druku</div><div class="text">{{ activeRowProjectsPub?.MatDelivDate | date: 'yyyy-MM-dd'}}</div></div>
          <div fxLayout="row"><div class="label" style="width:200px;">Data dost. ozalidów</div><div class="text">{{ activeRowProjectsPub?.OzalidDelivDate | date: 'yyyy-MM-dd'}}</div></div>
          <div fxLayout="row"><div class="label" style="width:200px;">Data zamówienia PDF</div><div class="text">{{ activeRowProjectsPub?.PDFOrdDate | date: 'yyyy-MM-dd'}}</div></div>
          <div fxLayout="row"><div class="label" style="width:200px;">Data premiery</div><div class="text">{{ activeRowProjectsPub?.PremiereDate | date: 'yyyy-MM-dd'}}</div></div>
          <div>{{ activeRowProjectsPub?.ProjectDescription }}</div>
          <p>{{ activeRowProjectsPub?.ProjectStatus }}</p>

        </div>-->
      </div>
      </sit-data-set-container>
    </div>
  </div>
</sit-dict-container>
