@import "../../../../theme";

img {
  max-width:400px;
  height:auto;
}

div.label {
  font-weight: 500;
  width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  border-bottom: 1px solid lightsteelblue;
}

div.text {
  text-overflow: ellipsis;
  overflow: hidden;
  border-bottom: 1px solid lightsteelblue;

}

div.number {
  text-align: right;
}

div.cover{
  width: 300px;
  width: 100%;
  min-width: 100%;
  margin: 10px;
  // height: 450px;
}

div.title {
  background-color: $table-header-color;
  color: $table-header-font-color;
  height: 30px;
  min-height: 30px;
  font-weight: 400;
  margin-top: 10px;
}

div.subtitle {
  background-color: lightgray;
  color: black;
  height: 30px;
  min-height: 30px;
  font-weight: 400;
}

div.right-panel {
  padding: 10px;
  overflow: auto;
  height: calc(100vh - 100px);
}
