<sit-proc-params
   [(actionExecuteData)]="actionExecuteData"
  >
  <sit-data-set-container ident="sitAgreementsPublicationsEdit">
    <div class="sit-proc-params-content" fxLayout="column">
      <sit-data-input #sitControl type="text" field="PublicationIdent" label="Publikacja" appearance="outline"
        [lookupDisplayFields] = "['PublicationIdent', 'Title']"></sit-data-input>
      <div fxLayout="row" fxLayoutAlign="start center" >
        <sit-data-input #sitControl type="text" field="RightsDateFromTypeIdent" label="Rodzaj daty rozpoczęcia licencji" appearance="outline" 
          [lookupDisplayFields] = "['RightsDateFromTypeIdent', 'RightsDateFromTypeName']"  fxFlex=50></sit-data-input>
        <sit-data-label #sitControl type="text" field="RightsDateFromTypeName" label=""></sit-data-label>
      </div>
      <div fxLayout="row">
        <sit-data-input type="date" #sitControl field="RightsDateFrom" label="Data rozpoczęcia licencji" appearance="outline" style="width: 150px" fxFlex=50></sit-data-input>
        <sit-data-input type="date" #sitControl field="RightsDateTo" label="Data zakończenia licencji" appearance="outline" style="width: 150px" fxFlex></sit-data-input>
      </div>
      <div fxLayout="row">
        <sit-data-input type="date" #sitControl field="RightsToSellDateTo" label="Data wygaśnięcia praw do sprzedaży" appearance="outline" style="width: 150px" fxFlex=50></sit-data-input>
      </div>
    </div>
  </sit-data-set-container>
</sit-proc-params>
