<ng-container *ngIf="errors?.length > 0">
  <div class="sit-msg-container">
    <div class="sit-msg-box sit-msg-left" fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="space-between center" >
        <div style="width: 20px;"></div><div class="error-header"><b>Błąd !</b></div>
        <div fxFlex fxLayoutAlign="end start"><mat-icon class="gray-icon" aria-hidden="false" aria-label="Close" (click)="clearErrors()">close</mat-icon></div>
      </div>
      <mat-divider></mat-divider>
      <div>
        <div *ngFor="let error of errors" fxLayout="row" fxLayoutAlign="space-between stretch" >
          <div style="width: 30px; padding-top:3px;" fxLayoutAlign="center start" ><mat-icon *ngIf="errors?.length > 1" class="gray-icon" matListIcon (click)="closeError(error)">close</mat-icon></div>
          <div class="sit-msg-error">{{error.message}}</div>
        </div>
      </div>
    </div>
  </div>
  <!-- Toolbar z akcjami -->
  <div class="sit-proc-bar">
      <sit-actions-toolbar #sitActionsToolbar [sitActionsTable]="actionsTable" componentParamsIdent="sitCustomersEdit"></sit-actions-toolbar>
    <!--  
    <mat-toolbar color="accent">  
      <mat-toolbar-row> 
        <div class="sit-proc-buttons-row" *ngFor="let action of actionsTable;">
                <sit-proc-button *ngIf="action.ident === 'insert'" #sitAction [actionIdent]="action.ident" componentParamsIdent="sitCustomersEdit" openKind="EXPANDER" 
                tooltip="{{action.caption}}" color="primary" icon="post_add"></sit-proc-button>
                <sit-proc-button *ngIf="action.ident === 'update'" #sitAction [actionIdent]="action.ident" componentParamsIdent="sitCustomersEdit" openKind="EXPANDER" 
                tooltip="{{action.caption}}" color="primary" icon="edit"></sit-proc-button>
                <sit-proc-button *ngIf="action.ident === 'delete'" #sitAction [actionIdent]="action.ident" tooltip="{{action.caption}}" color="primary" icon="delete" delete="true" 
                matType="mat-stroked-button"></sit-proc-button>
          </div>
        </mat-toolbar-row>
      </mat-toolbar> -->
  </div>
</ng-container>


<ng-content>
</ng-content>

