<ng-container *ngIf="errors?.length > 0">
  <div class="sit-msg-container">
    <div class="sit-msg-box sit-msg-left" fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="space-between center" >
        <div style="width: 20px;"></div><div class="error-header"><b>Błąd !</b></div>
        <div fxFlex fxLayoutAlign="end start"><mat-icon class="gray-icon" aria-hidden="false" aria-label="Close" (click)="clearErrors()">close</mat-icon></div>
      </div>
      <mat-divider></mat-divider>
      <div>
        <div *ngFor="let error of errors" fxLayout="row" fxLayoutAlign="space-between stretch" >
          <div style="width: 30px; padding-top:3px;" fxLayoutAlign="center start" ><mat-icon *ngIf="errors?.length > 1" class="gray-icon" matListIcon (click)="closeError(error)">close</mat-icon></div>
          <div class="sit-msg-error">{{error.message}}</div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
  
<!-- Toolbar z akcjami -->
  <div class="sit-proc-bar" *ngIf="showActionsToolbar">
    <!--      
          <mat-toolbar color="accent">
            <mat-toolbar-row>
              <div class="sit-proc-buttons-row">
                <sit-proc-button #sitAction actionIdent="insert" componentParamsIdent="sitCustomersEdit" openKind="EXPANDER" tooltip="Nowy" color="primary" icon="post_add"></sit-proc-button>
                <sit-proc-button #sitAction actionIdent="update" componentParamsIdent="sitCustomersEdit" openKind="EXPANDER" tooltip="Edycja" color="primary" icon="edit"></sit-proc-button>
                <sit-proc-button #sitAction actionIdent="delete" tooltip="Usuń"  color="primary" icon="delete" delete="true" matType="mat-stroked-button"></sit-proc-button>
              </div>
            </mat-toolbar-row>
          </mat-toolbar>
          matType="mat-stroked-button"
        -->
         <!-- <sit-actions-toolbar #sitActionsToolbar [sitActionsTable]="actionsTable" componentParamsIdent="sitCustomersEdit"></sit-actions-toolbar> --> 
      <mat-toolbar color="accent">  
      <mat-toolbar-row> 
        <div class="sit-proc-buttons-row" *ngFor="let action of actionsTable;">
                <sit-proc-button #sitAction actionIdent="{{action.ident}}" componentParamsIdent="{{action.componentParamsIdent}}" 
                openKind="{{action.openKind}}" tooltip="{{action.tooltip}}" color="{{action.color}}" icon="{{action.icon}}" delete="action.ident === 'delete'"></sit-proc-button>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
  </div>

<ng-content>
</ng-content>