<div class="data-table">
  <app-dict-container ident="sitRailConfigurations">
    <app-data-source-container ident="sitRailConfigurationsDS">
      <div class="data-table">

      <mat-toolbar class="toolbar">
        <mat-toolbar-row>
          <mat-form-field class="filter">
            <input matInput (keyup)="applyFilter($event)" placeholder="Filtr" >
          </mat-form-field>
          <button mat-icon-button (click)="onClick()" ><mat-icon class="icon">search</mat-icon></button>
        </mat-toolbar-row>
      </mat-toolbar>

      <mat-table matSort #sitSetDataSource class="mat-elevation-z8">

      <ng-container matColumnDef="RailConfigurationId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let element" > {{element.RailConfigurationId}} </td>
      </ng-container>

      <ng-container matColumnDef="CompanyId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>  CompanyId </th>
      <td mat-cell *matCellDef="let element"> {{element.CompanyId}} </td>
      </ng-container>

      <ng-container matColumnDef="ClientGuid">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ClientGuid </th>
      <td mat-cell *matCellDef="let element"> {{element.ClientGuid}} </td>
      </ng-container>

      <ng-container matColumnDef="UserId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> UserId </th>
      <td mat-cell *matCellDef="let element"> {{element.UserId}} </td>
      </ng-container>

      <ng-container matColumnDef="OperationIdent">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> OperationIdent </th>
      <td mat-cell *matCellDef="let element"> {{element.OperationIdent}} </td>
      </ng-container>

      <ng-container matColumnDef="Data">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Data </th>
      <td mat-cell *matCellDef="let element"> {{element.Data}} </td>
      </ng-container>

      <ng-container matColumnDef="IsActive">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> IsActive </th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox [(ngModel)]="element.IsActive" disabled="true"></mat-checkbox>
      </td>
      </ng-container>

      <ng-container matColumnDef="Timeout">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Timeout </th>
      <td mat-cell *matCellDef="let element"> {{element.Timeout}} </td>
      </ng-container>

      <ng-container matColumnDef="TransformProcedure">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> TransformProcedure </th>
      <td mat-cell *matCellDef="let element"> {{element.TransformProcedure}} </td>
      </ng-container>

      <ng-container matColumnDef="ConvertFunctionForParams">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ConvertFunctionForParams </th>
      <td mat-cell *matCellDef="let element"> {{element.ConvertFunctionForParams}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="table-header"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"></tr>

    </mat-table>
  <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
</div>
</app-data-source-container>
</app-dict-container>

</div>
