
<sit-dict-container ident="sitSandbox" #sitDictcontainer ngClass="flex-container-column" (refreshAfter)="refreshAfter($event)">

    <!-- <div ngClass="content flex-container-column"> -->

        <as-split #sitSpliter direction="horizontal" ngClass="main-area-container">

            <as-split-area [size]="70" ngClass="area-1">

                <as-split #sitSpliter direction="vertical" ngClass="inner-area-container">
    
                    <as-split-area [size]="45" ngClass="area-1-1">
                        <sit-data-set-container  ident="sitSandbox" showActionsToolbar="true" ngClass="flex-container-column">
                            <ag-grid-angular 
                                #sitSetDataSource 
                                class="ag-theme-balham">
                            </ag-grid-angular>
                        </sit-data-set-container>
                    </as-split-area>
    
                    <as-split-area [size]="60" ngClass="area-1-2">
                        <div>Area down > div1</div>
                        <div>Area down > div2</div>
                        <div>Area down > div3</div>
                        <div>Area down > div4</div>
                        <div>Area down > div5</div>
                    </as-split-area>

                </as-split>

            </as-split-area>

            <!-- <as-split-area [size]="30" ngClass="flex-container-column area-2"> -->
            <as-split-area [size]="30" ngClass="area-2">
                <div>
                    Area last > div1
                </div>
                <div>
                    Area last > div2
                </div>
                <div>
                    Area last > div3
                </div>

            </as-split-area>

        </as-split>


    <!-- </div> -->



</sit-dict-container>
