<sit-proc-params
  dictIdent="sitJpkVat"
  [(actionExecuteData)]="actionExecuteData"
  >
<div fxFill fxLayoutAlign="center center" fxLayout="column">
  <div class="content" fxFill style="padding: 20px;">
    <sit-data-set-container ident="sitProcGetJPKData">
      <div>
        <mat-form-field appearance="legacy" style="width: 200px;">
          <mat-label>Data od</mat-label>
        <input matInput (change)="onChange($event)" id="DateFrom" type="date">
        </mat-form-field>
        <br>
        <mat-form-field appearance="legacy" style="width: 200px;">
          <mat-label>Data do</mat-label>
          <input matInput (change)="onChange($event)" id="DateTo" type="date">
        </mat-form-field>
      </div>
    </sit-data-set-container>
  </div>
</div>
</sit-proc-params>
