// globalne - do ew. przeniesienia

:root {
    --red-color: #f00;
    --violet-color: violet;
    --orange-color: orange;
    --darkred-color: rgb(153, 0, 0);
    --green-color: rgb(20, 152, 46);
    --blue-color: rgb(11, 23, 255);
    --black-color: #000;
    --def-color: #666;
    --lightgrey-color: #aaa;
    --darkgrey-color: #444;

}
.company-main-context {
    --darkred-color: rgb(200, 50, 50);
    --green-color: #0f6;
    --blue-color: #09f;
}


.bold
{
    font-weight: 600;
}


// kolory dla class statusów


.AN {
    color: var(--lightgrey-color);
}

.DW {
    color: var(--red-color);
}

.WC,
.AR {
    color: var(--def-color);
}

.WP {
    color: var(--violet-color);
}

.ED,
.ZP 
{
    color: var(--orange-color);
}


.NW {
    color: var(--darkred-color);
}

.ZT,
.AK {
    color: var(--green-color);
}

.WR {
    color: var(--blue-color);
}





