// kolory dla class statusów

.AN {
    color: var(--lightgrey-color);
}

.DW {
    color: var(--red-color);
}

.WC,
.AR {
    color: var(--def-color);
}

.WP {
    color: var(--violet-color);
}

.ED,
.ZP 
{
    color: var(--orange-color);
}


.NW {
    color: var(--darkred-color);
}

.ZT,
.AK {
    color: var(--green-color);
}

.WR {
    color: var(--blue-color);
}



