.lookup-select-panel-class {
  
    .CustName {
      max-width: 11em;
      min-width: 11em;
    }
    
    .VATId {
      max-width: 6.5em;
      min-width: 6.5em;
    }
  
    .CustIdent {
      max-width: 10em;
      min-width: 10em;
    }
  
  }