

.sit-proc-button-component {
  flex: 0 1 0;
  display: flex;
  flex-direction: column;

  //.mat-stroked-button, 
  button
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 0;

  //   font-size: 1rem;
    line-height: 1.9em;
    min-width: 2em;
    padding: 0 .5em;
    margin: 4px 0px 3px 4px;    
    white-space: nowrap;


    .mat-button-wrapper {
      display: flex;
      flex-direction: row;
      flex: auto;
      align-items: center;
      justify-content: center;

      .separator {
        width: auto;
      }
    }
  
    .sit-proc-button-icon {
      display: flex;
      flex: 0 0 0;
      // margin-right: .2em;
    }

    .sit-proc-button-spinner {
      flex: auto;
      max-width: 0.94em;
      max-height: 0.94em;
      // margin-left: 0.32em;
      margin-left: 0.18em;
      margin-right: 0.18em;
    }
  
    .mat-icon {
      font-size: 1.3em;
      flex: auto;
      height: auto;
      width: auto;
    }
    
    .mat-icon
    , .sit-proc-button-caption
    , .sit-proc-button-spinner
    {
      line-height: inherit;
    }



    &.small {
      // tu sterujemy wielkoscia fonta dla .small
      font-size: .9em;
    }
    &:hover {
      // border-color: rgba(150,0,0, 0.3) !important;
      border-color: rgba(7, 55, 99, 0.3) !important;
    }
  }
}


.mat-toolbar {
    // tu sterujemy wielkoscia fonta globalnie dla toolbar
    font-size: 1rem;

    .sit-proc-buttons-row {
      display: flex;
      flex: 0 1 0;
    }

    button {
      margin: 4px 0px 3px 4px;
    }
  
    // .sit-proc-button-component {
    //   flex: 0 1 0;
    //   display: flex;
    // }
  
  
    &.mat-toolbar-multiple-rows {
      min-height: auto;
      mat-toolbar-row, .mat-toolbar-row, .mat-toolbar-single-row {
        height: auto;
      }
    }
    
    .mat-toolbar-row, .mat-toolbar-single-row {
      // padding: 2px 2px 0px 2px;
      padding: 0 3px 0 0;
    }
  
  
  }