<sit-proc-params
  [(actionExecuteData)]="actionExecuteData"
  >
  <sit-data-set-container ident="sitDocumentsHeadersEdit">
    <div class="sit-proc-params-content" fxLayout="column" style="width: 500px;height: 600px;">
      <div fxLayout="row">
        <sit-data-input #sitControl type="text" field="DocumentIdent" label="Typ dok." appearance="outline" style="width: 100px" 
          [lookupDisplayFields] = "['DocumentIdent', 'DocumentName']"></sit-data-input>
        <sit-data-input #sitControl type="text" field="WarehouseIdent" label="Magazyn" appearance="outline" style="width: 100px"
          [lookupDisplayFields] = "['WarehouseIdent', 'WarehouseName']"></sit-data-input>    
        <sit-data-input #sitControl type="date" field="DocumentDate" label="Data wystawienia" appearance="outline"></sit-data-input>
        <sit-data-input #sitControl type="date" field="SalesDate" label="Data sprzedaży" appearance="outline"></sit-data-input>
      </div>
      <div fxLayout="row">
        <sit-data-input #sitControl type="text" field="CustIdent" label="Kontrahent" appearance="outline" style="width: 150px" 
          [lookupDisplayFields] = "['CustIdent', 'CustName']"></sit-data-input>
        <sit-data-label #sitControl type="text" field="CustName" appearance="outline"></sit-data-label>
      </div>
      <div fxLayout="row">
        <sit-data-input #sitControl type="text" field="PayerIdent" label="Płatnik" appearance="outline" style="width: 150px" 
          [lookupDisplayFields] = "['CustIdent', 'CustName']"></sit-data-input>
        <sit-data-label #sitControl type="text" field="PayerName" appearance="outline"></sit-data-label>
      </div>
      <div fxLayout="row">
        <sit-data-input #sitControl type="text" field="DocumentNumber" label="Numer dokumentu" appearance="outline" style="width: 200px"></sit-data-input>
        <sit-data-input #sitControl type="text" field="PaymentType" label="Rodzaj płatności" appearance="outline" style="width: 200px"></sit-data-input>
        <sit-data-input #sitControl type="date" field="PaymentDate" label="Data płatności" appearance="outline"></sit-data-input>
      </div>
      <div fxLayout="row">
        <sit-data-input #sitControl type="text" field="CurrencyIdent" label="Waluta" appearance="outline" style="width: 100px" 
          [lookupDisplayFields] = "['CurrencyIdent', 'CurrencyDescription']"></sit-data-input>
        <sit-data-input #sitControl type="text" field="DocumentDescription" label="Opis" appearance="outline" style="width: 400px"></sit-data-input>
      </div>       
    </div>
  </sit-data-set-container>
</sit-proc-params>
