.sit-attachments-ins-component {

    .sit-actions-form-container-component {
        max-height: 79vh;
        min-height: 70vh;
    }
    
    .pdf-viewer-container {
        margin-left: 0.2em;
        min-width: var(--pdf-viewer-form-container-min-widh);
    }
}