<sit-proc-params
  [(actionExecuteData)]="actionExecuteData"
  ngClass="flex-container-column"
  >
  <sit-data-set-container ident="sitAttachmentsIns" ngClass="flex-container-row">

    <sit-actions-form-container ngClass="flex-container-column">
      
      <div ngClass="file-upload-controls-container">
        <sit-files-button #sitSimpleButton fieldIdent="sitAttachmentsG" fieldFileNames="FileName"></sit-files-button>
        <sit-data-input #sitControl type="text" field="FileName" label="Nazwa pliku" appearance="outline"></sit-data-input>
      </div>
      
      <sit-data-input #sitControl type="text" field="AttachmentDesc" label="Opis" appearance="outline"></sit-data-input>

    </sit-actions-form-container>

    <div [class.flex-container-column]="showPDF" [class.display-none]="!showPDF" ngClass="pdf-viewer-container"> 
      <sit-pdf-viewer 
        (showPDFChange)="showPDFChangeView($event)" 
        #sitControl 
        reportType="att" 
        field="FileName" 
        ngClass="from-sit-attachments-ins-component-html"
      >
      </sit-pdf-viewer>
    </div>

  </sit-data-set-container>
</sit-proc-params>
