<sit-proc-params
[(actionExecuteData)]="actionExecuteData"
  >

  <sit-data-set-container ident="sitStatusValuesTransitionsEdit">
    <div class="sit-proc-params-content" fxLayout="row" style="height: 400px; width:600px">
      <div fxFlex="50" fxLayout="column">
        
        <div fxLayout="row">
         <sit-data-input type="text" #sitControl field="sitStatusValuesId_From" label="sitStatusValuesId_From" appearance="outline" fxFlex></sit-data-input>
        </div>
        <div fxLayout="row">
          <sit-data-input type="text" #sitControl field="sitStatusValuesId_To" label="sitStatusValuesId_To" appearance="outline" fxFlex></sit-data-input>
        </div> 
        <div fxLayout="row">
          <sit-data-input type="text" #sitControl field="IsActive" label="IsActive" appearance="outline" fxFlex></sit-data-input>
        </div> 
        <div fxLayout="row">
          <sit-data-input type="text" #sitControl field="ValueIdent as ValueIdent_From" label="ValueIdent as ValueIdent_From" appearance="outline" fxFlex></sit-data-input>
        </div> 
        <div fxLayout="row">
            <sit-data-input type="text" #sitControl field="ValueName as ValueName_From" label="ValueName as ValueName_From" appearance="outline" fxFlex></sit-data-input>
        </div> 
        <div fxLayout="row">
            <sit-data-input type="text" #sitControl field="ValueIdent as ValueIdent_To" label="ValueIdent as ValueIdent_To" appearance="outline" fxFlex></sit-data-input>
        </div> 
        <div fxLayout="row">
          <sit-data-input type="text" #sitControl field="ValueName as ValueName_To" label="ValueName as ValueName_To" appearance="outline" fxFlex></sit-data-input>
        </div>           
       
      </div>
      
    </div>
  </sit-data-set-container>
</sit-proc-params>