.data-table{
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 20px auto;
}

table {
  width: 100%;
  table-layout: fixed;
}

th, td {
  overflow: hidden;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
