.sit-link-internal-component {
    .link-item-internal {
        cursor: pointer;
        text-decoration: underline dotted;
        // font-size: 1.2em;
        &:hover {
            text-decoration-style: solid;
        }
    }
}