@import '../../../theme';

:host {

  &.sit-menu-list-item {
    display: block;
    // outline: none;
    background-color: #35383c;
  }
}


.mat-list-item {
  color: $sidenav-font-color;

  .routeIcon {
    margin-right: 10px;
  }

  &.active {
    background-color: $sidenav-item-active;
    color: $sidenav-font-color;
  }
  &:hover,
  &:focus {

    background-color: $sidenav-hover-color;

    // >.mat-list-item:not(.expanded) {
    //   background-color: $sidenav-hover-color;
    // }
  }

}
