@import '../../../theme';

:host {
  display: block;
  outline: none;

  .mat-list-item.active {
    background-color: $sidenav-item-active;
    color: $sidenav-font-color !important;
  }
  &:hover,
  &:focus {
    >.mat-list-item:not(.expanded) {
      background-color: $sidenav-hover-color !important;
    }
  }
}

.mat-list-item {
  padding-bottom: 12px;
  height: 40px;
  color: $sidenav-font-color !important;

  .routeIcon {
    margin-right: 10px;
  }
}


