<sit-proc-params
   [(actionExecuteData)]="actionExecuteData"
  >
  <sit-data-set-container ident="sitCostCenter4CustEdit">
    <div class="sit-proc-params-content" fxLayout="column">
      <sit-data-input #sitControl type="text" field="CustomerCostCenterIdent" label="MPK" appearance="outline"></sit-data-input>
      <sit-data-input #sitControl type="text" field="CustomerCostCenterName" label="Nazwa" appearance="outline" ></sit-data-input>
    </div>
  </sit-data-set-container>
</sit-proc-params>