<sit-proc-params
  [(actionExecuteData)]="actionExecuteData"
  >
  <sit-data-set-container ident="sitCustomers4AgreementsEdit">
    <div class="sit-proc-params-content" fxLayout="row" style="height: 400px;">
      <div fxLayout="column">
        <div fxLayout="row">
          <sit-data-checkbox #sitControl field="IsRecipient" label="Odbiorca"></sit-data-checkbox>
          <sit-data-checkbox #sitControl field="IsSupplier" label="Dostawca"></sit-data-checkbox>
        </div>
        <div fxLayout="row">
          <sit-data-input type="text" #sitControl field="CustIdent" label="Identyfikator" appearance="outline" fxFlex></sit-data-input>
          <sit-data-input type="text" #sitControl field="VATId" label="NIP" appearance="outline" style="width: 150px"></sit-data-input>
          <sit-data-input type="text" #sitControl field="REGON" label="REGON" appearance="outline" style="width: 150"></sit-data-input>
          <sit-data-input type="text" #sitControl field="KRS" label="KRS" appearance="outline" style="width: 150"></sit-data-input>
        </div>
        <div>
          <sit-data-input type="text" #sitControl field="CustName" label="Nazwa" appearance="outline" fxFlex></sit-data-input>
        </div>
        <div fxLayout="row">
        </div>
        <div fxLayout="row">
          <sit-data-input type="text" #sitControl field="CountrySymbol" label="Kraj" appearance="outline"  style="width: 100px"
           [lookupDisplayFields] = "['CountrySymbol', 'CountryName']"
          ></sit-data-input>
          <sit-data-input type="text" #sitControl field="PostCode" label="Kod pocztowy" appearance="outline" style="width: 100px"></sit-data-input>
          <sit-data-input type="text" #sitControl field="City" label="Miasto" appearance="outline" fxFlex></sit-data-input>
        </div>
        <div fxLayout="row">
          <sit-data-input type="text" #sitControl field="Street" label="Ulica" appearance="outline" fxFlex></sit-data-input>
          <sit-data-input type="text" #sitControl field="HouseNum" label="Numer" appearance="outline" style="width: 100px"></sit-data-input>
        </div>
        <div fxLayout="row">
          <sit-data-input type="text" #sitControl field="PhoneNumber" label="Nr telefonu" appearance="outline" fxFlex="50"></sit-data-input>
        </div>
        <div fxLayout="row">
          <sit-data-input type="text" #sitControl field="ExtIdent" label="Identyfikator zewnętrzny" appearance="outline" fxFlex="50"></sit-data-input>
          <sit-data-input type="text" #sitControl field="ExtIdent02" label="Identyfikator zewnętrzny 2" appearance="outline" fxFlex></sit-data-input>
        </div>
      </div>
    </div>
  </sit-data-set-container>
</sit-proc-params>
