<div class="sit-proc-expander expander-items-container">
    <div class="expander-item" *ngFor="let item of items">
        <div class="expander-header" (click)="onHeaderClick(item)">
            <div class="caption">{{item.caption}}</div>
        </div>
        <div class="expander-body flex-container-column" *ngIf="item.isOpen">
            <sit-proc-expander-item-body [componentFactoryIdent]="item.componentFactoryIdent" [actionExecuteData]="item.actionExecuteData"></sit-proc-expander-item-body>
        </div>
    </div>
</div>
