.sit-proc-expander {
    position: absolute;
    margin-top: 50px;
    z-index: 1;
    .items-container {
        .item {
            .header{
                font-size: 0.7rem;
                color: red;
                text-transform: uppercase;
                letter-spacing: 3px;
                // margin-left: -20px;
                // transform: rotate(270deg);
                padding: 10px;
                background: #073763;
            }
        }
    }

}

