<sit-dict-container ident="{{dictIdent}}" #sitDictcontainer (refreshAfter) ="refreshAfter($event)">
  <sit-data-source-container ident="{{dataSourceIdent}}">
    <div class="sit-edit-form">
      <ng-content></ng-content>


      <mat-divider></mat-divider>
      <div fxLayout="row" style="width: 100%;">
        <span style="padding: 20px">
          <sit-proc-button #sitControl actionIdent="{{actionIdent}}" color="primary" caption="Zapisz" (afterCompleted)="onSave($event)" confirm="false"></sit-proc-button>
        </span>
        <span style="width: 50px"></span>
        <span style="padding: 20px">
          <button mat-raised-button color="primary" (click)="openDiscardDialog()"  style="width: 80px;">Anuluj</button>
        </span>
      </div>
    </div>
  </sit-data-source-container>
</sit-dict-container>
