<sit-proc-params
   [(actionExecuteData)]="actionExecuteData"
  >
  <sit-data-set-container ident="sitPublicationsBillingDefEdit">
    <div class="sit-proc-params-content" fxLayout="column">
      <div fxLayout="row">
        <sit-data-input #sitControl type="text" field="AgreementNo" label="Numer umowy" appearance="outline" fxFlex
          [lookupDisplayFields] = "['AgreementNo', 'AgreementDesc']"></sit-data-input>
      </div>
      <div fxLayout="row">
        <sit-data-input #sitControl type="text" field="PublicationIdent" label="Publikacja" appearance="outline" fxFlex
          [lookupDisplayFields] = "['PublicationIdent', 'Title']"></sit-data-input>
      </div>
      <div fxLayout="row">
        <sit-data-input type="date" #sitControl field="DateFrom" label="Od dnia" appearance="outline" [readonly] = "true"></sit-data-input>
      </div>
      <div fxLayout="row">
        <sit-data-checkbox #sitControl field="CalcAsGroup" label="Rozliczaj jako grupę"
          matTooltip="Progi będą liczone wspólnie dla wszystkich form wydań podpiętych do tej definicji." matTooltipPosition="right" matTooltipHideDelay="100">
        </sit-data-checkbox>
      </div>
    </div>
  </sit-data-set-container>
</sit-proc-params>
