<sit-proc-params
  [(actionExecuteData)]="actionExecuteData"
>
  <sit-data-set-container ident="sitStatusesEdit">
    <div class="sit-proc-params-content" fxLayout="row" style="height: 400px; width:600px">
      <div fxFlex="50" fxLayout="column">
        <div fxLayout="row">
          <sit-data-input type="text" #sitControl field="sitStatusesG" label="GUID" appearance="outline" fxFlex></sit-data-input>
        </div>
        <div fxLayout="row">
          <sit-data-input type="text" #sitControl field="StatusIdent" label="Identyfikator statusu" appearance="outline" fxFlex></sit-data-input>
        </div> 
        <div fxLayout="row">
          <sit-data-input type="text" #sitControl field="StatusName" label="Nazwa statusu" appearance="outline" fxFlex></sit-data-input>
        </div> 
        <div fxLayout="row">
          <sit-data-input type="text" #sitControl field="TableName" label="Nazwa tabeli" appearance="outline" fxFlex></sit-data-input>
        </div> 
        <div fxLayout="row">
          <sit-data-input type="text" #sitControl field="ColumnName" label="Nazwa kolumny" appearance="outline" fxFlex></sit-data-input>
        </div>
      </div>
    </div>
  </sit-data-set-container>
</sit-proc-params>