<sit-proc-params
  [(actionExecuteData)]="actionExecuteData"
  >
  <sit-data-set-container ident="sitAccept">
    <div ngClass="sit-proc-params-content">
      <div ngClass="flex-container-row mb-05">
        <sit-data-label #sitControl field="AcceptanceStepName_From" label="Bieżący poziom akceptacji"></sit-data-label>
      </div>
      <div ngClass="flex-container-row mb-05">
        <sit-data-label #sitControl field="AcceptanceStepName_To" label="Następny poziom akceptacji"></sit-data-label>
      </div>
      <div ngClass="flex-container-row" [class.hidden] = "!showAcceptanceMode()">
        <sit-data-radio #sitControl field="AcceptanceMode" type="row" 
          [buttons]="[{'caption':'Akceptuj','value': '1', 'checked':true},{'caption':'Odrzuć','value':'-1'},{'caption':'Przekaż','value':'2'}]"
        ></sit-data-radio>
      </div>
      <div ngClass="flex-container-row" [class.hidden] = "!showEmployeesList()"> 
        <sit-data-input type="text" #sitControl field="EmployeeName" label="Przekaż do akceptacji" appearance="outline" fxFlex
          [lookupDisplayFields] = "['EmployeeName']"></sit-data-input>
      </div>
      <div ngClass="flex-container-row">
        <sit-data-textarea 
          type="textarea" 
          #sitControl field="Comment" 
          label="Komentarz" 
          appearance="outline" 
          rows="5" 
          cols="30" 
          fxFill>
        </sit-data-textarea>
      </div> 
   </div>
  </sit-data-set-container>
</sit-proc-params>
