<sit-proc-params
   [(actionExecuteData)]="actionExecuteData"
  >
  <sit-data-set-container ident="sitParamsEdit">
    <div class="sit-proc-params-content" fxLayout="column" style="width: 700px;height: 500px;" >
      <div fxLayout="row">
        <sit-data-input type="text" #sitControl field="ParamIdent" label="Identyfikator" appearance="outline" style="width: 300px;"></sit-data-input>
        <sit-data-checkbox #sitControl field="IsTechnical" label="Techniczny"></sit-data-checkbox>
      </div>
      <div fxLayout="column" fxFlex>
        <sit-data-textarea type="textarea" #sitControl field="ParamValue" label="Wartość" appearance="outline" rows="20" cols="65" fxFlex=50></sit-data-textarea>
        <sit-data-textarea type="textarea" #sitControl field="ParamName" label="Opis" appearance="outline" rows="20" cols="65" fxFlex=50></sit-data-textarea>
      </div>
    </div>
  </sit-data-set-container>
</sit-proc-params>
