@import "../../../theme";

.card-header {
  background-color: $content-background-color;
}

.card-body {
  background-color: $content-background-color;

}

.rememberme {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-left: 10px;
}
