// @import "../../../theme";


.card-header:first-child {
  // border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
  border-radius: 1rem 1rem 0 0;
}


.pass-container {
  position:relative;
  align-items: center;
  // place-content: center flex-start;
}


.rememberme {
  width: 1.1em;
  height: 1.1em;
  display: inline-block;
  margin-left: 0.5em;
}



// .capslock {
//   width: 100%;
//   text-align: center;
// }
