<sit-proc-params
  [(actionExecuteData)]="actionExecuteData"
  >
  <sit-data-set-container ident="sitAttachmentsIns">
      <div fxFill fxLayout="column">
        <div class="sit-proc-expander-title" *ngIf="isInsert">Dodaj załącznik</div>
        <div class="sit-proc-expander-title" *ngIf="isUpdate">Edycja załącznika</div>

        <div fxLayout="row">
          <sit-data-input #sitControl  type="text" id="sitAttachmentsG" field="sitAttachmentsG" label="sitAttachmentsG" appearance="outline" style="width: 200px"></sit-data-input>
          <sit-data-input #sitControl  type="text" id="ParentId" field="ParentId" label="ParentId" appearance="outline" style="width: 200px"></sit-data-input>
          <sit-data-input #sitControl  type="text" id="EntityName" field="EntityName" label="EntityName" appearance="outline" style="width: 200px"></sit-data-input>
          <!-- <sit-data-input type="date" id="Date" #sitControl field="Date" label="Data umowy" [showRefresh]=false appearance="outline"></sit-data-input>
          <sit-data-input type="date" id="DateTo" #sitControl field="DateTo" label="Data zakończenia" [showRefresh]=false appearance="outline"></sit-data-input> -->
        </div>
        <div fxLayout="column">
          <sit-data-input #sitControl  type="text" id="AttachmentDesc" field="AttachmentDesc" label="Opis" appearance="outline" fxFill></sit-data-input>
        </div>
        <div fxLayout="row">
          <sit-data-input #sitControl  type="text" id="FileName" field="FileName" label="Nazwa pliku" appearance="outline" fxFlex></sit-data-input>
          <sit-files-button #sitSimpleButton fieldFileNames="searchCustomers"></sit-files-button >
        </div>

      </div>

  </sit-data-set-container>
</sit-proc-params>
