<div
  class="sid-navbar toolbar-top-nav flex-container-row"
>

  <!-- <div style="display: flex; flex-direction: row; margin: 2px 2px 2px 0px; justify-content: center;">
    <button mat-flat-button matTooltip="Strona główna" color="primary"  routerLink="/" *ngIf="currentUser" style="width: 50px;">
      <mat-icon aria-hidden="false" aria-label="Home">home</mat-icon>
    </button>
  </div> -->

  <div class="menu-button" matTooltip="Menu" color="primary" (click)="appDrawerParent.toggle()" *ngIf="currentUser">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </div>

  <div class="menu-button" matTooltip="Wybierz firmę" color="primary" (click)="openModalChangeCompany()"  *ngIf="currentUser">
    <i class="fa fa-server" aria-hidden="true" aria-label="Firma"></i>
    {{ currentUser?.company?.companyDescription }}
  </div>


  <div class="fill-space menu-title">
    <div>
      {{ title }}
    </div>
  </div>

  <div class="seido-logo">
    <img src="assets/seido_logo_orange.png" alt="Logo SeidoIt">
  </div>

  <div class="user-info">
    <span>Login:</span>
    <a matTooltip="Edytuj konto" (click)="onClicUser()"> {{ currentUser?.username }}</a>
  </div>

  <div class="menu-button" matTooltip="Wyloguj" color="primary" (click)="logout()" *ngIf="currentUser">
    <i class="fa fa-power-off" aria-hidden="true" aria-label="logout"></i>
  </div>

</div>
