<sit-dict-container ident="sitEmployees" #sitDictcontainer fxFill>
  <as-split direction="vertical">
    <as-split-area [size]="60">
      <div fxLayout="row" fxFill fxLayoutGap="5px">
        <div fxLayout="column" fxFill class="content">
          <!-- Filtry sitEmployees -->
          <sit-data-set-container ident="sitFilterEmployees" >
            <div class="sit-filter-bar" fxLayout="row">
              <sit-data-input #sitControl id="searchEmployees" field="searchEmployees" label="Filtruj pracowników" placeholder="Imię, nazwisko, PESEL, identyfikator" appearance="outline" showRefreshButton="true" style="width: 300px;"></sit-data-input>
              <sit-data-checkbox #sitControl field="activeOnly" label="Tylko z umową" labelPosition="after" checked="true" refreshOnChange="true"></sit-data-checkbox>
            </div>
          </sit-data-set-container>
          <sit-data-set-container  ident="sitEmployees" showActionsToolbar="true" fxFlex fxLayout="column">
            <div class="data-table" fxFlex>
              <ag-grid-angular
                #sitSetDataSource
                #sitEmployeesGrid
                style="width: 100%; height: 100%;"
                class="ag-theme-balham"
              >
              </ag-grid-angular>
            </div>
          </sit-data-set-container>
        </div>
      </div>
    </as-split-area>
    <as-split-area [size]="40">
      <mat-tab-group id="tab-group" animationDuration="0ms">
        <mat-tab label="Umowy">
          <div fxFill fxLayout="column">
            <sit-data-set-container ident="sitEmployeeContracts" showActionsToolbar="true" fxLayout="column" fxFlex>
              <div class="data-table" fxFlex>
                <ag-grid-angular
                  #sitSetDataSource
                  style="width: 100%; height: 100%;"
                  class="ag-theme-balham"
                >
                </ag-grid-angular>
              </div>
            </sit-data-set-container>
          </div>
        </mat-tab>
        <mat-tab label="Limity urlopu">
          <div fxFill fxLayout="column">
            <sit-data-set-container ident="sitEmployeeVacationLimits" showActionsToolbar="true" fxLayout="column" fxFlex>
              <div class="data-table" fxFlex>
                <ag-grid-angular
                  #sitSetDataSource
                  style="width: 100%; height: 100%;"
                  class="ag-theme-balham"
                >
                </ag-grid-angular>
              </div>
            </sit-data-set-container>
          </div>
        </mat-tab> 
      </mat-tab-group>
    </as-split-area>
  </as-split>
</sit-dict-container>
