<sit-proc-params
  [(actionExecuteData)]="actionExecuteData"
  >
  <sit-data-set-container ident="sitOfficeDocDimensionsImportFromFile">
    <div class="sit-proc-params-content" fxLayout="column">
      <div fxLayout="row">
        <button mat-stroked-button color="primary" (click)="getTemplate()" style="width: 220px;"><mat-icon>attach_file</mat-icon>Pobierz wzorzec importu</button>
        <sit-data-checkbox #sitControl field="DelExistingRows" label="Usuń istniejące wiersze przed importem"></sit-data-checkbox>
      </div>
      <sit-data-radio #sitControl field="FirstColType" type="row" label="Pierwsza kolumna pliku zawiera:" fxFlex
      [buttons]="[{'caption':'kwotę','value': '0', 'checked':true},{'caption':'procent','value':'1'}]"></sit-data-radio>
      <div fxLayout="row">
        <sit-files-button #sitSimpleButton fieldIdent="sitImportsG" fieldFileNames="FileName" pathIdent="PathIdent"></sit-files-button >
        <sit-data-input #sitControl type="text" field="FileName" label="Nazwa pliku" appearance="outline" style="width: 500px;"></sit-data-input>
      </div>
    </div>
  </sit-data-set-container>
</sit-proc-params>
