<sit-dict-container ident="sitRights" #sitDictcontainer fxFill>
  <div class="content" fxLayout="row" fxFill fxLayoutGap="5px">
    <div fxFlex=50 fxLayout="column">
      <div fxFlex=50 fxLayout="column">
        <div class="sit-grid-title">Grupy uprawnień</div>
        <sit-data-set-container ident="sitFilterRightsGroups" fxLayout="row">
          <div class="sit-filter-bar">
            <sit-data-input #sitControl field="searchRightsGroups" label="Filtruj grupy" appearance="outline" showRefreshButton="true" style="width: 300px;"></sit-data-input>
          </div>
        </sit-data-set-container>
        <sit-data-set-container  ident="sitRightsGroups" showActionsToolbar="true" fxFlex fxLayout="column">
          <div class="data-table" fxFlex>
            <ag-grid-angular #sitSetDataSource
              #agGrid
              id="gridRightsGroups"
              style="width: 100%; height: 100%;"
              class="ag-theme-balham"
              [columnDefs]="columnDefs"
              [popupParent]="popupParent"
              [frameworkComponents]="frameworkComponents"
              (rowClicked)="onRowClicked($event)"
              (gridReady)="onGridReady($event)"
            >
            </ag-grid-angular>
          </div>
        </sit-data-set-container>
      </div>
      <div fxFlex fxLayout="column">
        <div class="sit-grid-title">Użytkownicy w grupie</div>
        <sit-data-set-container  ident="sitRightsGroupUsers" showActionsToolbar="true" fxFlex fxLayout="column">
          <div class="data-table" fxFlex>
            <ag-grid-angular #sitSetDataSource
              #agGrid
              id="gridRightsGroupUsers"
              style="width: 100%; height: 100%;"
              class="ag-theme-balham"
              [columnDefs]="columnDefsRightsGroupUsers"
              [popupParent]="popupParent"
              [frameworkComponents]="frameworkComponents"
              (rowClicked)="onRowClickedRightsGroupUsers($event)"
              (gridReady)="onGridReadyRightsGroupUsers($event)"
              (firstDataRendered)="onFirstDataRendered($event)"

            >
            </ag-grid-angular>
          </div>
        </sit-data-set-container>

      </div>
    </div>
    <div fxFlex fxLayout="column">
      <mat-tab-group id="tab-group" animationDuration="0ms">
        <mat-tab label="Aplikacja">
          <div fxFill fxLayout="column">
            <div fxFlex=35 fxLayout="column">
              <div class="sit-grid-title">Dictionaries</div>
              <sit-data-set-container ident="sitFilterSysDictionaries" fxLayout="row">
                <div class="sit-filter-bar">
                  <sit-data-input #sitControl field="searchDictionaries" label="Filtruj" appearance="outline" showRefreshButton="true" style="width: 300px;"></sit-data-input>
                </div>
              </sit-data-set-container>
              <sit-data-set-container  ident="sitSysDictionaries" showActionsToolbar="true" fxFlex fxLayout="column">
                <div class="data-table" fxFlex>
                  <ag-grid-angular #sitSetDataSource
                    #agGrid
                    id="gridDictionaries"
                    style="width: 100%; height: 100%;"
                    class="ag-theme-balham"
                    [columnDefs]="columnDefsDictionaries"
                    [popupParent]="popupParent"
                    (rowClicked)="onRowClickedDictionaries($event)"
                    (gridReady)="onGridReadyDictionaries($event)"
                    [frameworkComponents]="frameworkComponents"
                  >
                  </ag-grid-angular>
                </div>
              </sit-data-set-container>

            </div>
            <div fxFlex=35 fxLayout="column">
              <div class="sit-grid-title">Datasources</div>
              <sit-data-set-container ident="sitFilterSysDatasources" fxLayout="row">
                <div class="sit-filter-bar">
                  <sit-data-input #sitControl field="searchDatasources" label="Filtruj" appearance="outline" showRefreshButton="true" style="width: 300px;"></sit-data-input>
                </div>
              </sit-data-set-container>
              <sit-data-set-container ident="sitSysDatasources" showActionsToolbar="true" fxFlex fxLayout="column">
                <div class="data-table" fxFlex>
                  <ag-grid-angular #sitSetDataSource
                    #agGrid
                    id="gridDatasources"
                    style="width: 100%; height: 100%;"
                    class="ag-theme-balham"
                    [columnDefs]="columnDefsDatasources"
                    [popupParent]="popupParent"
                    (rowClicked)="onRowClickedDatasources($event)"
                    (gridReady)="onGridReadyDatasources($event)"
                    [frameworkComponents]="frameworkComponents"
                  >
                  </ag-grid-angular>
                </div>
              </sit-data-set-container>
            </div>
            <div fxFlex fxLayout="column">
              <div class="sit-grid-title">Actions</div>
              <sit-data-set-container ident="sitFilterSysActions" fxLayout="row">
                <div class="sit-filter-bar">
                  <sit-data-input #sitControl field="searchActions" label="Filtruj" appearance="outline" showRefreshButton="true" style="width: 300px;"></sit-data-input>
                </div>
              </sit-data-set-container>

              <sit-data-set-container  ident="sitSysActions" showActionsToolbar="true" fxFlex fxLayout="column">
                <div class="data-table" fxFlex>
                  <ag-grid-angular #sitSetDataSource
                    #agGrid
                    id="gridActions"
                    style="width: 100%; height: 100%;"
                    class="ag-theme-balham"
                    [columnDefs]="columnDefsActions"
                    [popupParent]="popupParent"
                    (rowClicked)="onRowClickedActions($event)"
                    (gridReady)="onGridReadyActions($event)"
                    [frameworkComponents]="frameworkComponents"
                  >
                  </ag-grid-angular>
                </div>
              </sit-data-set-container>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Archiwum umów">
          <div fxLayout="column" fxFill>
            <div fxFlex="50" fxLayout="column">
              <div class="sit-grid-title">Lokalizacje</div>
              <sit-data-set-container ident="sitFilterLocations" fxLayout="row">
                <div class="sit-filter-bar">
                  <sit-data-input #sitControl field="searchLocations" label="Filtruj" appearance="outline" showRefreshButton="true" style="width: 300px;"></sit-data-input>
                </div>
              </sit-data-set-container>

              <sit-data-set-container  ident="sitLocations" showActionsToolbar="true" fxFlex fxLayout="column">
                <div class="data-table" fxFlex>
                  <ag-grid-angular #sitSetDataSource
                    #agGrid
                    id="gridLocations"
                    style="width: 100%; height: 100%;"
                    class="ag-theme-balham"
                    [columnDefs]="columnDefsLocations"
                    [popupParent]="popupParent"
                    (rowClicked)="onRowClickedLocations($event)"
                    (gridReady)="onGridReadyLocations($event)"
                    [frameworkComponents]="frameworkComponents"
                  >
                  </ag-grid-angular>
                </div>
              </sit-data-set-container>
            </div>
            <div fxFlex fxLayout="column">
              <div class="sit-grid-title">Typy umów</div>
              <sit-data-set-container ident="sitFilterAgreementsTypes" fxLayout="row">
                <div class="sit-filter-bar">
                  <sit-data-input #sitControl field="searchAgreementsTypes" label="Filtruj" appearance="outline" showRefreshButton="true" style="width: 300px;"></sit-data-input>
                </div>
              </sit-data-set-container>

              <sit-data-set-container  ident="sitAgreementsTypes" showActionsToolbar="true" fxFlex fxLayout="column">
                <div class="data-table" fxFlex>
                  <ag-grid-angular #sitSetDataSource
                    #agGrid
                    id="gridAgreementsTypes"
                    style="width: 100%; height: 100%;"
                    class="ag-theme-balham"
                    [columnDefs]="columnDefsAgreementsTypes"
                    [popupParent]="popupParent"
                    (rowClicked)="onRowClickedAgreementsTypes($event)"
                    (gridReady)="onGridReadyAgreementsTypes($event)"
                    [frameworkComponents]="frameworkComponents"
                  >
                  </ag-grid-angular>
                </div>
              </sit-data-set-container>
            </div>

          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</sit-dict-container>
