<div ngClass="flex-container-column card-container">
    <div class="card">
        <h4 class="card-header">
            <img className="company-logo" src= "assets/Novum_Logo.png" />
        </h4>
        <div class="card-body">

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': (f.email.touched || submitted) && f.email.errors }" />
                    <div *ngIf="(f.email.touched || submitted) && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">email is required.</div>
                        <div *ngIf="f.email.errors.email">wpisz poprawny email.</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="emailConfirm">Potwierdzenie email</label>
                    <input type="text" formControlName="emailConfirm" class="form-control" [ngClass]="{ 'is-invalid': (f.emailConfirm.touched || submitted) && f.emailConfirm.errors }" />
                    <div *ngIf="(f.emailConfirm.touched || submitted) && f.emailConfirm.errors" class="invalid-feedback">
                        <div *ngIf="f.emailConfirm.errors.required">pole jest wymagane.</div>
                        <div *ngIf="f.emailConfirm.errors.email">wpisz poprawny email.</div>
                        <div *ngIf="f.emailConfirm.errors.notEquivalent">Pola email muszą być takie same.</div>
                    </div>
                </div>

                <div class="form-group">
                    Capcha dowolna
                </div>


                <div class="form-group">
                    <!-- <button class="btn btn-primary"> -->
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Login
                    </button>
                </div>

            </form>

        </div>
    </div>


    <!-- <div>
        email:
        <hr/>
        errors: {{f.email.errors | json}} <br/>
        touched: {{f.email.touched | json}}
        <hr/>
    </div>

    <div>
        emailConfirm:
        <hr/>
        errors: {{f.emailConfirm.errors | json}} <br/>
        touched: {{f.emailConfirm.touched | json}}
        <hr />
    </div> -->

</div>
