// :host {
//   border: 3px solid green;
// }

.sit-data-checkbox-component {

  &.sit-data-checkbox-container {
    // border: 1px solid green;
    // padding: 5px 5px;
    font-size: 12px;
    // margin: 0px 3px 0px;

    // padding-left: 3px;
    // padding-right: 3px;
    padding: .5em 4px;

    display: flex;
    flex: 0 1 .01px;;
    align-content: center;
    line-height: normal;
  }

  .mat-checkbox {
    display: flex;
    font-family: inherit;

    .mat-checkbox-layout {
      display: inline-flex;
      align-content: center;
      align-items: center;
      margin: auto;

      .mat-checkbox-label,
      .mat-checkbox-inner-container {
        display: flex;
      }
      .mat-checkbox-inner-container {
        margin-right: 3px;
      }
      // .mat-checkbox-label {
      //   line-height: normal;
      // }
    }
  }


  // input {
  //   border: 1px solid red;
  //   margin: .4rem;
  // }

}








