
<div *ngIf="label && checkBoxList.length" ngClass="checkbox-list-label">
    {{label}}&nbsp;
    <mat-icon *ngIf="icon" aria-hidden="false">{{icon}}</mat-icon>
</div>

<!-- {{getCheckBoxList | json}} -->

<div *ngIf="checkBoxList.length" ngClass="checkbox-list-content">

    <div class="swich-all position-top mat-toolbar mat-accent">
        <div class="all" (click)="onSwitch($event, 'all')" title="zaznacz każdy">
            <mat-icon aria-hidden="false">fact_check</mat-icon>
        </div>
        <div class="none" (click)="onSwitch($event, 'none')" title="wyłącz wszystkie">
            <mat-icon aria-hidden="false">disabled_by_default</mat-icon>
        </div>
    </div>

    
    <ng-container 
        [ngTemplateOutlet]="chkElementList"
        [ngTemplateOutletContext]="{chkList: getCheckBoxList}"
    ></ng-container>    

    <!-- <div class="swich-all mat-toolbar mat-accent">
        <div class="all" (click)="onSwitch($event, 'all')" title="zaznacz każdy">
            <mat-icon aria-hidden="false">fact_check</mat-icon>
        </div>
        <div class="none" (click)="onSwitch($event, 'none')" title="wyłącz wszystkie">
            <mat-icon aria-hidden="false">disabled_by_default</mat-icon>
        </div>
    </div> -->
</div>





<!-- TEMPLATES -->

<ng-template #chkElementList let-chkList="chkList">
    <div *ngFor="let chk of chkList" ngClass="checkbox-list-el" [class.label-position-before]="labelPosition === 'before'">

        <label [for]="chk.id" [ngClass]="(colors ? chk.id : null)">

            <input 
                type="checkbox" 
                [id]="chk.id" 
                [name]="chk.id" 
                [value]="chk.value" 
                (change)="onChange($event)" 
                [checked]="(chk.value === '1' ? true : false)"
            />

            <span [style.color]="chk.color">
                {{chk.description}}
            </span>

        </label>
    </div>
</ng-template>








