<sit-dict-container ident="sitStockForWarehousesAndRestGroup" #sitDictcontainer fxFill>
  <mat-tab-group id="tab-group" animationDuration="0ms">
    <mat-tab label="Stany">
      <div fxLayout="column" fxFill class="content">
        <sit-data-set-container ident="sitFilter" >
          <div class="sit-filter-bar" fxLayout="row">
            <sit-data-input #sitControl field="Search" label="Filtruj produkty" placeholder="" appearance="outline" style="width: 300px;"></sit-data-input>
            <sit-data-input #sitControl field="w1" label="Magazyn 1" placeholder="" appearance="outline" style="width: 100px;"></sit-data-input>
            <sit-data-input #sitControl field="w2" label="Magazyn 2" placeholder="" appearance="outline" style="width: 100px;"></sit-data-input>
            <sit-data-input #sitControl field="w3" label="Magazyn 3" placeholder="" appearance="outline" style="width: 100px;"></sit-data-input>
            <sit-data-input #sitControl field="w4" label="Magazyn 4" placeholder="" appearance="outline" style="width: 100px;"></sit-data-input>
            <sit-data-input #sitControl field="SaleStatus" label="Status sprz." placeholder="" appearance="outline" showRefreshButton="true" style="width: 180px;"
              [lookupDisplayFields] = "['SaleStatus', 'SaleStatusDescription']"
            ></sit-data-input>
          </div>
        </sit-data-set-container>
        <sit-data-set-container ident="sitStocks" fxFlex fxLayout="column">
          <div class="data-table" fxFlex>
            <ag-grid-angular
              #sitSetDataSource
              style="width: 100%; height: 100%;"
              class="ag-theme-balham"
            >
            </ag-grid-angular>
          </div>
        </sit-data-set-container>
      </div>
    </mat-tab>
    <mat-tab label="Sprzedaż">
      <div fxLayout="column" fxFill class="content">
        <sit-data-set-container ident="sitFilterSale" >
          <div class="sit-filter-bar" fxLayout="row">
            <sit-data-input #sitControl field="Search" label="Filtruj produkty" placeholder="" appearance="outline" style="width: 300px;"></sit-data-input>
            <sit-data-input #sitControl field="SaleStatus" label="Status sprz." placeholder="" appearance="outline" showRefreshButton="true" style="width: 180px;"
              [lookupDisplayFields] = "['SaleStatus', 'SaleStatusDescription']"
            ></sit-data-input>
          </div>
        </sit-data-set-container>
        <sit-data-set-container  ident="sitSaleParams" fxLayout="row" style="margin-bottom: 5px" style="width: 100%;">
          <sit-data-label type="text" #sitControl field="SaleDateFrom" label="Sprzedaż od:"></sit-data-label>
          <sit-data-label type="text" #sitControl field="SaleDateTo" label="do:" ></sit-data-label>
        </sit-data-set-container>
        <sit-data-set-container ident="sitSale" showActionsToolbar="true" fxFlex fxLayout="column">
          <div class="data-table" fxFlex>
            <ag-grid-angular
              #sitSetDataSource
              style="width: 100%; height: 100%;"
              class="ag-theme-balham"
            >
            </ag-grid-angular>
          </div>
        </sit-data-set-container>

      </div>
    </mat-tab>
  </mat-tab-group>
</sit-dict-container>
