@import '~@angular/material/theming';

$background-color: #e1e7ec ;//#FF8F1C;//
$content-background-color: #e1e7ec;//#F9F9F9;
$edit-form-background-color: white;
$messagebox-background-color: #ffb66b;//#ffb3b3;// #ffffb3;
$toolbar-color: #63666A;
$toolbar-text-color: white;

$sidenav-background-color: #47494d;
$sidenav-item-active:#47494d;
$sidenav-font-color: #d0d1d2;
$sidenav-hover-color: #47494d;

$table-header-color: #919191;
$table-header-font-color: white;
$table-cell-font-color: black;
$table-footer-color: #B3B3B0;
$table-row-odd-color: #F9F9F9;
$table-row-even-color: white;
$table-row-hover-color: #D7D7D5;
$table-row-selected-color: #b5c3d0;// #FFC78E;
$table-row-selected-hover-color: #839bb1;// #FFB160;

$form-header-color: #e0e0e0;
$form-body-color: #F9F9F9;

$tab-header-color: #839bb1;// rgb(180, 180, 180); //kolor zakładek
$tab-header-selected-color: #839bb1;// rgb(212, 212, 212); //kolor aktywnej zakładki
$tab-font-color: black;
$tab-ink-bar-color: rgb(70, 70, 70);

$mat-myapp-primary: (
  50 : #e1e7ec,
  100 : #b5c3d0,
  200 : #839bb1,
  300 : #517392,
  400 : #2c557a,
  500 : #073763,
  600 : #06315b,
  700 : #052a51,
  800 : #042347,
  900 : #021635,
  A100 : #6d97ff,
  A200 : #3a73ff,
  A400 : #074fff,
  A700 : #0044ec,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
      )
);

$mat-myapp-accent: (
  50 : #f6f6f6,
  100 : #eaeaea,
  200 : #dcdcdc,
  300 : #cdcdcd,
  400 : #c3c3c3,
  500 : #b8b8b8,
  600 : #b1b1b1,
  700 : #a8a8a8,
  800 : #a0a0a0,
  900 : #919191,
  A100 : #ffffff,
  A200 : #fefafa,
  A400 : #ffc7c7,
  A700 : #ffadad,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,        )
);

$primary: mat-palette($mat-myapp-primary);
$accent: mat-palette($mat-myapp-accent);
$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
