/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");


.container{
  //display: flex;
  //flex-direction: column;
  width: 100%;
  padding-right: 5px;
  padding-left: 5px;
  margin-left: 0px;
  margin-right: 0px;
  //min-width: 1200px;
}

a { cursor: pointer }

body {
  background-color: #D0D0CE;
  color: #63666A;
}

$mat-myapp-primary: (
  50 : #eceded,
  100 : #d0d1d2,
  200 : #b1b3b5,
  300 : #929497,
  400 : #7a7d80,
  500 : #63666a,
  600 : #5b5e62,
  700 : #515357,
  800 : #47494d,
  900 : #35383c,
  A100 : #99b9f8,
  A200 : #6998f5,
  A400 : #2c72ff,
  A700 : #1361ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #ffffff,
      A700 : #ffffff,
    )
);

$mat-myapp-accent: (
  50 : #eceded,
  100 : #d0d1d2,
  200 : #b1b3b5,
  300 : #929497,
  400 : #7a7d80,
  500 : #63666a,
  600 : #5b5e62,
  700 : #515357,
  800 : #47494d,
  900 : #35383c,
  A100 : #99b9f8,
  A200 : #6998f5,
  A400 : #2c72ff,
  A700 : #1361ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$primary: mat-palette($mat-myapp-primary);
$accent: mat-palette($mat-myapp-accent);

$theme: mat-light-theme($primary, $accent);


@include angular-material-theme($theme);
