/* You can add global styles to this file, and also import other style files */
@import "./theme";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/themes/luna-amber/theme.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";

.ag-theme-alpine {
    @include ag-theme-alpine();
}

//NGX
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/themes/material.css';
@import '~@swimlane/ngx-datatable/themes/dark.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';


html {
  height: 100%;
  margin: 0 auto;
  max-width: 1920px;
}

body {
  background-color: $background-color;
  min-height: 100%;
  height: 100%;

}

.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.container-rows{
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: $background-color;
}
.container-cols{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  //min-height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: $background-color;
}

.container-menu{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: $sidenav-background-color;
}

.content {
  padding: 5px;
  margin: 3px 3px 3px 3px;
  height: calc(100% - 6px);
  background-color: $content-background-color;

}
.content-left {
  padding: 5px;
  margin: 5px 0px 5px 5px;
  height: 99%;
  background-color: $content-background-color;

}

.sit-form {
  box-shadow: 2px 2px 25px -9px rgba(0,0,0,0.73);;
}
.sit-form-header {
  background-color: $form-header-color;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 8px;
}

.sit-form-body {
  background-color: $form-body-color;
  padding: 8px;

}
.router-flex {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  background-color: transparent;
}

.sidenav {
  padding: 0px;
  background-color: $sidenav-background-color !important;
}

mat-toolbar{
  // display: flex !important;
  // flex-direction: row !important;
  //background-color: $toolbar-color !important;
  min-height: 42px !important;
}
mat-toolbar-row{
  display: flex !important;
  flex-direction: row !important;
;
}

mat-toolbar-row,mat-toolbar-single-row{
  min-height: 42px !important;
  height: 42px !important;
  background-color: $toolbar-color !important;
  width: 100%;
  min-width: 100%;
  padding: 0px 2px 0px 2px !important;
}

.fill-space{
  flex: 1 1 auto;
}

a { cursor: pointer }

button:focus {
  outline: none;
}

.ngx-datatable.material.div.visible {
  height: 100%;
  display: flex;
  flex-direction: column;
  }


.ngx-datatable.material{
  //position: absolute !important;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.35);
  //height: 100% !important;
  //min-height: 100% !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  .datatable-header{
    background-color:$table-header-color;
    min-height: 30px;
    .datatable-header-cell{
      min-height: 30px;
      padding: 2px 5px 2px 5px;
      color: $table-header-font-color;
      background-color:$table-header-color;
      font-size: 13px;
      border-right: 1px solid lightgray;
    }
  }
  .datatable-body{
    flex-basis: 100%;
    height: 100%;
    .datatable-body-row{
      min-height: 30px;
      border-bottom: 1px solid #e9e8dd ;
      .datatable-body-cell{
        min-height: 30px;
        padding: 2px 8px 2px 8px;
        border-right: 1px solid #e9e8dd;
        font-size: 12px;
        color: $table-cell-font-color;

      }
    }

  }

}
.ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover .datatable-row-group
{
  background: $table-row-hover-color;
}

.ngx-datatable.material:not(.cell-selection) .datatable-body-row.active:hover .datatable-row-group
{
  background: $table-row-selected-hover-color;
}

.ngx-datatable.material:not(.cell-selection) .datatable-body-row.active .datatable-row-group{
  background: $table-row-selected-color;

}

.ngx-datatable.material .datatable-body .datatable-body-row.datatable-row-even {
  background-color: $table-row-even-color;
}

.ngx-datatable.material .datatable-body .datatable-body-row.datatable-row-odd {
  background-color: $table-row-odd-color;
}



$mat-myapp-primary: (
  50 : #eceded,
  100 : #d0d1d2,
  200 : #b1b3b5,
  300 : #929497,
  400 : #7a7d80,
  500 : #63666a,
  600 : #5b5e62,
  700 : #515357,
  800 : #47494d,
  900 : #35383c,
  A100 : #99b9f8,
  A200 : #6998f5,
  A400 : #2c72ff,
  A700 : #1361ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #ffffff,
      A700 : #ffffff,  )
);

$mat-myapp-accent: (
  50 : #e1e1e1,
  100 : #b5b5b5,
  200 : #848484,
  300 : #535353,
  400 : #2e2e2e,
  500 : #090909,
  600 : #080808,
  700 : #060606,
  800 : #050505,
  900 : #020202,
  A100 : #a6a6a6,
  A200 : #8c8c8c,
  A400 : #737373,
  A700 : #666666,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #ffffff,
      A700 : #ffffff,

  )
);

$primary: mat-palette($mat-myapp-primary);
$accent: mat-palette($mat-myapp-accent);

$theme: mat-light-theme($primary, $accent);


@include angular-material-theme($theme);
