@import "./styles/reset";

/* You can add global styles to this file, and also import other style files */
@import "./theme";


@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import "@angular/material/prebuilt-themes/indigo-pink.css";

//@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "./styles/iconfont/materialicons.css";


// @import "../node_modules/font-awesome/css/font-awesome.min.css";
// @import "@fortawesome/fontawesome-free/css/all.min.css";
@import "@fortawesome/fontawesome-free/css/all.css";
// @import "@fortawesome/fontawesome-free/css/brands.css";

// @import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
// @import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";

// C:\Projekty\SeidoIt\novum\node_modules\@fortawesome\fontawesome-free\scss\fontawesome.scss



//ag-Grid
@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-balham/sass/ag-theme-balham-mixin.scss";

.ag-theme-alpine {
    @include ag-theme-alpine();
}

.ag-theme-balham {
  @include ag-theme-balham();
}

.mat-toolbar,
.ag-theme-balham,
.mat-tab-group {
  font-family: inherit;
}

@media print {
  body {
    min-width: auto !important;
  }
}

.grid-cell-centered {
  text-align: center;
}


@import "./styles/bootstrap/forms";
@import "./styles/bootstrap/alert";
@import "./styles/bootstrap/spinner";
@import "./styles/bootstrap/headers";


@import "./styles/seido/colors-funcional";

@import "./styles/seido/mainBack";
@import "./styles/tests/jcTests";

@import "./styles/seido/lookup-options-style";


// obsługa ngx-json-viewer globalnie
@import "./styles/seido/sit-dict-container-json";

// @import "./styles/seido/sit-actions-toolbar";
// @import "./styles/seido/sit-office-doc-headers-component";

// TESTY

.company-publicat-context {
  .toolbar-top-nav {
    // background-color: var(--darkred-color) !important;
    background-color: #79ab00 !important;
  }
}



// @import "./styles/tests/tmp-borders.scss";
// @import "./styles/tests/tmp-borders2.scss";

