<sit-dict-container ident="sitAccountingSchemas" #sitDictcontainer ngClass="flex-container-column content">
  <as-split direction="horizontal">
    <as-split-area [size]="30">
      <sit-data-set-container ident="sitAccountingSchemasFilter" ngClass="flex-container-row sit-filter-bar">
        <sit-data-input #sitControl field="search" label="Filtruj" placeholder="Typ, nazwa" appearance="outline" style="width: 150px;" [showRefreshButton]="true"></sit-data-input>
      </sit-data-set-container>
      <sit-data-set-container  ident="sitAccountingSchemas" showActionsToolbar="true" ngClass="flex-container-column">
        <ag-grid-angular 
          #sitSetDataSource 
          class="ag-theme-balham">
        </ag-grid-angular>
      </sit-data-set-container>
    </as-split-area>
    <as-split-area [size]="70">
      <mat-tab-group id="tab-group" animationDuration="0ms">
        <mat-tab label="Skrypt"> 
          <sit-data-set-container  ident="sitAccountingSchemas" [showActionsToolbar]="false" ngClass="flex-container-column">
            <sit-simple-container title="Skrypt" ngClass="flex-container-column sqlbatch-container">
              <sit-data-label #sitControl field="SQLBatch"></sit-data-label>
            </sit-simple-container>
          </sit-data-set-container>
        </mat-tab>
        <mat-tab label="Dokumenty księgowe">
          <sit-data-set-container  ident="sitAccountingSchemaAccountingDocTypes" showActionsToolbar="true" ngClass="flex-container-column">
            <ag-grid-angular 
              #sitSetDataSource 
              class="ag-theme-balham">
            </ag-grid-angular>
          </sit-data-set-container>
            </mat-tab>
      </mat-tab-group>
    </as-split-area>
  </as-split>
</sit-dict-container>