.sit-accounting-schemas-component{

  .sqlbatch-container {
    .sit-data-label-component{
      border: none;

      .sit-data-label-value{
        margin-left: 5px;
        font-size: .7rem;
        white-space: pre-wrap;
      }
  
    }

  }
}