<mat-select 
  *ngIf="hasLookup"   
  #lookupElement 
  ngClass="lookup-select lookup-options-container"
  panelClass="lookup-select-panel-class"
  (selectionChange)="onLookupSelect($event)"
  disableOptionCentering
  [style.max-width]="max-content"
>
  <mat-option 
    *ngFor="let record of lookupRows | async" 
    [value]="getLookupValue(record)"
    ngClass="lookup-option-element"
  >
    
    <span *ngFor="let dispField of lookupDisplayFields" class="displayField {{dispField}}" title="{{record[dispField]}}">
      {{record[dispField]}}
    </span>

    <!-- <ng-container *ngIf="!lookupDisplayFields">
      {{getLookupDisplay(record)}}
    </ng-container> -->
    
    <span  *ngIf="!lookupDisplayFields" ngClass="displayField {{field}}" title="{{getLookupDisplay(record)}}">
      {{getLookupDisplay(record)}}
    </span>

  </mat-option>
</mat-select>


<mat-form-field 
  [ngClass]="{'sit-data-input-form-field':true, 'number-formated-type': numberFormatedType, 'form-field-invalid': IsInvalidField }"
  appearance="{{ appearance }}" 
>
  
  <mat-label>{{label}}</mat-label>


  <!-- * * * * numberFormatedType * * * * -->
    
  <input 
    *ngIf="numberFormatedType"
    matInput 
    #inputElement
    [id]="id"
    [value]="value"
    type="text"
    ngClass="number-formated-type-edit"
    [pattern]="numberFormatedTypeRegexFieldPattern"
    [id]="id"
    [placeholder]="placeholder"
    [readonly]="readonly"
    [required]="Required"
    (change)="onChange($event)"
    (keyup)="onKeyup($event)"
    (keyup.enter)="onKeyupEnter($event)"
    (blur)="onBlur($event)"
    autocomplete="off"
  />

  <mat-hint 
    class="mat-error" 
    *ngIf="numberFormatedType && IsInvalidField" 
  >
    {{getValidationMessage()}}
  </mat-hint>

  <p 
    *ngIf="numberFormatedType" 
    ngClass="number-formated-type-view"
    [attr.data-formatInfo]="digitsInfo"
  >
    {{ numberValueToFormatedView | number:digitsInfo:'pl-PL'}}
  </p>

  <!-- * * * * numberFormatedType * * * * -->




  <input *ngIf="!numberFormatedType"
    matInput 
    #inputElement
    [id]="id"
    [value]="value"
    [type]="type"
    [id]="id"
    [placeholder]="placeholder"
    [readonly]="readonly"
    [atrr.required]="Required"
    (change)="onChange($event)"
    (keyup)="onKeyup($event)"
    (keyup.enter)="onKeyupEnter($event)"
    (blur)="onBlur($event)"
    autocomplete="off"
  />

  <div *ngIf="hasLookup" [ngClass]="{'hasLookup': hasLookup, 'loading': lookupIsLoading}" fxLayoutAlign="center center" >
    <span
      ngClass="material-icons lookupDropDawn"
      *ngIf="hasLookup && !lookupIsLoading"
      (click)="onLookupOpen()"
    >
      arrow_drop_down
    </span>
    <div *ngIf="lookupIsLoading" ngClass="spinner-border text-muted"></div>
  </div>
    
</mat-form-field>

<sit-refresh-button *ngIf="showRefreshButton" tooltip="Odśwież"></sit-refresh-button>

