$input-height: 40px;

.sit-data-input-component {
  display: flex;
  flex-direction: row;

  .invalid-tooltip {
    display: block;
    top: 85%;
    left: -0.7em;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    z-index: 10;
    border-radius: 0 .375rem .375rem .375rem;
    font-size: 1em;
  }

  .negative-value {
    color: var(--darkred-color);
  }

  // input:invalid {
  //   color: #f00;
  // }

  .mat-hint {
    background-color: #fff;
    font-size: 1.1em;
    padding: 0 .2em;
  }

  .sit-data-input-form-field {
    
    &.number-formated-type {

      .number-formated-type-view {
        position: static;
      }
      .number-formated-type-edit {
        position: absolute;
        left: -1000px;
      }

      &.mat-focused {

        .number-formated-type-view {
          position: absolute;
          left: -1000px;
        }
        .number-formated-type-edit {
          position: static;
        }
      }
    }

    &.number-formated-type:is(.form-field-invalid) {
      .number-formated-type-view {
        position: absolute;
        left: -1000px;
      }
      .number-formated-type-edit {
        position: static;
      }
    }

    &.form-field-invalid {

      .mat-form-field-outline {
        color: #f00;
      }
    }
  }


  .mat-form-field-label {
    display: flex !important;

    .mat-form-field-required-marker {
      color: #600;
      font-size: 1.2em;
      line-height: 0.9em;
      margin-left: 0.1em;
    }
  }
}







.lookup-select-panel-class {
  margin-top: $input-height !important;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  max-width: max-content !important;
  width: auto;



  mat-option {
    display: flex;
    flex: auto;
    flex-direction: column;
    height: auto !important;
    min-height: 2em;
    max-height: max-content;
    line-height: inherit !important;
    align-items: start;
    // max-width: max-content;
    // min-width: max-content;

    .mat-option-ripple {
      border-bottom: 1px dotted #999;
    }

    .mat-option-text {
      display: flex;
      flex-direction: row;
      flex: auto;
      overflow: auto;
      text-overflow: inherit;
      align-items: center;
      font-size: 0.75rem;
      line-height: 1.7em;

      span {
        flex: 1 1 max-content;
        font-size: 0.75rem;
        line-height: 1.7em;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-right: 0.5em;
      }
    }
  }
}

.lookup-select {
  visibility: collapse;
  width: 0px !important;
}

button {
  margin-right: 8px;
}

.hasLookup {
  margin-top: -11px;
  margin-right: -6px;
  border: solid 1px;
  border-radius: 5px;
  border-color: lightgray;
  background-color: #f5f5f0;
  width: 23px;
  height: 30px;
  cursor: pointer;
  .mat-select {
        visibility: collapse;
  }

  .lookupDropDawn {
        align-self: center;
  }
  &.loading {
    background-color: transparent;
    border: none;
  }
}

.hasLookup:hover {
  background-color: #d6d6c2;
  &.loading {
    background-color: transparent;
  }
}

.mat-form-field {
  min-width: 50px !important;
  width: auto !important;
  height: 47px;
  font-size: 12px;
  flex: 1 1 0%;
  display: flex;


  .mat-form-field-wrapper {
    height: $input-height;
    padding: 0px 1px 5px;

    .mat-form-field-infix {
      width: auto;
      height: $input-height;
      padding-top: 7px;
      display: inline-flex;

      .spinner-border {
        width: 1.8em;
        height: 1.8em;
        --bs-spinner-border-width: 0.2em;
      }

      .mat-form-field-label-wrapper {
        padding-top: 7px;
      }
      .mat-select-value, .mat-select-arrow {
        display: none;
        max-width: 100%;
        width: auto;
      }
    }
  }
}

sit-refresh-button {
  margin: .25em 0;
}


.right {
  text-align: right !important;
}
