<sit-proc-params
  [(actionExecuteData)]="actionExecuteData"
  >
  <sit-data-set-container ident="sitAppUsersEdit" fxLayout="column">
      <div fxFill style="padding: 5px;">
        <div fxLayout="column">
          <sit-data-input type="password" id="NewPassword" #sitControl field="NewPassword" label="Nowe hasło" [showRefresh]=false appearance="outline" style="width: 300px" readonly="false"></sit-data-input>
          <sit-data-input type="password" id="RepeatNewPassword" #sitControl field="RepeatNewPassword" label="Powtórz nowe hasło" [showRefresh]=false appearance="outline" style="width: 300px" readonly="false"></sit-data-input>
        </div>
      </div>

  </sit-data-set-container>
</sit-proc-params>
