<sit-proc-params
  [(actionExecuteData)]="actionExecuteData"
  >
  <sit-data-set-container ident="sitAppUsersEdit" fxLayout="column" >
    <div class="sit-proc-params-content" fxLayout="column">
      <sit-data-input #sitControl fxFlex type="password" field="NewPassword" label="Nowe hasło" [showRefresh]=false appearance="outline" readonly="false"></sit-data-input>
      <sit-data-input #sitControl fxFlex type="password" field="RepeatNewPassword" label="Powtórz nowe hasło" [showRefresh]=false appearance="outline" readonly="false"></sit-data-input>
    </div>

  </sit-data-set-container>
</sit-proc-params>
