<sit-proc-params
  [(actionExecuteData)]="actionExecuteData"
  >
  <sit-data-set-container ident="sitProcRoyaltyCalcOnePublication">
    <div class="sit-proc-params-content" fxLayout="column">
      <!-- <sit-data-input type="number" #sitControl field="sitPublicationsId" label="sitPublicationsId" appearance="outline" fxFlex></sit-data-input> -->
      <sit-data-input type="text" #sitControl field="PublicationIdent" label="Publikacja" appearance="outline"></sit-data-input>
      <sit-data-input type="date" #sitControl field="Date" label="Na dzień" appearance="outline" ></sit-data-input>
    </div>
  </sit-data-set-container>
</sit-proc-params>
