<sit-dict-container ident="sitRailConfigurations" #sitDictcontainer class="container-cols">
  <div class="container-cols" >
    <div class="content">
      <div style="flex: 0 1 auto;">
        <sit-data-source-container  ident="sitFilter" >
        <span>
          <sit-data-input #sitControl field="searchRailConfigurations" label="Filtruj"></sit-data-input>
        </span>
        </sit-data-source-container>
      </div>
      <div  style="flex: 1 1 auto;">
        <div class="data-table">
        <sit-data-source-container ident="sitRailConfigurations">
          <ngx-datatable #sitRailConfigurations #sitSetDataSource
            class="material striped"
            [columnMode]="ColumnMode.force"
            [limit]=5
            [footerHeight]="50"
            [selected]="sitRailConfigurationsSelected"
            [selectionType]="SelectionType.single"
            [selectAllRowsOnPage]="false"
            [displayCheck]="displayCheck"
            (activate)="onActivateRailConfigurations($event)"
            (select)="onSelectRailConfigurations($event)"
            [footerHeight]="50"
          >
          <!-- Row Detail Template -->
          <ngx-datatable-row-detail [rowHeight]="300" #myDetailRow (toggle)="onDetailToggle($event)">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
              <div style="padding: 0px 20px 0px 20px; width:100%; height:100%;">
                <div><h6>Data</h6></div>
                <div><textarea name="Data" rows="13" >{{ row.Data }}</textarea></div>
              </div>
            </ng-template>
          </ngx-datatable-row-detail>

          <!-- Column Templates -->
          <ngx-datatable-column
            [width]="30"
            [resizeable]="false"
            [sortable]="false"
            [draggable]="false"
            [canAutoResize]="false"
          >
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
              <a style="text-decoration: none;"
                href="javascript:void(0)"
                [class.datatable-icon-right]="!expanded"
                [class.datatable-icon-down]="expanded"
                title="Expand/Collapse Row"
                (click)="toggleExpandRow(row)"
              >
              </a>
            </ng-template>
          </ngx-datatable-column>

            <ngx-datatable-column prop="sitRailConfigurationsId" name="Id" [canAutoResize]="false" [width]="50">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <div style="text-align: right;">
                  {{value}}
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="sitCompaniesId" name="CompanyId" [canAutoResize]="false" [width]="80">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <div style="text-align: right;">
                  {{value}}
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="CompanyIdent" name="Company Ident"></ngx-datatable-column>
            <ngx-datatable-column prop="ClientGuid" name="ClientGuid"></ngx-datatable-column>
            <ngx-datatable-column prop="UserLogin" name="User Login"></ngx-datatable-column>
            <ngx-datatable-column prop="OperationIdent" name="OperationIdent"></ngx-datatable-column>
            <ngx-datatable-column prop="IsActive" [width]="50">
              <ng-template let-column="column" ngx-datatable-header-template>
                IsActive
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                <div style="text-align: center;">
                  <input type="checkbox" id="IsActive" name="IsActive" value="value" disabled=true [checked]="value == 1">
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="Timeout" name="Timeout"></ngx-datatable-column>
            <ngx-datatable-column prop="TransformProcedure" name="Transform procedure"></ngx-datatable-column>
            <ngx-datatable-column prop="ConvertFunctionForParams" name="ConvertFunctionForParams"></ngx-datatable-column>
          </ngx-datatable>
          <div>
            <mat-form-field appearance="fill" style="width: 100%;">
              <mat-label>CompanyId</mat-label>
              <input matInput value="{{ activeRowRailConfigurations?.sitCompaniesId }}" >
            </mat-form-field>
            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>OperationIdent</mat-label>
              <input matInput value="{{ activeRowRailConfigurations?.OperationIdent }}" >
            </mat-form-field>
            <mat-form-field appearance="fill" style="width: 100%;">
              <mat-label>ClientGuid</mat-label>
              <input matInput value="{{ activeRowRailConfigurations?.ClientGuid }}" >
            </mat-form-field>
            <mat-form-field appearance="fill" style="width: 100%;">
              <mat-label>UserLogin</mat-label>
              <input matInput value="{{ activeRowRailConfigurations?.UserLogin }}" >
            </mat-form-field>
            <p>
            <mat-form-field appearance="fill" style="width: 100%;">
              <mat-label>Data</mat-label>
              <textarea matInput rows="20" value="{{ activeRowRailConfigurations?.Data }}" style="resize:none;"></textarea>
            </mat-form-field>
          </p>
          </div>
        </sit-data-source-container>
        </div>
      </div>
    </div>
  </div>
</sit-dict-container>
