<div class="content">
  <sit-dict-container ident="sitRailConfigurations" class="container-cols">
    <sit-data-source-container  ident="sitFilter" >
      <mat-form-field>
        <mat-label>Filtruj</mat-label>
        <input matInput (keyup)="onFilterKey($event)" type="text" name="searchRailConfigurations" field="searchRailConfigurations"/>
      </mat-form-field>
    </sit-data-source-container>
     <div class="data-table">
       <sit-data-source-container ident="sitRailConfigurations">
        <ngx-datatable #sitMenu #sitSetDataSource
          class="material striped"
          [columnMode]="ColumnMode.force"
          [limit]=20
          [selected]="sitRailConfigurationsSelected"
          [selectionType]="SelectionType.single"
          [selectAllRowsOnPage]="false"
          [displayCheck]="displayCheck"
          (activate)="onActivateRailConfigurations($event)"
          (select)="onSelectRailConfigurations($event)"
        >
          <ngx-datatable-column prop="RailConfigurationId" name="Id"></ngx-datatable-column>
          <ngx-datatable-column prop="CompanyId" name="CompanyId"></ngx-datatable-column>
          <ngx-datatable-column prop="ClientGuid" name="ClientGuid"></ngx-datatable-column>
          <ngx-datatable-column prop="UserId" name="UserId"></ngx-datatable-column>
          <ngx-datatable-column prop="OperationIdent" name="OperationIdent"></ngx-datatable-column>
          <ngx-datatable-column prop="Data" name="Data"></ngx-datatable-column>
          <ngx-datatable-column prop="IsActive" name="IsActive"></ngx-datatable-column>
          <ngx-datatable-column prop="Timeout" name="Timmeout"></ngx-datatable-column>
          <ngx-datatable-column prop="TransformProcedure" name="Transform procedure"></ngx-datatable-column>
          <ngx-datatable-column prop="ConvertFunctionForParams" name="ConvertFunctionForParams"></ngx-datatable-column>
        </ngx-datatable>
      </sit-data-source-container>
    </div>
  </sit-dict-container>
</div>
