<sit-proc-params
  [(actionExecuteData)]="actionExecuteData"
  >
  <sit-data-set-container ident="sitAgreementsEdit">
    <div class="sit-proc-params-content" fxLayout="column">
      <div fxLayout="row">
        <sit-data-input type="text" #sitControl field="AgreementNo" label="Numer" [showRefresh]=false appearance="outline" fxFlex></sit-data-input>
        <sit-data-input type="date" #sitControl field="Date" label="Data umowy" [showRefresh]=false appearance="outline"></sit-data-input>
        <sit-data-input type="date" #sitControl field="DateTo" label="Data zakończenia" [showRefresh]=false appearance="outline"></sit-data-input>
        <!-- <sit-files-button #sitSimpleButton fieldIdent="sitAgreementsG" ></sit-files-button> -->
      </div>
      <sit-data-textarea type="textarea" #sitControl field="AgreementDesc" label="Opis" appearance="outline" rows="10" cols="80" style="padding-left: 5px;"></sit-data-textarea>
    </div>
  </sit-data-set-container>
</sit-proc-params>
