<sit-proc-params [(actionExecuteData)]="actionExecuteData">
  <sit-data-set-container ident="sitBankTransferPositionsEdit">
    <div class="sit-proc-params-content" fxLayout="column" style="width: 600px;">
      <div ngClass="flex-container-row">
        <sit-data-input #sitControl type="text" field="CustomerName" label="Kontrahent" required appearance="outline" fxFlex="65"></sit-data-input>
        <sit-data-input #sitControl type="text" field="InvoiceNumber" label="Numer faktury" required appearance="outline" fxFlex="35"
          [lookupDisplayFields] = "['DocumentNumber', 'CustName']">
        ></sit-data-input>
      </div>
      <div ngClass="flex-container-row">
        <sit-data-input #sitControl type="text" field="CustomerStreetAndHouseNum" label="Ulica i numer" appearance="outline" fxFlex="65"></sit-data-input>
        <sit-data-input #sitControl type="text" field="CustomerPostCodeAndCity" label="Kod pocztowi i miasto" appearance="outline" fxFlex="65"></sit-data-input>
      </div>
      <div ngClass="flex-container-row">
        <sit-data-input #sitControl type="text" field="CustomerID" label="Id kontrahenta" required appearance="outline" fxFlex="30"></sit-data-input>
        <sit-data-input #sitControl type="text" field="CustomerBankAccount" label="Konto bankowe kontrahenta" required appearance="outline" fxFlex></sit-data-input>
      </div>
      <div ngClass="flex-container-row">
        <sit-data-input #sitControl type="text" field="PositionDescription" label="Opis pozycji" required appearance="outline" fxFlex></sit-data-input>
        <sit-data-checkbox #sitControl field="IsSplitPayment" label="Split payment"></sit-data-checkbox>
      </div>
      <div ngClass="flex-container-row">
        <sit-data-input #sitControl type="number" field="Gross" label="Brutto" required  digitsInfo="1.2-2" appearance="outline" fxFlex></sit-data-input>
        <sit-data-input #sitControl type="number" field="VAT" label="Vat" required type="number" digitsInfo="1.2-2" appearance="outline" fxFlex></sit-data-input>
        <sit-data-input #sitControl type="date" field="PaymentDate" label="Data wykonania" required appearance="outline" fxFlex="20"></sit-data-input>
      </div>
    </div>
  </sit-data-set-container>
</sit-proc-params>